<div class="courses_dislist" style="overflow-x: auto">
  <table>
    <tr class="table-header">
      <th>Name</th>
      <th>Contact Info</th>
      <th>Grade</th>
      <th>Date Enrolled</th>
      <th></th>
    </tr>
    <tr class="table-body" *ngFor="let student of students">
      <td class="name">
        <div class="dis-flex">
          <img
            src="../../../../../../assets/img/children-avatar/child-avatar-1.png"
            alt=""
          />
          <div>
            <p>{{ student.fullname | titlecase }}</p>
            <p>{{ student.username }}</p>
          </div>
        </div>
      </td>
      <td class="contact-info">
        <p>{{ student.email | titlecase }}</p>
        <p>{{ student.phone }}</p>
      </td>
      <td class="grade">
        <p>{{ student.grade }}</p>
      </td>
      <td class="dateEnrolled">
        <p>{{ student.createdAt | date: "mediumDate" }}</p>
      </td>
      <td class="actions">
        <img src="../../../../../../assets/img/action.svg" alt="" class="clickable" (click)="actionBtn.click()" />
        <input
            type="checkbox"
            name="action-btn"
            id="action-btn"
            style="display: none"
            #actionBtn
          />
          <div class="dropdown">
            <small
              class="body-3-regular delete clickable"
              (click)="openDeleteModal(student)"
              >Delete</small
            >
          </div>
      </td>
    </tr>
  </table>
</div>

<!-- Delete confirmation -->
<app-confirm-delete *ngIf="deleteModal" (deleteModal)="closeDeleteModal()" [data]="student" [deleteUrl]="deleteUrl" [deleteRoutePath]="deleteRoutePath"></app-confirm-delete>
