<div class="courses_dislist" style="overflow-x: auto">
  <div class="courses_dislist_header dis-flex">
    <div class="default-password dis-flex">
      <h5 class="body-2-bold">Default Password:</h5>
      <p class="body-3-regular text-secondary-color"><i>dumena</i></p>
    </div>
  </div>
  <table>
    <tr class="table-header">
      <th>Name</th>
      <th>Parent Email</th>
      <th>Username</th>
      <th>Date Enrolled</th>
      <th></th>
    </tr>
    <ng-container *ngIf="students?.length > 0">
      <tr class="table-body" *ngFor="let student of students; let i = index">
        <td class="name">
          <div class="dis-flex">
            <img
              src="../../../../../../assets/img/children-avatar/child-avatar-1.png"
              alt=""
            />
            <div>
              <p>{{ student.fullname }}</p>
              <p>Grade: {{ student.grade }}</p>
            </div>
          </div>
        </td>
        <td class="contact-info">
          <p>{{ (student.parent_email | titlecase) || "-" }}</p>
          <!-- <p>{{ student.phone }}</p> -->
        </td>
        <td class="grade">
          <p>{{ student.username }}</p>
        </td>
        <td class="dateEnrolled">
          <p>{{ student.createdAt | date: "mediumDate" }}</p>
        </td>
        <td class="actions">
          <img src="../../../../../../assets/img/action.svg" alt="" class="clickable" (click)="toggleAction(i)" />
          <div class="dropdown" [ngClass]="{'active': activeIndex === i}">
            <small
              class="body-3-regular delete clickable"
              (click)="openConfirmModal(student)"
            >Delete</small>
          </div>
        </td>
      </tr>
    </ng-container>
  </table>
  <div style="text-align: center; padding: 1rem;" *ngIf="students?.length === 0">
    <span>No Students found</span>
  </div>
</div>

<!-- Delete confirmation -->
<app-confirm-delete 
  *ngIf="confirmModal" 
  (confrimModal)="closeConfirmModal()" 
  [confirmMessage]="confirmMessage" 
  [confirmUrl]="confirmUrl" 
  (reloadData)="getReloadData()"
></app-confirm-delete>
