@import '../../../../../../assets/css/variables.scss';
@import '../../../../../../assets/css/mixins.scss';
@import '../../../../../../assets/css/dashboard.scss';


 // Courses Display List
 .courses_dislist {
  width: 100%;
  table {
    tr {
      &.table-body {
        td {
          &.name {
            img {
              width: 45px;
              height: auto;
              border-radius: 50%;
              margin-right: $m-2;
            }
          }
          &.contact-info,
          &.name {
            p:nth-child(1) {
                margin-bottom: 0.2rem;
            }
          }
        }
      }
    }

  }
}
