@import '../../../../../../assets/css/variables.scss';
@import '../../../../../../assets/css/mixins.scss';
@import '../../../../../../assets/css/dashboard.scss';


.grouping {
  // margin-top: -$m-3; // Reduce the gap btw the Section title and this container
  // margin-bottom: $m-3;
  justify-content: space-between;
  gap: $m-2;
  // Sort and Filter
  .s-f {
    position: relative;
    .title {
      color: $primary20;
      margin-right: 0.2rem;
    }
    .dropdown-btn {
      i {
        font-size: 18px;
      }
    }
    .s-f-select {
      cursor: pointer;
    }
  }
  .right {
    gap: $m-2;
    .display-type {
      span {
        display: inline-block;
        padding: $m-1;
        border: 1px solid $divider-color;
        border-radius: $border-radius1;
        transition: all .2s;
        cursor: pointer;
        &:hover {
          background-color: $white-color;
        }
        &:not(:last-child) {
          margin-right: $m-2;
        }
        img {
          width: 25px;
          height: 22px;
          vertical-align: middle;
        }
      }
    }
  }
}

 // Courses Display List
 .courses_dislist {
  width: 100%;
  table {
    tr {
      &.table-body {
        td {
          &.name {
            img {
              width: 45px;
              height: auto;
              border-radius: 50%;
              margin-right: $m-2;
            }
          }
          &.contact-info,
          &.name {
            p:nth-child(1) {
                margin-bottom: 0.2rem;
            }
          }
          // Actions
          &.actions {
            position: relative;
            input:checked + .dropdown {
              display: block;
            }
            .dropdown {
              display: none;
              position: absolute;
              top: 50px;
              left: 50%;
              transform: translateX(-50%);
              background: $white-color;
              box-shadow: $box-shadow;
              padding: $m-2;
              border-radius: 2.5px;
              transition: all .2s ease-in;
              .delete {
                color: $error80;
                font-size: 1rem;
              }
              &:hover {
                background-color: $divider-color;
              }
            }
          }
        }
      }
    }

  }
}
