<div class="auth login">
  <div class="auth_content">
    <!-- Logo -->
    <span class="auth_content_logo clickable" routerLink="/">
      <img src="../../../assets/img/logo.svg" alt="" />
    </span>

    <!-- Set new password -->
    <div class="auth_border" *ngIf="id == 'set-new-password'">
      <div class="auth_content_header center">
        <h3 class="title">Set new password</h3>
        <p>
          Your new password must be different from previously used passwords
        </p>
      </div>
      <form
        class="auth_content_form"
        (ngSubmit)="resetNewPassword(usersForm.value)"
        #usersForm="ngForm"
      >
        <div class="form-field col-2">
          <label for="password">Password</label>
          <div class="input-field">
            <input
              type="password"
              name="password"
              [type]="hide ? 'password' : 'text'"
              ngModel
            />
            <i
              [class]="
                hide ? 'bx bx-show clickable icon' : 'bx bx-hide clickable icon'
              "
              (click)="hide = !hide"
            ></i>
          </div>
          <p class="body-3-regular warning">
            Your password must be at least 6 characters
          </p>
        </div>
        <span class="message" *ngIf="showError">{{ errorMessage }}</span>
        <!-- Submit Button -->
        <div class="form-btn col-2">
          <button class="btn prim_btn clickable" *ngIf="!loading">
            <span>Reset Password</span>
          </button>
          <span class="loading-spinner" *ngIf="loading">
            <div class="spinner-3"></div>
          </span>
        </div>
      </form>
      <div class="auth_content_extra">
        <p class="login">
          <span
            class="text-primary-color body-1-bold clickable"
            routerLink="/login"
            >Back to Login</span
          >
        </p>
      </div>
    </div>

    <!-- Password Reset -->
    <app-password-reset *ngIf="id == 'reset-successful'"></app-password-reset>
  </div>
</div>
