<div class="auth_border">
  <div class="auth_content_header center">
    <h3 class="title">Set new password</h3>
    <p>Your new password must be different from previously used passwords</p>
  </div>
  <form class="auth_content_form">
    <div class="form-field col-2">
      <label for="password">Password</label>
      <div class="input-field">
        <input
          type="password"
          name="password"
          [type]="hide ? 'password' : 'text'"
        />
        <i
          [class]="
            hide ? 'bx bx-show clickable icon' : 'bx bx-hide clickable icon'
          "
          (click)="hide = !hide"
        ></i>
      </div>
      <p class="body-3-regular warning">
        Your password must be at least 6 characters
      </p>
    </div>
    <!-- <span class="message" [class.show]="showError">{{ errorMessage }}</span> -->
    <!-- Submit Button -->
    <div class="form-btn col-2">
      <button
        class="btn prim_btn clickable"
        (click)="showSect('password-reset')"
      >
        <!-- <span *ngIf="loading">Loading...</span>
      <span *ngIf="!loading">Login</span> -->
        Reset Password
      </button>
    </div>
  </form>
  <div class="auth_content_extra">
    <p class="login">
      <span class="text-primary-color body-1-bold clickable" routerLink="/login"
        >Back to Login</span
      >
    </p>
  </div>
</div>
