<section class="ds-head dis-flex">
  <h2 class="ds-head_title clickable" routerLink="/learner/library">Library</h2>
  <i class="bx bx-chevron-right icon"></i>
  <p class="clickable" [routerLink]="['/learner/library', course?.id]">
    {{ course?.title | titlecase }}
  </p>
  <i class="bx bx-chevron-right icon"></i>
  <p>{{ currentCourseLesson?.title | titlecase }}</p>
</section>

<section class="">
  <div class="dis-flex course-header">
    <h3 class="course-title">{{ course?.title }}</h3>
  </div>
  <div class="ds-flex">
    <main class="ds-grid">
      <div class="course-video">
        <div class="c-video">
          <video
            class="video"
            [src]="currentCourseLesson?.video_url"
            controls
            controlsList="nodownload"
            #videoPlayer
          ></video>
          <!-- <div class="controls">
            <div class="bar">
              <div class="juice"></div>
            </div>
            <div class="buttons">
              <button id="play-pause"></button>
            </div>
          </div> -->
          <span class="play_icon" (click)="startVideo()" *ngIf="!videoClicked">
            <img src="../../../assets/img/svg/white-play.svg" alt="" />
          </span>
        </div>
        <!-- <iframe
          [src]="currentCourseLesson?.video_url"
          [title]="currentCourseLesson?.title"
          autoplay="0"
          allowfullscreen
        ></iframe> -->
      </div>
      <div class="course-descp">
        <div class="course-descp_header">
          <ul class="dis-flex">
            <li class="body-2-medium active">Course Description</li>
            <li class="body-2-medium">Discussion</li>
          </ul>
        </div>
        <div class="course-descp_body">
          <p>
            {{ course?.description }}
          </p>
          <div class="require">
            <h4>Requirements</h4>
            <ol>
              <!-- <li><p>Hand</p></li>
              <li><p>Glooves</p></li>
              <li><p>Plier</p></li>
              <li><p>Nuts and bolts</p></li>
              <li><p>Dishwasher</p></li>
              <li><p>Cardboard</p></li> -->
              <li><p>None</p></li>
            </ol>
          </div>
          <!-- <div class="activity">
            <h4>Class Activity</h4>
            <p>
              Inventore ex repellat voluptate quisquam. Culpa omnis velit earum
              qui expedita. Tempora qui qui rerum nesciunt perferendis atque
              illum. Deleniti tempora harum aut necessitatibus. Natus sunt
              praesentium.
            </p>
          </div> -->
        </div>
      </div>
    </main>
    <aside>
      <div class="course-content">
        <div class="course-content_header ds-sect-header">
          <h5>Course Content</h5>
          <p class="total-length">Lessons ({{ course?.lessons.length }})</p>
        </div>
        <div class="course-content_list">
          <div
            class="course-content_list_item"
            *ngFor="
              let childItem of course?.lessons;
              let indexOfelement = index
            "
            [class.active]="currentCourseId.lessonId == childItem.id"
            (click)="changeLesson(childItem?.id)"
          >
            <h5 class="heading">Lesson {{ indexOfelement + 1 }}</h5>
            <p
              class="body-1-medium title"
              [title]="childItem.title | titlecase"
            >
              {{ childItem.title | titlecase }}
            </p>
            <span class="dis-flex length">
              <img
                src="../../../assets/img/library/video-play-black.svg"
                alt=""
              />
              <p class="body-3-regular">{{ childItem.duration }}</p>
            </span>
          </div>
        </div>
        <!-- <div class="course-content_tutor">
          <h5>Course Content</h5>
          <div class="course-content_tutor_profile">
            <img
              src="../../../assets/img/library/course-tutor.svg"
              alt="Course Tutor"
              class="image"
            />
            <p class="body-1-medium name">Mikasa Ackerman</p>
            <p class="body-1-regular details">
              Doloremque corrupti laborum. Hic autem qui. Saepe dicta distinctio
              recusandae laborum et. Id et tenetur quas id amet perferendis.
            </p>
          </div>
        </div> -->
      </div>
    </aside>
  </div>
</section>
