<section class="ds-head dis-flex">
  <h2 class="ds-head_title">Library</h2>
  <i class="bx bx-chevron-right icon"></i>
  <p class="clickable" [routerLink]="['/learner/library', course?.id]">
    {{
      course?.title?.length > 20
        ? course?.title.slice(0, 20)  + "..." 
        : course?.title | titlecase
    }}
  </p>
  <i class="bx bx-chevron-right icon"></i>
  <p>
    {{
      modules[currentModuleIndex]?.title?.length > 20
        ? modules[currentModuleIndex]?.title?.slice(0, 20)  + "..." 
        : modules[currentModuleIndex]?.title | titlecase
    }}
  </p>
</section>

<section class="">
  <div class="dis-flex course-header">
    <h3 class="course-title">{{ modules[currentModuleIndex]?.lessons[currentLessonIndex]?.title}}</h3>
  </div>
  <div class="ds-flex">
    <main class="ds-grid">
      <div class="course-video" *ngIf="modules[currentModuleIndex]?.lessons[currentLessonIndex]?.lesson_video">
        <div class="c-video">
          <video
            class="video"
            [src]="modules[currentModuleIndex]?.lessons[currentLessonIndex]?.lesson_video"
            controls
            controlsList="nodownload"
            #videoPlayer
            autoplay
            (ended)="playNextVideo()"
            ></video>
        </div>
      </div>

      <div class="course-descp">
        <div class="course-descp" >
          <div class="course-descp_header">
            <ul class="dis-flex">
              <li class="body-2-medium active">Discussion</li>
              <!-- <li class="body-2-medium active">Course Description</li> -->
            </ul>
          </div>
          <div class="course-descp_body">
            <p>
              {{ modules[currentModuleIndex]?.further_reading }}
            </p>
            <!-- Objectives -->
            <div class="obj">
              <h4>Objectives</h4>
              <ul *ngIf="modules[currentModuleIndex]?.objectives.length > 0">
                <li class="" *ngFor="let objective of modules[currentModuleIndex]?.objectives | keyvalue">
                  <p>{{objective.value}}</p>
                </li>
              </ul>
              <p *ngIf="modules[currentModuleIndex]?.objectives.length === 0">None</p>
            </div>
            <!-- Activities -->
            <div class="acti">
              <h4>Activities</h4>
              <ul *ngIf="modules[currentModuleIndex]?.class_activities.length > 0">
                <li class="" *ngFor="let activity of modules[currentModuleIndex]?.class_activities | keyvalue">
                  <p>{{activity.value}}</p>
                </li>
              </ul>
              <p *ngIf="modules[currentModuleIndex]?.class_activities.length === 0">None</p>
            </div>
            <!-- Further Reading Links -->
            <div class="further_reading_links">
              <h4>Further Reading Links</h4>
              <ul *ngIf="modules[currentModuleIndex]?.further_reading_links.length > 0">
                <li class="" style="display: flex; align-items: center; gap: 2rem; margin-bottom: 1rem;" *ngFor="let readingLinks of modules[currentModuleIndex]?.further_reading_links">
                  <h5>{{readingLinks.caption}}</h5>
                  <p>{{readingLinks.url}}</p>
                </li>
              </ul>
              <p *ngIf="modules[currentModuleIndex]?.further_reading_links.length === 0">None</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <aside>
      <div class="course-content">
        <div class="course-content_header ds-sect-header">
          <h5>Lessons</h5>
          <p class="total-length">Lessons ({{ course?.lesson_count }})</p>
        </div>

        <div class="course-content_list">
          <div
            class="course-content_list_item"
            *ngFor="let module of modules; let moduleIndex = index"
          >
            <label [for]="'checkbox-' + moduleIndex" class="course-content_list_item_module dis-flex clickable" (click)="showModuleLessons()" [title]="module?.title">
              <div class="left dis-flex">
                <span class="numb">{{moduleIndex + 1}}</span>
                <div class="">
                  <h5 class="heading"> 
                    {{
                      module?.title?.length > 15
                        ? module?.title.slice(0, 15)  + "..." 
                        : module?.title
                    }}
                  </h5>
                  <span class="time dis-flex">
                    <img
                      src="../../../../../assets/img/library/clock.svg"
                      alt="image"
                    />
                    <small>{{module?.duration}}</small>
                  </span>
                </div>
              </div>
              <span class="right">
                <i class="bx bx-chevron-down icon chevron-icon"></i>
              </span>
            </label>
          
            <!-- For accordion dropdown -->
            <input type="checkbox" [id]="'checkbox-' + moduleIndex" style="display: none;">

            <div class="course-content_list_item_lessons accordion-body">
              <div class="course-content_list_item_lessons_item dis-flex clickable" *ngFor="let lesson of module?.lessons; let lessonIndex = index" (click)="watchLesson(moduleIndex, lessonIndex)" [title]="lesson?.title" [class.active]="currentModuleIndex + currentLessonIndex === moduleIndex + lessonIndex">
                <div class="left dis-flex">
                  <img
                    src="../../../../../assets/img/library/video-play-black.svg"
                    alt="image"
                    class="icon"
                  />
                  <p
                    class="body-1-medium title"
                  >
                  {{
                    lesson?.title?.length > 15
                      ? lesson?.title?.slice(0, 15)  + "..." 
                      : lesson?.title
                  }}
                  </p>
                </div>
                <span class="right">
                  <p class="body-3-regular">{{lesson?.duration}}</p>
                </span>
              </div>
            </div>
          </div>
          <!-- Module quiz -->
          <span [routerLink]="'quiz/' + course?.quiz_id" class="course-content_list_item_lessons_quiz clickable">
            <div class="left dis-flex">
              <img src="../../../../../assets/img/svg/medal-black.svg" alt="image" class="icon">
                <p>Quiz</p>
            </div>
          </span>
        </div>

        <div class="course-content_tutor">
          <h5>Support and Instructor Information</h5>
          <div class="course-content_tutor_profile">
            <img
              src="../../../../assets/img/logo.svg"
              alt="Course Tutor"
              class="image"
            />
            <p class="body-1-medium name">DUMENA Education Team</p>
            <p class="body-1-regular details">
              This course has been prepared by the DUMENA Education team.
            </p>
          </div>
        </div>
      </div>
    </aside>
  </div>
</section>
