<footer>
  <div class="container">
    <div class="footer_links">
      <div class="about footer_links_item">
        <img
          src="../../../../assets/img/logo.svg"
          alt="image"
          routerLink="/"
          class="clickable"
        />
        <p class="body-2">
          Our Mission is to train and place children aged 5-18 years on track to
          gainful careers in tech.
        </p>
        <ul class="social_icons">
          <li>
            <a href="https://www.facebook.com/hidumena" target="_blank"
              ><i class="bx bxl-facebook-circle"></i
            ></a>
          </li>
          <li>
            <a href="https://twitter.com/hi_dumena" target="_blank"
              ><i class="bx bxl-twitter"></i
            ></a>
          </li>
          <li>
            <a href="https://www.instagram.com/hi_dumena" target="_blank"
              ><i class="bx bxl-instagram"></i
            ></a>
          </li>
          <li>
            <a href="https://www.tiktok.com/@hi_dumena" target="_blank"
              ><i class="bx bxl-tiktok"></i
            ></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/hidumena/" target="_blank"
              ><i class="bx bxl-linkedin"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="others footer_links_item">
        <h4 class="title">Locations</h4>
        <ul>
          <li class="body-1">F.C.T Abuja</li>
          <li class="body-1">Port Harcourt</li>
        </ul>
      </div>
      <div class="others footer_links_item">
        <h4 class="title">Contact Us</h4>
        <ul>
          <li class="body-1">
            <a href="mailto: connect@dumena.com">connect@dumena.com</a>
          </li>
          <li class="body-1">
            <a href="tel: +2349024184777">+2349024184777</a>
          </li>
          <li class="body-1">
            <a href="#"
              >Plot 5, Kwaji Close, off Aguiyi Ironsi Street, Maitama District,
              Abuja FCT
            </a>
          </li>
        </ul>
      </div>
      <div class="others footer_links_item">
        <h4 class="title">About Us</h4>
        <p>
          Our Mission is to train and place children aged 5-18 years on track to
          gainful careers in tech.
        </p>
      </div>
    </div>
  </div>
</footer>
