<section class="ds-head">
  <h2 class="ds-head_title">Courses</h2>
</section>
  
  <section class="grouping dis-flex">
    <!-- Filter -->
    <div class="filter s-f">
      <div class="body-3-regular dis-flex">
        <span class="title">Filter:</span>
        <span class="dropdown dis-flex clickable"
          >All Courses <i class="bx bx-chevron-down"></i
        ></span>
      </div>
    </div>
  
    <div class="right dis-flex">
      <!-- Sort -->
      <div class="sort s-f">
        <div class="body-3-regular dis-flex">
          <span class="title">Sort:</span>
          <span class="dropdown dis-flex clickable"
            >Last modified <i class="bx bx-chevron-down"></i
          ></span>
        </div>
      </div>
      <!-- Display type -->
      <div class="display-type">
        <span (click)="isDisplayGrid = true">
          <img
            src="../../../assets/img/grid.svg"
            alt=""
            [class.active]="isDisplayGrid"
          />
        </span>
        <span (click)="isDisplayGrid = false">
          <img
            src="../../../assets/img/list.svg"
            alt=""
            [class.active]="!isDisplayGrid"
          />
        </span>
      </div>
      <!-- New Course Button -->
      <button class="btn prim_btn" routerLink="create-course">New Course</button>
    </div>
  </section>
  
  <section class="courses">
    <div class="courses_body">
      <app-loader *ngIf="dataLoading"></app-loader>
      <!-- *ngIf="allCourses?.length > 0; else noItems" -->
      <ng-container *ngIf="allCourses?.length > 0">
        <!-- Display List (dislist) -->
        <app-courses-list
          *ngIf="!isDisplayGrid"
          [allCourses]="allCourses"
        ></app-courses-list>
  
        <!-- Display Grid (disgrid) -->
        <app-courses-grid
          *ngIf="isDisplayGrid"
          [allCourses]="allCourses"
        ></app-courses-grid>
      </ng-container>
  
      <!-- Course Blank -->
      <ng-container *ngIf="allCourses?.length == 0">
        <app-courses-blank></app-courses-blank>
      </ng-container>
    </div>
  </section>
  