<div class="auth login">
  <div class="auth_content">
    <!-- Logo -->
    <span class="auth_content_logo clickable" routerLink="/">
      <img src="../../../assets/img/logo.svg" alt="" />
    </span>
    <div class="auth_border" *ngIf="id == 'forgot-password'">
      <div class="auth_content_header center">
        <h3 class="title">Forgot Password?</h3>
        <p>
          Don’t worry, it happens to the best of us! We’ll email you a password
          reset link.
        </p>
      </div>
      <form class="auth_content_form">
        <div class="form-field col-2">
          <label for="email">Email Address</label>
          <div class="input-field">
            <input type="email" name="email" />
          </div>
        </div>
        <!-- <span class="message" [class.show]="showError">{{ errorMessage }}</span> -->
        <!-- Submit Button -->
        <div class="form-btn col-2">
          <button
            class="btn prim_btn clickable"
            (click)="pageChange('check-mail')"
          >
            <!-- <span *ngIf="loading">Loading...</span>
          <span *ngIf="!loading">Login</span> -->
            Send link to email
          </button>
        </div>
      </form>
      <div class="auth_content_extra">
        <p class="login">
          <span
            class="text-primary-color body-1-bold clickable"
            routerLink="/login"
            >Back to Login</span
          >
        </p>
      </div>
    </div>

    <!-- Check Mail -->
    <app-check-mail
      *ngIf="id == 'check-mail'"
      (pageId)="showSect($event)"
    ></app-check-mail>

    <!-- Set New Password -->
    <app-set-new-password
      *ngIf="id == 'set-new'"
      (pageId)="showSect($event)"
    ></app-set-new-password>

    <!-- Password Reset -->
    <app-password-reset *ngIf="id == 'password-reset'"></app-password-reset>
  </div>
</div>
