<section class="ds-head">
  <h2 class="ds-head_title">Children</h2>
</section>

<section class="children">
  <div class="children_body">
    <!-- Loader -->
    <app-loader *ngIf="dataLoading"></app-loader>

    <ng-container *ngIf="children?.length > 0">
      <div class="card">
        <div class="card_item clickable" *ngFor="let i of children">
          <img [src]="i.avatar === '' ? '../../../../../assets/img/children-avatar/child-avatar-1.png' : i.avatar" alt="image" class="avatar" />
          <h4 class="name">{{ i.fullname }}</h4>
          <button class="btn prim_btn" (click)="manageChild(i.id)">
            Manage Child
          </button>
          <p
            class="body-2-medium text-secondary-color select-plan hover-2"
            (click)="openSelectPlanModal(i)"
          >
            Select learning plan
          </p>
        </div>
        <!-- Add New Child -->
        <div class="card_item clickable" (click)="openAddLearnerModal()">
          <span class="add-icon">
            <i class="bx bx-plus"></i>
          </span>
          <button class="btn tert_btn">Add Child</button>
        </div>
      </div>
    </ng-container>

    <!-- Course Blank -->
    <ng-container *ngIf="children?.length === 0">
      <app-children-blank
        (addModal)="openAddLearnerModal()"
      ></app-children-blank>
    </ng-container>
  </div>
</section>

<!-- Enrol Learner -->
<app-parent-enroll-learners
  *ngIf="addLearnerModal"
  (addLearnerModal)="closeAddLearnerModal()"
></app-parent-enroll-learners>

<!-- Pricing plan -->
<app-pricing-plan
  *ngIf="selectPlanModal"
  (selectPlanModal)="closeSelectPlanModal()"
  [childData]="childData"
></app-pricing-plan>
