@import '../../../../../assets/css/variables.scss';
@import '../../../../../assets/css/mixins.scss';
@import '../../../../../assets/css/dashboard.scss';

.children {
  position: relative;
  &_body {
    @include sect-bg($border-color: transparent);
    padding-top: $m-6;
    .card {
      // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); //Changed the auto-fit in style.scss to auto-fill here
      @include card(200px, auto-fill);
      &_item {
        display: grid;
        place-items: center;
        border: 1px solid $divider-color;
        border-radius: $border-radius1;
        padding: $m-4 $m-2;
        transition: all 0.2s;
        &:hover {
          border-color: $primary80;
        }
        .avatar {
          margin-bottom: $m-2;
          width: 90px;
          height: 90px;
        }
        .btn {
          margin: $m-3 0 $m-2 0;
        }
        // Add Child
        .add-icon {
          @include icon-area(64px, transparent);
          background-color: $primary80;
          i {
            font-size: 30px;
            color: $white-color;
          }
        }
      }
    }
  }
}


// Add Modal
.modal {
  @include modal($modal-area-width: 390px);
  opacity: 0;
  visibility: hidden;
  &.show-modal {
    opacity: 1;
    visibility: visible;
  }
  &_area {
    padding: $m-6 $m-3;
    &_close {
      position: absolute;
      top: $m-2;
      right: $m-3;
      .icon {
        font-size: 24px;
        color: $primary20;
        transition: all 0.2s ease-in;
        &:hover {
          color: $primary80;
        }
      }
    }
  }
}
