<section class="ds-head">
  <h2 class="ds-head_title">Children</h2>
</section>

<section class="children">
  <div class="children_body">
    <ng-container *ngIf="children?.length > 0; else noItems">
      <div class="card">
        <div class="card_item clickable" *ngFor="let i of children">
          <img
            src="../../../../../assets/img/children-avatar/child-avatar-big-1.png"
            alt=""
            class="avatar"
          />
          <h4 class="name">{{ i.fullname }}</h4>
          <button class="btn prim_btn" (click)="manageChild(i.id)">
            Manage Child
          </button>
          <p
            class="body-2-medium text-secondary-color select-plan hover-2"
            (click)="openSelectPlanModal(i)"
          >
            Select learning plan
          </p>
        </div>
        <!-- Add New Child -->
        <div class="card_item clickable" (click)="openAddModal()">
          <span class="add-icon">
            <i class="bx bx-plus"></i>
          </span>
          <button class="btn tert_btn">Add Child</button>
        </div>
      </div>
    </ng-container>

    <!-- Course Blank -->
    <ng-template #noItems>
      <app-children-blank (addModal)="openAddModal()"></app-children-blank>
    </ng-template>
  </div>
</section>

<app-enroll-learner
  *ngIf="addModal"
  (addModal)="closeAddModal()"
  (isAlert)="showAlert()"
  (alertMessaage)="setAlertMessage($event)"
  [title]="title"
></app-enroll-learner>

<app-pricing-plan
  *ngIf="selectPlanModal"
  (selectPlanModal)="closeSelectPlanModal()"
  [childData]="childData"
></app-pricing-plan>

<!-- Alert message -->
<app-alert-popup
  *ngIf="isAlert"
  [alertMessage]="alertMessage"
></app-alert-popup>
