@import '../../../../assets/css/variables.scss';
@import '../../../../assets/css/mixins.scss';
@import '../../../../assets/css/dashboard.scss';

.notifi_dropdown {
  @include sect-bg;
  padding: $m-2 0;
  min-width: 320px;
  .close-btn {
    justify-content: flex-end;
    margin-bottom: $m-1;
    padding: 0 $m-3;
    i {
      font-size: 28px;
      color: $inner-border;
    }
  }
  &_list {
    .notifi_dropdown_item {
      align-items: flex-start;
      padding: $m-1 $m-3;
      cursor: pointer;
      transition: all .2s ease-in;
      &:hover {
        background-color: $grey40;
      }
      img {
        width: 40px;
        height: 40px;
        margin-right: $m-2;
      }
      &_details {
        .message {
          margin-top: 0.3rem;
        }
      }
    }
  }
  .view-all {
    display: flex;
    justify-content: flex-end;
    margin-top: $m-4;
    padding: 0 $m-3;
  }
}
