@import '../../../../../assets/css/dashboard.scss';
@import '../../../../../assets/css/variables.scss';
@import '../../../../../assets/css/mixins.scss';



main {
  // Welcome
  .welcome {
    @include sect-bg($primary80);
    justify-content: space-between;
    gap: $m-6;
    color: $white-color;
    &_details {
      p {
        margin-top: $m-2;
      }
    }
    &_image {
      @media only screen and (max-width: 565px) {
        display: none;
      }
    }
  }
  // Active Children
  .active-children {
    @include sect-bg;
  }
}

aside {
  // complete Profile
  .complete-profile {
    background-color: $secondary20;
    padding: $m-4 $m-3;
    border-radius: $border-radius3;
    .progress-bar {
      .progressbarWrapper {
        width: 100%;
        height: 1.3rem;
        border-radius: $border-radius2;
        position: relative;
        overflow: hidden;
        transition: all 0.5s;
        will-change: transform;
        background-color: $inner-border;
        #bar {
          position: relative;
          display: block;
          height: 100%;
          width: 0px;
          overflow: hidden;
          font-weight: 400;
          font-size: 12px;
          line-height: 1.3rem;
          text-align: center;
          background-color: $primary80;
          color: $white-color;
          border-radius: inherit;
          transition: all 700ms ease;
          &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 20px;
            height: inherit;
            background-color: inherit;
            border-radius: 50%;
            border: 2px solid $white-color;
          }
        }
      }

    }
    [data-tooltip] {
      position: relative;

      &::before,
      &::after {
        opacity: 0;
        visibility: hidden;
        margin-top: -0.5em;
      }

      &::before {
        content: attr(data-tooltip);
        display: block;
        position: absolute;
        top: -200%;
        left: 50%;
        margin-left: -4.75em;
        width: 8em;
        text-align: center;
        border-radius: 4px;
        background: black;
        color: white;
        font-size: 0.8em;
        line-height: 1.1;
        padding: 0.75em 0.95em;
      }

      &::after {
        content: "";
        border: 10px solid transparent;
        border-top-color: black;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -10px;
      }

      &:hover {
        cursor: help;
      }

      &:hover::before,
      &:hover::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  // News and Updates starts
  .nu {
    @include sect-bg;
    border: 1px solid $divider-color;
    &_body_card {
      .item {
        img {
          width: 100%;
          border-radius: $border-radius2;
          margin-bottom: $m-1;
        }
      }

    }
  }
  // News and Updates ends
}


// Children Cards
.card {
  @include card(200px);
    &_item {
    display: grid;
    place-items: center;
    align-content: space-between;
    min-height: 250px;
    background-color: $grey20;
    border: 1px solid $divider-color;
    border-radius: $border-radius2;
    padding: $m-4 $m-2;
    transition: all 0.2s;
    &:hover {
      border-color: $primary80;
    }
    .avatar {
      margin-bottom: $m-2;
      width: 90px;
      height: 90px;
    }
    .btn {
      margin: $m-3 0 $m-2 0;
    }
    // Add Child
    .add-icon {
      @include icon-area(74px, transparent);
      background-color: $primary80;
      i {
        font-size: 35px;
        color: $white-color;
      }
    }
  }
}

.ph {
  @include sect-bg($border-color: transparent);
  &_title {
    @include sect-bg-title;
  }
  font-size: 14px;
  &_body {
    
  }
}

// Modal
.modal {
  opacity: 0;
  visibility: hidden;
  @include modal($modal-area-width: 390px);
  &.show-modal {
    opacity: 1;
    visibility: visible;
  }
  &_area {
    padding: $m-6 $m-3;
    // close button
    &_close {
      position: absolute;
      top: $m-2;
      right: $m-3;
      .icon {
        font-size: 24px;
        color: $primary20;
        transition: all 0.2s ease-in;
        &:hover {
          color: $primary80;
        }
      }
    }
  }
}



