<section class="ds-head">
  <h2 class="ds-head_title">Dashboard</h2>
</section>

<section class="ds-flex">
  <main class="ds-grid">
    <div class="welcome dis-flex">
      <div class="welcome_details">
        <h1>Good Morning, {{ user.fullname.split(" ")[0] }}!</h1>
        <p>
          Your dashboard shows updates on your child’s courses, news,
          assignments, and all other progress
        </p>
      </div>
      <div class="welcome_image">
        <img
          src="../../../../../assets/img/learner/undraw_real_time_sync.svg"
          alt=""
        />
      </div>
    </div>
    <!-- Active courses -->
    <div class="active-children">
      <div class="ds-sect-header dis-flex">
        <h5>Children</h5>
        <p
          class="caption-regular text-primary-color clickable"
          routerLink="/parent/children"
        >
          View All Children
        </p>
      </div>
      <div class="card">
        <div class="card_item clickable" *ngFor="let i of children">
          <img
            src="../../../../../assets/img/children-avatar/child-avatar-big-1.png"
            alt=""
            class="avatar"
          />
          <h4 class="name">{{ i.fullname }}</h4>
          <button class="btn prim_btn">Manage Child</button>
          <p class="body-2-medium text-secondary-color select-plan hover-2">
            Select learning plan
          </p>
        </div>
        <!-- Add New Child -->
        <div class="card_item clickable" (click)="openAddModal()">
          <span class="add-icon">
            <i class="bx bx-plus"></i>
          </span>
          <button class="btn tert_btn">Add Child</button>
        </div>
      </div>
    </div>
  </main>

  <aside class="ds-grid">
    <!-- Set up profile -->
    <div class="complete-profile">
      <div class="ds-sect-header dis-flex">
        <h5 class="text-secondary-color">Setup your childs account</h5>
        <i class="bx bx-chevron-right"></i>
      </div>
      <div class="progress-bar">
        <div class="progressbarWrapper">
          <span id="bar"></span>
        </div>
      </div>
      <small>20% complete</small>

      <!-- <div class="someElement" data-tooltip="This is a tooltip">Hover Me</div> -->
    </div>
    <!-- News and Updates(nu) -->
    <div class="nu">
      <div class="ds-sect-header dis-flex">
        <h5>News & Updates</h5>
      </div>
      <div class="nu_body_card">
        <div class="item">
          <img src="../../../../../assets/img/library/library1.png" alt="" />
          <p class="body-3-regular">
            Summer Robotics Class starts on the 4th of August
          </p>
        </div>
      </div>
    </div>
  </aside>
</section>

<!-- Payment History(PH) -->
<section class="ph">
  <div class="ds-sect-header dis-flex">
    <h5>Payment History</h5>
    <p
      class="caption-regular text-primary-color clickable"
      routerLink="/parent/payment"
    >
      View All Payments
    </p>
  </div>
  <div class="ph_body">
    <div style="overflow-x: auto">
      <table>
        <tr class="table-header">
          <th>Child Name</th>
          <th>Product</th>
          <th>Date</th>
          <th>Amount</th>
          <th>Status</th>
        </tr>
        <ng-container>
          <tr class="table-body" *ngFor="let i of paymentsHistory">
            <td>{{ i.childName | titlecase }}</td>
            <td>{{ i.Product | titlecase }}</td>
            <td>{{ i.date }}</td>
            <td>{{ i.amount }}NGN</td>
            <td class="status">
              <button
                type="button"
                [class.success_btn]="i.status == 'complete'"
                [class.warning_btn]="i.status == 'pending'"
                [class.danger_btn]="i.status == 'declined'"
              >
                {{ i.status | titlecase }}
              </button>
            </td>
          </tr>
        </ng-container>
        <ng-template>
          <p style="text-align: center">Empty!</p>
        </ng-template>
      </table>
    </div>
  </div>
</section>

<div class="modal" [class.show-modal]="addModal">
  <div class="modal_area">
    <span class="modal_area_close" (click)="closeAddModal()">
      <i class="bx bx-x icon clickable"></i>
    </span>
    <app-enroll-learner
      (addModal)="closeAddModal()"
      [title]="title"
    ></app-enroll-learner>
  </div>
</div>
