<div class="auth_border">
  <div class="auth_content_header center">
    <h3 class="title">Check your mail</h3>
    <p>
      We sent a password reset link to
      <span class="text-primary-color">{{ email }}</span>
    </p>
  </div>
  <!-- <form class="auth_content_form">
    <div class="form-btn col-2">
      <button class="btn prim_btn clickable" routerLink="/password-reset/1/2">
        Open email app
      </button>
    </div>
  </form> -->
  <div class="auth_content_extra">
    <p>
      Didn’t receive the mail?
      <span class="text-primary-color body-1-bold clickable"
        >Click to resend</span
      >
    </p>
    <p class="login">
      <span class="text-primary-color body-1-bold clickable" routerLink="/login"
        >Back to Login</span
      >
    </p>
  </div>
</div>
