<section class="ds-head">
    <h2 class="ds-head_title">Users</h2>
  </section>
    
  <section class="grouping dis-flex">
    <!-- Filter -->
    <div class="filter s-f">
      <div class="body-3-regular dis-flex">
        <span class="title">Filter:</span>
        <span class="dropdown dis-flex clickable"
          >All users <i class="bx bx-chevron-down"></i
        ></span>
      </div>
    </div>
  
    <div class="right dis-flex">
      <!-- Sort -->
      <div class="sort s-f">
        <div class="body-3-regular dis-flex">
          <span class="title">Sort:</span>
          <span class="dropdown dis-flex clickable"
            >Last modified <i class="bx bx-chevron-down"></i
          ></span>
        </div>
      </div>
  
      <!-- New Classroom Button -->
      <button 
        class="btn prim_btn" 
        (click)="toggleAddEditUser()"
        *ngIf="loggedInUserData.admin_role === 'super'"
      >
        Add Admin
      </button>
    </div>
  </section>
  
  <ng-container>
    <app-loader *ngIf="dataLoading"></app-loader>
    
    <section class="classroom" *ngIf="!dataLoading">
      <app-list-display-admin-users 
        [users]="users" *ngIf="users?.length ?? 0 > 0" 
        (reloadData)="getUsers()"
        [loggedInUserData]="loggedInUserData"
      ></app-list-display-admin-users>
  
      <div class="classroom_body" *ngIf="users?.length === 0">
          <app-blank-display-admin-user (addEditUser)="toggleAddEditUser()"></app-blank-display-admin-user>
      </div>
    </section>
  </ng-container>

  <app-add-edit-admin-user *ngIf="addEditUser" (addEditUser)="toggleAddEditUser()" (getAllUsers)="getUsers()"></app-add-edit-admin-user>
  