<section class="ds-head dis-flex">
  <div class=" dis-flex">
    <h2 class="ds-head_title">Quiz</h2>
    <i class="bx bx-chevron-right icon" style="transform: rotate(180deg);"></i>
    <p class="ds-head_title clickable" (click)="goBackToCourse()">Go back to Course</p>
  </div>
  <button class="btn prim_btn" (click)="openConfirmSubmitModal()">Submit</button>
</section>

<div class="course-details_body">
  <div class="dis-flex" style="justify-content: space-between; gap: 2rem; flex-wrap: wrap; margin-bottom: 1.5rem;">
    <h4>Title: {{ quiz?.title }}</h4>
    <span>
      <b>{{ responses.length }}</b> out of <b>{{ quiz?.questions?.length || 0 }}</b> questions
    </span>
  </div>
  <div class="course-details_body_header">
    <ul class="dis-flex">
      <li class="body-2-medium active">Quiz Infomation</li>
    </ul>
  </div>
  <ng-container>
    <div class="course-details_body_content">
      <aside>
        <ul>
          <li *ngFor="let question of quiz?.questions; let questionIndex = index"
            [ngClass]="{'active': currentQuestionIndex === questionIndex}" (click)="getQuestionIndex(questionIndex)">
            <h5 class="body-2-medium">Question - {{ questionIndex + 1 }}</h5>
          </li>
        </ul>
      </aside>
      <main>
        <div class="main-body" *ngIf="quiz?.questions[currentQuestionIndex]">
          <div class="header">
            <h2 class="ds-sect-header">Question {{ currentQuestionIndex + 1 }}</h2>
            <p class="question">
              {{ quiz?.questions[currentQuestionIndex]?.question }}
            </p>
          </div>
          <ul>
            <li class="dis-flex clickable" *ngIf="quiz?.questions[currentQuestionIndex]?.optA"
              (click)="selectAnswer(quiz?.questions[currentQuestionIndex]?.id, 'A')">
              <p>A.</p>
              <div class="option_item_body dis-flex">
                <span>{{ quiz?.questions[currentQuestionIndex]?.optA }}</span>
                <span class="option_item_body_marked dis-flex"
                  [class.selected]="isOptionSelected('A', quiz?.questions[currentQuestionIndex]?.id)">{{
                  isOptionSelected('A', quiz?.questions[currentQuestionIndex]?.id) ? 'Marked' : 'Mark as correct'
                  }}</span>
              </div>
            </li>
            <li class="dis-flex clickable" *ngIf="quiz?.questions[currentQuestionIndex]?.optB"
              (click)="selectAnswer(quiz?.questions[currentQuestionIndex]?.id, 'B')">
              <p>B.</p>
              <div class="option_item_body dis-flex">
                <span>{{ quiz?.questions[currentQuestionIndex]?.optB }}</span>
                <span class="option_item_body_marked dis-flex"
                  [class.selected]="isOptionSelected('B', quiz?.questions[currentQuestionIndex]?.id)">{{
                  isOptionSelected('B', quiz?.questions[currentQuestionIndex]?.id) ? 'Marked' : 'Mark as correct'
                  }}</span>
              </div>
            </li>
            <li class="dis-flex clickable" *ngIf="quiz?.questions[currentQuestionIndex]?.optC"
              (click)="selectAnswer(quiz?.questions[currentQuestionIndex]?.id, 'C')">
              <p>C.</p>
              <div class="option_item_body dis-flex">
                <span>{{ quiz?.questions[currentQuestionIndex]?.optC }}</span>
                <span class="option_item_body_marked dis-flex"
                  [class.selected]="isOptionSelected('C', quiz?.questions[currentQuestionIndex]?.id)">{{
                  isOptionSelected('C', quiz?.questions[currentQuestionIndex]?.id) ? 'Marked' : 'Mark as correct'
                  }}</span>
              </div>
            </li>
            <li class="dis-flex clickable" *ngIf="quiz?.questions[currentQuestionIndex]?.optD"
              (click)="selectAnswer(quiz?.questions[currentQuestionIndex]?.id, 'D')">
              <p>D.</p>
              <div class="option_item_body dis-flex">
                <span>{{ quiz?.questions[currentQuestionIndex]?.optD }}</span>
                <span class="option_item_body_marked dis-flex"
                  [class.selected]="isOptionSelected('D', quiz?.questions[currentQuestionIndex]?.id)">{{
                  isOptionSelected('D', quiz?.questions[currentQuestionIndex]?.id) ? 'Marked' : 'Mark as correct'
                  }}</span>
              </div>
            </li>
            <li class="dis-flex clickable" *ngIf="quiz?.questions[currentQuestionIndex]?.optE"
              (click)="selectAnswer(quiz?.questions[currentQuestionIndex]?.id, 'E')">
              <p>E.</p>
              <div class="option_item_body dis-flex">
                <span>{{ quiz?.questions[currentQuestionIndex]?.optE }}</span>
                <span class="option_item_body_marked dis-flex"
                  [class.selected]="isOptionSelected('E', quiz?.questions[currentQuestionIndex]?.id)">{{
                  isOptionSelected('E', quiz?.questions[currentQuestionIndex]?.id) ? 'Marked' : 'Mark as correct'
                  }}</span>
              </div>
            </li>
            <li class="dis-flex clickable" *ngIf="quiz?.questions[currentQuestionIndex]?.optF"
              (click)="selectAnswer(quiz?.questions[currentQuestionIndex]?.id, 'F')">
              <p>F.</p>
              <div class="option_item_body dis-flex">
                <span>{{ quiz?.questions[currentQuestionIndex]?.optE }}</span>
                <span class="option_item_body_marked dis-flex"
                  [class.selected]="isOptionSelected('F', quiz?.questions[currentQuestionIndex]?.id)">{{
                  isOptionSelected('F', quiz?.questions[currentQuestionIndex]?.id) ? 'Marked' : 'Mark as correct'
                  }}</span>
              </div>
            </li>
          </ul>
        </div>

        <div class="main-footer dis-flex">
          <button class="btn grey_btn" [disabled]="currentQuestionIndex === 0"
            (click)="previousQuestion()">Previous</button>
          <button class="btn grey_btn" [disabled]="currentQuestionIndex === quiz?.questions.length - 1"
            (click)="nextQuestion()">Next</button>
        </div>
      </main>
    </div>
  </ng-container>
</div>


<!-- Confirm Quiz submit -->
<div class="modal confirm-delete-modal" *ngIf="isSubmitQuiz">
  <div class="modal_area">
    <div class="modal-details" style="text-align: left">
      <h2 class="text-primary-color">Confirm Submission</h2>
      <p>
        Are you sure you want to Submit the Quiz?
      </p>
      <em style="margin-top: 1rem;"><b>{{ responses.length }}</b> out of <b>{{ quiz?.questions?.length || 0 }}</b> questions
        have been answered</em>
    </div>
    <!-- Buttons -->
    <div class="modal-btns dis-flex">
      <button type="button" class="btn skip_btn" (click)="isSubmitQuiz = false">
        Cancel
      </button>
      <button class="btn prim_btn" [disabled]="loading" (click)="submitQuiz()">
        <span *ngIf="!loading">Submit</span>
        <span *ngIf="loading">Processing...</span>
      </button>
    </div>
  </div>
</div>