@import '../../../../../assets/css/variables.scss';
@import '../../../../../assets/css/mixins.scss';
@import '../../../../../assets/css/dashboard.scss';

.ds-head {
    gap: $m-2;
    justify-content: space-between;
}

.course-details_body {
    margin-top: $m-4;
    @include sect-bg($border-color: transparent);
    &_header {
        height: 3.5rem;
        border-bottom: 1px solid $divider-color;
        overflow: hidden;
        ul {
            // gap: $m-4;
            // flex-wrap: wrap;
            li {
                line-height: 3.3rem;
                cursor: pointer;
                transition: all .2s;
                &.active {
                    color: $primary80;
                    border-bottom: 2px solid $primary80;
                }
                &:hover {
                    background-color: $grey40;
                }
            }
        }
    }
    &_content {
        display: flex;
        aside {
            flex-basis: 15%;
            border-right: 1px solid $divider-color;
            ul {
                li {
                    padding: $m-2 $m-2;
                    transition: all .2s ease-in;
                    border-left: 3px solid transparent;
                    cursor: pointer;
                    &.active,
                    &:hover {
                        background-color: $divider-color;
                    }
                    &.active {
                        border-color: $secondary80;
                    }
                    p {
                        color: $primary20;
                    }
                }
            }
        }
        main {
            width: 100%;
            padding-top: $m-4;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: $m-2;
            .main-body {
                padding: 0 $m-4;
                .header {
                    h2 {
                        color: $primary80;
                    }
                }
                ul {
                    margin-top: $m-6;
                    padding: 0 $m-4;
                    .option {
                        width: 100%;
                        display: flex;
                        gap: $m-2;
                        &:not(:last-child) {
                            margin-bottom: $m-2;
                        }
                        &-value {
                            width: 100%;
                            gap: $m-2;
                            justify-content: space-between;
                            align-items: stretch;
                            &_content {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
            .main-footer {
                gap: $m-2;
                justify-content: space-between;
                flex-wrap: wrap;
                border-top: 1px solid $inner-border;
                padding: $m-4;
                .grey_btn {
                    color: $text-color2;
                }
            }
        }
    }
}

// Confirm delete modal
.modal {
    @include modal($modal-area-width: 500px);
    &_area {
        padding: $m-6 $m-3; 
    }
}