<div class="auth login">
  <div class="auth_content">
    <!-- Logo -->
    <span class="auth_content_logo clickable" routerLink="/">
      <img src="../../../assets/img/logo.svg" alt="" />
    </span>
    <div class="auth_border">
      <div class="auth_content_header center">
        <h3 class="title">Check your mail</h3>
        <p>
          We sent a verification link to
          <strong class="text-primary-color">{{ user.email }}</strong>
        </p>
      </div>
      <!-- <form class="auth_content_form">
        <div class="form-btn col-2">
          <button class="btn prim_btn clickable">
            Open email app
          </button>
        </div>
      </form> -->
    </div>
  </div>
</div>
