<!-- Alert message -->
<app-alert-popup
  *ngIf="isAlert"
  [alertMessage]="alertMessage"
  [alertColor]="alertColor"
></app-alert-popup>

<div class="modal">
  <div class="modal_area">
    <span class="modal_area_close" (click)="closeAddQuizToCourse()">
      <i class="bx bx-x icon clickable"></i>
    </span>

    <div class="enroll auth_content">
      <h4
        class="text-primary-color enroll_title"
      >
        Add Quiz to this Course
      </h4>
      <form
        class="enroll_form auth_content_form"
      >

        <!-- Single enrollment starts *ngIf="billingId == 'single'" -->
        <div class="col-2">
          <div class="table-container" >
            <div class="table-container_header dis-flex">
              <div class="input_field dis-flex">
                <img
                  src="../../../../../../assets/img/svg/Search.svg"
                  alt="image"
                />
                <input type="text" placeholder="Search by Title" name="search" [(ngModel)]="quizName"
                (input)="search()" />
              </div>
            </div>
            <div style="overflow: auto; max-height: 300px;">
              <app-loader *ngIf="dataLoading"></app-loader>
              <table *ngIf="quizzes?.length > 0">
                <tr class="table-header">
                  <th>Title</th>
                  <th>Number of question</th>
                  <th class="dis-flex actions">
                    <!-- Mark all <input type="checkbox" name="" id="" /> -->
                  </th>
                </tr>
                <tr class="table-body" *ngFor="let quiz of quizzes">
                  <td>{{ quiz.title }}</td>
                  <td>{{ quiz.question_count }}</td>
                  <td><input type="radio" name="quiz" [id]="quiz.id" (change)="selectQuiz($event, quiz)" /></td>
                </tr>
              </table>
              <ng-container *ngIf="quizzes?.length === 0">
                <p style="text-align: center">No quiz!</p>
              </ng-container>
            </div>
          </div>

          <!-- Submit Button -->
          <div class="form-btns dis-flex">
            <span
              class="grey_btn clickable"
              (click)="closeAddQuizToCourse()"
              >Cancel</span
            >
            <div class="continue">
              <button
                class="btn prim_btn clickable"
                [disabled]="loading || selectedQuizzes.length === 0"
                (click)="addQuizToCourse()"
              >
                <span *ngIf="!loading">Add</span>
                <span *ngIf="loading">Processing...</span>
              </button>
            </div>
          </div>
        </div>
        <!-- Single enrollment ends -->
      </form>
    </div>
  </div>
</div>