@import '../../../../../../assets/css/variables.scss';
@import '../../../../../../assets/css/mixins.scss';
@import '../../../../../../assets/css/dashboard.scss';

// Modal
.modal {
  @include modal($modal-area-width: 600px);
  // &_area {
  //   padding: $m-4 ;
  // }
}

@mixin hover {
  transition: all .2s;
  &:hover {
    border-color: $primary80;
  }
}

form {
  display: grid;
  grid-gap: $m-3;
  margin-top: $m-3;
  .form_control {
    width: 100%;
    label {
      display: inline-block;
      color: $primary80;
      margin-bottom: $m-2;
      font-size: 18px;
      font-weight: 700;
    }
    &_field {
      width: 100%;
      border: 1px solid $inner-border;
      border-radius: $border-radius1;
      padding: 0 $m-2;
      @include hover();
      input,
      textarea,
      select,
      &.select-image {
        padding: $m-2 0;
        width: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        height: 100%;
        &::placeholder {
          font-size: 16px;
        }
      }
      &.select-image {
        padding:  0;
        display: grid;
        place-items: center;
        grid-gap: $m-1;
        height: 100%;
        width: 100%;
        border: 1px solid $inner-border;
        border-radius: $border-radius1;
        padding: 16% $m-2;
        @include hover();
        img {
          width: 34px;
          height: 34px;
        }
      }
      textarea {
        resize: none;
      }
    }
    &.tags {
      margin-bottom: $m-4;
    }
  }

  // form settings
  .form_setting {
    border-top: 1px solid $inner-border;
    padding-top: $m-4;
    p {
      margin-top: $m-1;
    }
    label {
      margin-top: $m-3;
      input {
        margin-right: $m-1;
      }
    }
  }
}

.form-btns {
  gap: $m-2;
  padding: 0 $m-2;
  margin-top: $m-4;
  justify-content: center;
}