<div class="container-dash">
  <!-- Side Nav -->
  <aside class="sidenav-area" [class.show-menu]="hamClick">
    <div class="sidenav" #sideNav>
      <app-dashboard-sidenav
        [navLink]="navLink"
        (hamClick)="closeMenu()"
      ></app-dashboard-sidenav>
      <!-- <app-create-sidenav></app-create-sidenav> -->
    </div>
  </aside>

  <!-- Main -->
  <main [class.show-menu]="hamClick">
    <app-dashboard-header (hamClick)="openMenu()"></app-dashboard-header>
    <!-- <app-create-header></app-create-header> -->
    <div class="main-body">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
