@import '../../../../../assets/css/variables.scss';
@import '../../../../../assets/css/mixins.scss';

section:not(:last-child) {
  margin-bottom: $m-3;
}

.grouping {
  // margin-top: -$m-3; // Reduce the gap btw the Section title and this container
  // margin-bottom: $m-3;
  justify-content: space-between;
  gap: $m-2;
  // Sort and Filter
  .s-f {
    position: relative;
    .title {
      color: $primary20;
      margin-right: 0.2rem;
    }
    .dropdown-btn {
      i {
        font-size: 18px;
      }
    }
    .s-f-select {
      cursor: pointer;
    }
  }
  .right {
    gap: $m-2;
    .display-type {
      span {
        display: inline-block;
        padding: $m-1;
        border: 1px solid $divider-color;
        border-radius: $border-radius1;
        transition: all .2s;
        cursor: pointer;
        &:hover {
          background-color: $white-color;
        }
        &:not(:last-child) {
          margin-right: $m-2;
        }
        img {
          width: 25px;
          height: 22px;
          vertical-align: middle;
        }
      }
    }
  }
}

// Add Modal
.modal {
  @include modal($modal-area-width: 390px);
  opacity: 0;
  visibility: hidden;
  &.show-modal {
    opacity: 1;
    visibility: visible;
  }
  &_area {
    padding: $m-6 $m-3;
    &_close {
      position: absolute;
      top: $m-2;
      right: $m-3;
      .icon {
        font-size: 24px;
        color: $primary20;
        transition: all 0.2s ease-in;
        &:hover {
          color: $primary80;
        }
      }
    }
  }
}

// Alert Message
.alert-msg {
  position: absolute;
  top: 0;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  display: flex;
  transition: all .2s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 5;
  &.show {
    visibility: visible;
    opacity: 1;
    top: 1.5rem;
  }
  @media only screen and (min-width: 556px) {
    left: 50%;
    transform: translateX(-50%);
  }
  &_content {
    margin: auto;
    padding: 0.8rem;
    background-color: $success40;
    border-radius: $border-radius1;
    p {
      color: $success80;
    }
  }
}
