<app-school-enroll-learners
  *ngIf="addLearnerModal"
  (addLearnerModal)="closeAddLearnerModal()"
></app-school-enroll-learners>

<section class="ds-head">
  <h2 class="ds-head_title">Students</h2>
</section>

<section class="children">
  <div class="children_body">
    <!-- Loader -->
    <app-loader *ngIf="dataLoading"></app-loader>

    <ng-container *ngIf="students?.length > 0">
      <app-school-display-students
        (addLearnerModal)="openAddLearnerModal()"
      ></app-school-display-students>
    </ng-container>

    <!-- Course Blank -->
    <ng-container *ngIf="students?.length === 0">
      <app-student-blank
        (addLearnerModal)="openAddLearnerModal()"
      ></app-student-blank>
    </ng-container>
  </div>
</section>
