@import '../../../../../assets/css/variables.scss';
@import '../../../../../assets/css/mixins.scss';
@import '../../../../../assets/css/dashboard.scss';
@import '../../../../../assets/css/program.scss';

.course-empty {
    display: grid;
    grid-gap: 1rem;
    place-items: center;
    img {
        width: 200px;
        height: auto;
        margin-bottom: $m-2;
    }
}

.mvp_body_content {
    display: block;
}