<app-loader *ngIf="dataLoading"></app-loader>

<div *ngIf="classroom">
  <section class="ds-head dis-flex" >
    <h2 class="ds-head_title clickable" (click)="navigatePage(1)">
      Classrooms
    </h2>
    <i class="bx bx-chevron-right icon"></i>
    <p class="clickable" [title]="classroom.name" (click)="navigatePage(2)">
      {{ classroom.name | truncate }}
    </p>
    <i class="bx bx-chevron-right icon"></i>
    <p class="clickable">Edit-classroom</p>
  </section>
  
  <section>
    <form [formGroup]="formGroup">
      <div class="form_control_container" *ngIf="teachers">
        <div class="form_control">
          <label for="name">Name of Classroom</label>
          <div class="form_control_field">
            <input
              type="text"
              id="name"
              name="name"
              placeholder="Type here"
              formControlName="name"
            />
          </div>
          <div class="form_error">
            <div *ngIf="formGroup.controls.name.errors?.required && formGroup.controls.name.touched">
                End Date is required.
            </div>
          </div>
        </div>
        <div class="form_control">
          <label for="template">Classroom Template</label>
          <div class="form_control_field">
            <select name="template" id="template" formControlName="template">
              <option value="" selected>Select a Template</option>
              <option [value]="item.id" *ngFor="let item of templates">
                {{ item.title }}
              </option>
            </select>
          </div>
          <div class="form_error">
            <div *ngIf="formGroup.controls.template.errors?.required && formGroup.controls.template.touched">
                End Date is required.
            </div>
          </div>
        </div>
        <div class="form_control">
          <label for="teacher">Teacher</label>
          <div class="form_control_field">
            <select name="teacher" id="teacher" formControlName="teacher">
              <option value="" selected>Select a Teacher</option>
              <option [value]="item.id" *ngFor="let item of teachers">
                {{ item.fullname }}
              </option>
            </select>
          </div>
  
          <div class="form_error">
            <div *ngIf="formGroup.controls.teacher.errors?.required && formGroup.controls.teacher.touched">
                End Date is required.
            </div>
          </div>
        </div>
  
        <div class=""></div>
  
        <div class="form_control">
          <label for="thumbnail">Header Photo</label>
          <div class="">
            <div
              class="form_control_field select-image clickable"
              (click)="fileHeaderPhoto.click()"
              appDragDrop
              (fileDropped)="uploadHeaderPhoto($event)"
              style="position: relative;"
            >
              <input
                type="file"
                #fileHeaderPhoto
                hidden
                (change)="uploadHeaderPhoto($event)"
              />
              <img
                [src]="headerPhotoUrl || '../../../../../../../assets/img/select-Image.svg'"
                alt=""
                [style]="headerPhotoUrl ? 'position: absolute; top: 0; width: 100%; height: 100%;' : ''"
              />
              <p class="body-3-regular text-primary-color">
                {{
                  selectedHeaderPhotoName === ""
                    ? "Select a picture"
                    : selectedHeaderPhotoName
                }}
              </p>
            </div>
            <div class="form_error">
                <div *ngIf="formGroup.controls.header_photo.errors?.required && formGroup.controls.header_photo.touched">
                    End Date is required.
                </div>
            </div>
          </div>
        </div>
  
        <div class="form_control">
          <label for="thumbnail">Thumbnail</label>
          <div class="">
            <div
              class="form_control_field select-image clickable"
              (click)="fileThumbnail.click()"
              appDragDrop
              (fileDropped)="uploadThumbnail($event)"
              style="position: relative;"
            >
              <input
                type="file"
                #fileThumbnail
                hidden
                (change)="uploadThumbnail($event)"
              />
              <img
                [src]="thumbnailUrl || '../../../../../../../assets/img/select-Image.svg'"
                alt=""
                [style]="thumbnailUrl ? 'position: absolute; top: 0; width: 100%; height: 100%;' : ''"
              />
              <p class="body-3-regular text-primary-color">
                {{
                  selectedThumbnailName === ""
                    ? "Select a picture"
                    : selectedThumbnailName
                }}
              </p>
            </div>
  
            <div class="form_error">
                <div *ngIf="formGroup.controls.thumbnail.errors?.required && formGroup.controls.thumbnail.touched">
                    End Date is required.
                </div>
            </div>
          </div>
        </div>
  
        <h4 class="" style="margin-top: 14px">Active Term</h4>
        <div class=""></div>
        <div class="form_control">
          <label for="active_term_start_date">Start Date</label>
          <div class="form_control_field">
            <div class="">
              <input
                type="date"
                name="active_term_start_date"
                id=""
                formControlName="active_term_start_date"
                [min]="minDate"
                [max]="maxDate"
              />
            </div>
  
            <div class="form_error">
                <div *ngIf="formGroup.controls.active_term_start_date.errors?.required && formGroup.controls.active_term_start_date.touched">
                    End Date is required.
                </div>
            </div>
          </div>
        </div>
  
        <div class="form_control">
          <label for="active_term_start_date">End Date</label>
          <div class="form_control_field">
            <div class="">
              <input
                type="date"
                name="active_term_start_date"
                id=""
                formControlName="active_term_end_date"
                [min]="minDate"
                [max]="maxDate"
              />
            </div>
  
            <div class="form_error">
              <div *ngIf="formGroup.controls.active_term_end_date.errors?.required && formGroup.controls.active_term_end_date.touched">
                End Date is required.
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div class="form_btns">
        <button class="btn prim_btn" *ngIf="!loading" (click)="editClassroom()">
          Save
        </button>
        <button class="btn prim_btn" [disabled]="loading || formGroup.invalid" *ngIf="loading">
          Processing...
        </button>
      </div>
    </form>
  </section>
</div>
