@import '../../../../../assets/css/variables.scss';
@import '../../../../../assets/css/mixins.scss';
@import '../../../../../assets/css/dashboard.scss';

@mixin hover {
  transition: all .2s;
  &:hover {
    border-color: $primary80;
  }
}


form {
    .form_control_container {
        display: grid;
        grid-gap: $m-3;
        grid-template-columns: repeat(2, 1fr);
    }
    .form_control {
        width: 100%;
        label {
        display: inline-block;
        color: $primary80;
        margin-bottom: $m-2;
        font-size: 18px;
        font-weight: 700;
        }
        &_field {
        width: 100%;
        border: 1px solid $inner-border;
        border-radius: $border-radius1;
        padding: 0 $m-2;
        @include hover();
        input,
        textarea,
        select,
        &.select-image {
            padding: $m-2 0;
            width: 100%;
            background-color: transparent;
            border: none;
            outline: none;
            height: 100%;
            &::placeholder {
            font-size: 16px;
            }
        }
        &.select-image {
            padding:  0;
            height: 100%;
            width: 100%;
            border: 1px solid $inner-border;
            border-radius: $border-radius1;
            padding: 5% $m-2;
            @include hover();
            .select-image_content {
                display: grid;
                place-items: center;
                grid-gap: $m-1;
                img {
                width: 60px;
                height: 60px;
                &.no-image {
                    width: 34px;
                    height: 34px;
                }
            }
          }
        }
        textarea {
            resize: none;
        }
        }
        &.tags {
        margin-bottom: $m-4;
        }
    }
    .form_btns {
        gap: $m-2;
        margin-top: $m-4;
    }
}