<!-- Alert message -->
<app-alert-popup
  *ngIf="isAlert"
  [alertMessage]="alertMessage"
  [alertColor]="alertColor"
></app-alert-popup>

<app-loader *ngIf="dataLoading"></app-loader>

<section class="ds-head dis-flex" *ngIf="classroom">
  <h2 class="ds-head_title clickable" routerLink="/school/classrooms">
    Classrooms
  </h2>
  <i class="bx bx-chevron-right icon"></i>
  <p class="clickable" [title]="classroom.name">
    {{ classroom.name | truncate }}
  </p>
  <i class="bx bx-chevron-right icon"></i>
  <p class="clickable">Edit-classroom</p>
</section>

<section *ngIf="classroom">
  <form [formGroup]="formGroup">
    <div class="form_control_container" *ngIf="teachers">
      <div class="form_control">
        <label for="name">Name of Classroom</label>
        <div class="form_control_field">
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Type here"
            formControlName="name"
          />
        </div>
        <div class="form_error">
          <div
            *ngIf="
              formSubmitAttempted && formGroup.get('name')?.errors?.required
            "
          >
            Name is required.
          </div>
        </div>
      </div>
      <div class="form_control">
        <label for="template">Classroom Template</label>
        <div class="form_control_field">
          <select name="template" id="template" formControlName="template">
            <option value="" selected>Select a Template</option>
            <option [value]="item.id" *ngFor="let item of templates">
              {{ item.title }}
            </option>
          </select>
        </div>
        <div class="form_error">
          <div
            *ngIf="
              formSubmitAttempted && formGroup.get('template')?.errors?.required
            "
          >
            Template is required.
          </div>
        </div>
      </div>
      <div class="form_control description">
        <label for="description">Classroom details</label>
        <div class="form_control_field">
          <textarea
            name="description"
            id="description"
            cols="30"
            rows="5"
            placeholder="Type here"
            spellcheck="true"
            formControlName="description"
          ></textarea>
        </div>
        <div class="form_error">
          <div
            *ngIf="
              formSubmitAttempted &&
              formGroup.get('description')?.errors?.required
            "
          >
            Description is required.
          </div>
        </div>
      </div>
      <div class="form_control">
        <label for="teacher">Teacher</label>
        <div class="form_control_field">
          <select name="teacher" id="teacher" formControlName="teacher">
            <option value="" selected>Select a Teacher</option>
            <option [value]="item.id" *ngFor="let item of teachers">
              {{ item.fullname }}
            </option>
          </select>
        </div>

        <div class="form_error">
          <div
            *ngIf="
              formSubmitAttempted && formGroup.get('teacher')?.errors?.required
            "
          >
            Teacher is required.
          </div>
        </div>
      </div>

      <div class="form_control">
        <label for="thumbnail">Header Photo</label>
        <div class="">
          <div
            class="form_control_field select-image clickable"
            (click)="fileHeaderPhoto.click()"
            appDragDrop
            (fileDropped)="uploadHeaderPhoto($event)"
          >
            <input
              type="file"
              #fileHeaderPhoto
              hidden
              (change)="uploadHeaderPhoto($event)"
            />
            <img
              src="../../../../../../../assets/img/select-Image.svg"
              alt=""
            />
            <p class="body-3-regular text-primary-color">
              {{
                selectedHeaderPhotoName === ""
                  ? "Select a picture"
                  : selectedHeaderPhotoName
              }}
            </p>
          </div>
          <div class="form_error">
            <div
              *ngIf="
                formSubmitAttempted &&
                formGroup.get('header_photo')?.errors?.required
              "
            >
              Header Photo is required.
            </div>
          </div>
        </div>
      </div>

      <div class="form_control">
        <label for="thumbnail">Thumbnail</label>
        <div class="">
          <div
            class="form_control_field select-image clickable"
            (click)="fileThumbnail.click()"
            appDragDrop
            (fileDropped)="uploadThumbnail($event)"
          >
            <input
              type="file"
              #fileThumbnail
              hidden
              (change)="uploadThumbnail($event)"
            />
            <img
              src="../../../../../../../assets/img/select-Image.svg"
              alt=""
            />
            <p class="body-3-regular text-primary-color">
              {{
                selectedThumbnailName === ""
                  ? "Select a picture"
                  : selectedThumbnailName
              }}
            </p>
          </div>

          <div class="form_error">
            <div
              *ngIf="
                formSubmitAttempted &&
                formGroup.get('thumbnail')?.errors?.required
              "
            >
            Thumbnail is required.
            </div>
          </div>
        </div>
      </div>

      <h4 class="" style="margin-top: 14px">Active Term</h4>
      <div class=""></div>
      <div class="form_control">
        <label for="active_term_start_date">Starte Date</label>

        <div class="form_control_field">
          <div class="">
            <input
              type="date"
              name="active_term_start_date"
              id=""
              formControlName="active_term_start_date"
              [min]="minDate"
              [max]="maxDate"
            />
          </div>

          <div class="form_error">
            <div
              *ngIf="
                formSubmitAttempted &&
                formGroup.get('active_term_start_date')?.errors?.required
              "
            >
              Start Date is required.
            </div>
          </div>
        </div>
      </div>

      <div class="form_control">
        <label for="active_term_start_date">End Date</label>
        <div class="form_control_field">
          <div class="">
            <input
              type="date"
              name="active_term_start_date"
              id=""
              formControlName="active_term_end_date"
              [min]="minDate"
              [max]="maxDate"
            />
          </div>

          <div class="form_error">
            <div
              *ngIf="
                formSubmitAttempted &&
                formGroup.get('active_term_end_date')?.errors?.required
              "
            >
              End Date is required.
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="form_btns">
      <button class="btn prim_btn" *ngIf="!loading" (click)="editClassroom()">
        Save
      </button>
      <button class="btn prim_btn" [disabled]="loading" *ngIf="loading">
        Processing...
      </button>
    </div>
  </form>
</section>
