@import '../../../../../../../assets/css/enroll-learners-modal.scss';
@import '../../../../../../../assets/css/dashboard.scss';

// Grouping
.grouping {
    justify-content: space-between;
    gap: $m-1;
    @media only screen and (max-width: 610px) {
        width: 100%;
    }
    .s-f {
        .title {
          color: $primary20;
          margin-right: 0.2rem;
        }
        .dropdown-btn {
          i {
            font-size: 18px;
          }
        }
    }
}

// Modal
.remove-padd {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.add-padd {
    padding: 0 $m-4;
}

// Table
.table-container {
    display: grid;
    &_header {
        padding: 0 $m-2;
        flex-wrap: wrap;
        gap: $m-2;
        justify-content: space-between;
        margin-bottom: $m-2;
        .input_field {
            padding: 0 $m-1;
            background: #F7F7F7;
            border-radius: $border-radius1;
            border: 2px solid $white-color;
            @media only screen and (min-width: 755px) {
                max-width: 200px;
            }
            @media only screen and (max-width: 610px) {
                width: 100%;
            }
            img {
                margin-right: $m-1;
              width: 20px;
              height: 20px;
            }
            input {
              width: 100%;
              padding: $m-1 0;
              border: none;
              outline: none;
              background-color: transparent;
              font-size: 16px;
              font-weight: 500;
              color: rgba(45, 43, 109, 0.6);
              &::placeholder {
                  color: rgba(45, 43, 109, 0.6);
                }
            }
        }
    }
    table {
        tr {
            &.table-header {
              border-radius: 0;
              th:last-child {
                border-radius: 0;
              }
              th:first-child {
                border-radius: 0;
              }
              th.actions {
                gap: $m-1;
              }
            }
            &.table-body {
              // td:last-child {
              //   text-align: center;
              // }
            }
        }
    }
}
