<!-- Modal -->
<div class="modal">
    <div class="modal_area">
      <!-- Intro -->
      <div class="intro modal_area_content">
        <img
          src="../../../../../assets/img/undraw_begin_chat_re_v0lw 2.svg"
          alt=""
          class="intro_image"
        />
        <div class="modal-details">
          <h2 class="text-primary-color">Welcome to DumenaLMS!</h2>
          <p>
            Create a <b>Classroom</b> and get all set up for an amazing
            experience.
          </p>
        </div>
        <div class="modal-btns dis-flex">
          <button class="btn prim_btn" (click)="closeOnboardModal()">
            Add Classroom
          </button>
        </div>
      </div>
    </div>
  </div>