<section class="ds-head">
  <h2 class="ds-head_title">Classrooms</h2>
</section>
  
<section class="grouping dis-flex">
  <!-- Filter -->
  <div class="filter s-f">
    <div class="body-3-regular dis-flex">
      <span class="title">Filter:</span>
      <span class="dropdown dis-flex clickable"
        >All classrooms <i class="bx bx-chevron-down"></i
      ></span>
    </div>
  </div>

  <div class="right dis-flex">
    <!-- Sort -->
    <div class="sort s-f">
      <div class="body-3-regular dis-flex">
        <span class="title">Sort:</span>
        <span class="dropdown dis-flex clickable"
          >Last modified <i class="bx bx-chevron-down"></i
        ></span>
      </div>
    </div>

    <!-- New Classroom Button -->
    <button class="btn prim_btn" (click)="goToAddClassroom()" *ngIf="user.role === 'school'">
      New Classroom
    </button>
  </div>
</section>

<ng-container>
  <app-loader *ngIf="dataLoading"></app-loader>
  
  <section class="classroom" *ngIf="!dataLoading">
    <app-grid-display-classrooms [classrooms]="classrooms" [user]="user" *ngIf="classrooms?.length ?? 0 > 0" (reloadData)="getClassrooms()"></app-grid-display-classrooms>

    <div class="classroom_body" *ngIf="classrooms?.length === 0">
        <app-blank-display-classroom [user]="user"></app-blank-display-classroom>
    </div>
  </section>
</ng-container>
