<div class="auth signup">
  <div class="auth_welcome">
    <div class="auth_welcome_content">
      <!-- Logo -->
      <span class="auth_content_logo clickable" routerLink="/">
        <img src="../../../assets/img/logo.svg" alt="" />
      </span>
      <span class="logo clickable" routerLink="/">
        <img src="../../../assets/img/logo-white.svg" alt="" />
      </span>
      <div class="details">
        <h2 class="title">Welcome to a World of Unlimited Impact!</h2>
        <p>
          With over 500 children that have gone through our programs, you can now have
          increased reach and support from our resources to make lasting positive impact and contribute to
          making the world a better place.
        </p>
      </div>
    </div>
  </div>
  <div class="auth_content">
    <div class="auth_content_header">
      <p class="body-1-regular clickable go-back hover-2" (click)="goBack()">
        Back
      </p>
      <h3 class="title">Sign Up</h3>
    </div>
    <!-- <div class="auth_content_other">
      <div class="auth_content_other_google dis-flex clickable">
        <img src="../../../assets/img/svg/google-icon.svg" alt="" />
        <p class="body-1-medium">Sign up with Google</p>
      </div>
      <p class="body-3-regular auth_content_other_or">Or</p>
    </div> -->
    <form class="auth_content_form">
      <div class="form-field col-2">
        <label for="fullName">Name</label>
        <div class="input-field">
          <input type="text" name="full-name" />
        </div>
      </div>
      <div class="form-field col-2">
        <label for="phoneNumber">Phone Number</label>
        <div class="input-field">
          <input type="tel" name="phoneNumber" />
        </div>
      </div>
      <div class="form-field col-2">
        <label for="email">Email Address</label>
        <div class="input-field">
          <input type="email" name="email" />
        </div>
      </div>
      <div class="form-field col-2">
        <label for="password">Password</label>
        <div class="input-field">
          <input
            type="password"
            name="password"
            [type]="hide ? 'password' : 'text'"
          />
          <i
            [class]="
              hide ? 'bx bx-show clickable icon' : 'bx bx-hide clickable icon'
            "
            (click)="hide = !hide"
          ></i>
        </div>
        <p class="body-3-regular warning">
          Your password must be at least 6 characters
        </p>
      </div>
      <!-- Terms and conditions -->
      <p class="col-2 terms">
        By signing up you agree to our
        <span class="body-1-medium text-primary-color clickable"
          >Terms and Conditions</span
        >
        and the
        <span class="body-1-medium text-primary-color clickable"
          >Privacy Policy</span
        >.
      </p>
      <span class="message" *ngIf="showError">{{ errorMessage }}</span>
      <!-- Submit Button -->
      <div class="form-btn col-2">
        <button class="btn prim_btn clickable" [disabled]="loading">
          <span *ngIf="!loading">Sign Up</span>
          <span *ngIf="loading">Processing...</span>
        </button>
      </div>
    </form>
    <div class="auth_content_extra">
      <p class="login">
        Already have an account?
        <span
          class="text-primary-color body-1-bold clickable"
          routerLink="/login"
          >Login</span
        >
      </p>
    </div>
  </div>
</div>
