<div class="courses_dislist">
    <table>
      <tr class="table-header">
        <th>Quiz name</th>
        <th>Tags</th>
        <th>Quiz Level</th>
        <th>Quiz Type</th>
        <th>Date Created</th>
        <th>Action</th>
      </tr>
      <tr
        class="table-body"
        *ngFor="let item of allquizzes; let i = index"
      >
        <td class="name">{{ item.title | titlecase }}</td>
        <td>
            <span *ngFor="let tag of item.tags; let last = last">
                {{ tag }}
                <ng-container *ngIf="!last">, </ng-container>
            </span>
            <span *ngIf="item.tags.length === 0">-</span>
        </td>
        <td>{{ item.quiz_level }}</td>
        <td>{{ item.quiz_type }}</td>
        <td>{{ item.createdAt | date: 'mediumDate' }}</td>
        <td class="actions">
          <img src="../../../../../../assets/img/action.svg" alt="" class="clickable" (click)="toggleAction(i)" />
            <div class="dropdown" [ngClass]="{'active': activeIndex === i}">
              <small
                class="body-3-regular delete clickable"
                [routerLink]="[item.id, 'details']"
                >View</small
              >
            </div>
        </td>
      </tr>
    </table>
  </div>
  