<!-- Alert message -->
<app-alert-popup
  *ngIf="isAlert"
  [alertMessage]="alertMessage"
  [alertColor]="alertColor"
></app-alert-popup>

<section class="ds-head dis-flex">
  <h2 class="ds-head_title clickable" [routerLink]="'/' + user?.role + '/programs'">
    Programs
  </h2>
  <i class="bx bx-chevron-right icon"></i>
  <p class="clickable" [title]="program?.name">
    {{
      program?.name.length > 20
        ? program?.name.slice(0, 20) + "..."
        : program?.name
    }}
  </p>
</section>

<!-- eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjYzNjM4NzJkZDQzYjRhZTRkZGYzZTVhOCIsImZ1bGxuYW1lIjoiRGF2aWRkIFBhcmVudCIsImVtYWlsIjoiZGF2aWQuYXJlbXVAc3QuZnV0bWlubmEuZWR1Lm5nIiwicm9sZSI6InBhcmVudCIsImlzVXNlck9uYm9hcmRlZCI6dHJ1ZSwicGhvbmUiOiIxMTExMTExMTExMTExMTEiLCJpYXQiOjE2NzY0NDgzNzgsImV4cCI6MTY3NjUzNDc3OH0.70xMz-Gv6lFihjAbZgcAch-31m9Wnpu-EKLGW9lR-gY -->

<section class="course-details">
  <div class="course-details_image">
    <img src="../../../../../../assets/img/program-thumbnail.svg" alt="" />
  </div>
  <div class="course-details_header">
    <div class="course-details_header_top">
      <div class="left">
        <h2>{{ program?.name }}</h2>
        <div class="dis-flex left_bottom">
          <button
            [ngClass]="
              program?.status === 'active' ? 'success_btn' : 'grey_btn'
            "
          >
            {{ program?.status === "active" ? "Ongoing" : "Ended" }}
          </button>
          <div class="icons dis-flex">
            <span class="dis-flex"
              ><img
                src="../../../../../../assets/img/svg/calendar-2.svg"
                alt=""
              />
              <p class="body-2-regular">
                Start date {{ program?.start_date | date: "mediumDate" }}
              </p></span
            >
            <!-- <span class="dis-flex"
              ><img src="../../../../../../assets/img/svg/medal.svg" alt="" />
              <p class="body-2-regular">3 Sections</p></span
            > -->
          </div>
        </div>
      </div>
    </div>
    <div class="course-details_header_bottom">
      <p class="descript">
        {{ program?.description }}
      </p>
      <ul class="numbers dis-flex">
        <li>
          <p class="body-2-bold">{{ program?.courses?.length }}</p>
          <p class="body-3-regular">{{program?.courses?.length > 1 ? 'Courses' : 'Course'}}</p>
        </li>
        <li>
          <p class="body-2-bold">{{ program?.schools?.length }}</p>
          <p class="body-3-regular">{{program?.schools?.length > 1 ? 'Schools' : 'School'}}</p>
        </li>
        <li>
          <p class="body-2-bold">{{ program?.learner_count }}</p>
          <p class="body-3-regular">{{program?.learner_count > 1 ? 'Learners' : 'Learner'}}</p>
        </li>
      </ul>
      <div class="completion">
        <p class="body-2-bold title">Timeframe</p>
        <p class="body-2-medium text-primary-color">0 Day</p>
      </div>
      <div class="students">
        <p class="body-2-bold title">Total Students</p>
        <ul class="students_list dis-flex">
          <li>
            <img
              src="../../../../../../../../../../../../assets/img/svg/orange-circle.svg"
              alt=""
            />
          </li>
          <li>
            <img
              src="../../../../../../../../../../../../assets/img/svg/orange-circle.svg"
              alt=""
            />
          </li>
          <li>
            <img
              src="../../../../../../../../../../../../assets/img/svg/orange-circle.svg"
              alt=""
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="course-details_body">
    <div class="course-details_body_header">
      <ul class="dis-flex">
        <li
          class="body-2-medium active"
          [class.active]="contentId === 'courses'"
          (click)="tabChange('courses')"
        >
         Courses
        </li>
        <li
          class="body-2-medium"
          [class.active]="contentId === 'schools'"
          (click)="tabChange('schools')"
        >
          Schools
        </li>
      </ul>
    </div>
    <div class="course-details_body_content">
      <ng-container *ngIf="contentId === 'courses'">
        <div class="table-container" style="overflow-x: auto">
          <ng-container *ngIf="program?.courses?.length > 0">
            <table>
              <tr class="table-header">
                <th>Title</th>
                <th>Number of lesson(s)</th>
                <th>Quadrant</th>
                <th>Duration</th>
                <th>Action</th>
              </tr>
              <ng-container>
                <tr class="table-body clickable" *ngFor="let course of program?.courses" (click)="takeCourse(course?.id)">
                  <td>{{ course?.title }}</td>
                  <td>{{course?.lesson_count}}</td>
                  <td>{{course?.course_quadrant}}</td>
                  <td>{{course?.duration}}</td>
                  <td>
                    <button class="btn sec_btn" (click)="takeCourse(course?.id)">Start</button>
                  </td>
                </tr>
              </ng-container>
              <!-- <ng-template>
                <p style="text-align: center">Empty School list!</p>
              </ng-template> -->
            </table>
          </ng-container>

          <p style="text-align: center" *ngIf="program?.sponsors?.length === 0">
            No Course available
          </p>
        </div>
      </ng-container>

      <ng-container *ngIf="contentId === 'schools'">
        <div class="table-container" style="overflow-x: auto">
          <ng-container *ngIf="program?.schools?.length > 0">
            <table>
              <tr class="table-header">
                <th>Name</th>
                <th>Number of students</th>
              </tr>
              <ng-container>
                <tr class="table-body" *ngFor="let school of program?.schools">
                  <td>{{ school?.name }}</td>
                  <td>{{school?.student_count}}</td>
                </tr>
              </ng-container>
            </table>
          </ng-container>

          <p style="text-align: center" *ngIf="program?.sponsors?.length === 0">
            No School available
          </p>
        </div>
      </ng-container>
    </div>
  </div>
</section>
