@import '../../../../../../assets/css/variables.scss';
@import '../../../../../../assets/css/mixins.scss';
@import '../../../../../../assets/css/dashboard.scss';
@import '../../../../../../assets/css/auth.scss';
@import '../../../../../../assets/css/default.scss';

// Modal
.modal {
  @include modal($modal-area-width: 500px);
}

@mixin hover {
  transition: all .2s;
  &:hover {
    border-color: $primary80;
  }
}

form {
  margin-top: $m-3;
  .form_control_container {
    display: grid;
    grid-gap: $m-3;
    grid-template-columns: repeat(2, 1fr);
    @media only screen and (min-width: 590px) {
      .form_control {
        &.col-2 {
          grid-column: 1 / span 2 ;
        }
      }
    }
  }
  .form_control {
    width: 100%;
    label {
      display: inline-block;
      color: $primary80;
      margin-bottom: $m-2;
      font-size: 18px;
      font-weight: 700;
      .label-required {
        color: $error80;
      }
    }
    &_field {
      width: 100%;
      border: 1px solid $inner-border;
      border-radius: $border-radius1;
      padding: 0 $m-2;
      @include hover();
      input,
      textarea,
      select {
        padding: $m-2 0;
        width: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        height: 100%;
        &::placeholder {
          font-size: 16px;
        }
      }
      textarea {
        resize: none;
      }
    }
    &.tags {
      margin-bottom: $m-4;
    }
  }
  .form_btns {
    gap: $m-2;
    margin-top: $m-4;
    justify-content: center;
  }
}