@import './variables.scss';

.btn {
    position: relative;
    display: inline-block;
    padding: 0.5rem 1.2rem;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    outline: none;
    border-radius: $border-radius1;
    transition: all 0.4s;
    z-index: 1;
    &[disabled] {
      cursor: not-allowed;
    }
}
.prim_btn {
    background-color: $secondary80;
    color: $white-color;
    border: 2px solid $secondary80;
    &:hover {
        color: $secondary80;
        background-color: $white-color;
    }
}
.sec_btn {
    color: $primary80;
    background-color: $white-color;
    border: 2px solid $primary80;
    &:hover {
        background-color: $primary80;
        color: $white-color;
    }
}
.tert_btn {
    color: $secondary80;
    background-color: $white-color;
    border: 2px solid $secondary80;
    &:hover {
        background-color: $secondary80;
        color: $white-color;
        border: 2px solid $secondary80;
    }
}

.success_btn,
.grey_btn,
.warning_btn,
.danger_btn {
    display: inline-block;
    border: 0.5px solid;
    padding: $m-1 $m-2;
    border-radius: 4px;
    text-align: center;
    font-size: 18px;
    transition: all 0.4s;
    // cursor: pointer;
}
.success_btn {
    background: $success20;
    color: $success80;
    // border-color: $success100;
}
.grey_btn {
    background-color: $white-color;
    color: $inner-border;
    // border-color: $grey100;
    &:hover {
        background-color: $divider-color;
    }
}
.warning_btn {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), #FACC15;
    color: $warning80;
    // border-color: $grey100;
}
.danger_btn {
    background: $error20;
    color: $error80;
    // border-color: $grey100;
}