@import './variables.scss';

.container-dash {
  @media only screen and (max-width: 997px) {
    display: flex;
    width: 100%;
  }
  // Side Nav starts //
  .sidenav-area {
    width: 15%;
    min-height: 100vh;
    position: fixed;
    left: 0;
    border-right: 1px solid $divider-color;
    .sidenav {
      // height: 100%;
      background-color: $white-color;
      position: relative;
    }
    @media only screen and (max-width: 997px) {
      position: fixed;
      top: 0px;
      left: -100%;
      width: 200px;
      transition: all 0.5s;
      z-index: 100;
      &.show-menu {
        left: 0;
      }
      .sidenav {
        width: 100%;
      }
    }
  }
  // Side Nav ends //

  // Main starts //
  main {
    position: absolute;
    left: 15%;
    width: 85%;
    min-height: 100vh;
    overflow: hidden;
    background-color: $grey40;
    .main-body {
      padding: $m-3;
      margin-top: 5rem;
    }

    @media only screen and (max-width: 997px) {
      left: 0;
      width: 100%;
      transition: all 0.5s;
      &.show-menu {
        left: 200px;
      }
      .main-header .main-header-menu {
        visibility: visible;
      }
    }
  }
  // Main ends //
}
