@import './variables.scss';
@import './mixins.scss';
@import './auth.scss';


@mixin hover {
  transition: all .2s;
  &:hover {
    border-color: $primary80;
  }
}

// Modal
.modal {
  @include modal($modal-area-width: 500px);
  &_area {
    // padding: $m-6 $m-3;
    
  }
}

// enroll-mtd tab
.enroll-mtd_tab {
  display: flex;
  justify-content: center;
  &_wrapper {
    border: 1px solid $divider-color;
    background-color: $grey40;
    color: $grey100;
    border-radius: 8px;
    padding: calc(0.25rem + 1px);
    display: flex;
    align-items: center;
    gap: $m-1;
    .tab {
      display: inline-block;
      border-radius: $border-radius1;
      padding: calc(0.25rem + 1px) $m-2;
      font-weight: 500;
      font-size: 14px;
      transition: all .2s ease;
      cursor: pointer;
      &.active {
        background-color: $white-color;
        color: $text-color1;
        box-shadow: $box-shadow;
      }
    }
  }

}

.auth_content {
  .auth_content_form {
    margin-top: $m-2;
    .avatar {
      &_list {
        flex-wrap: wrap;
        gap: $m-1;
        justify-content: space-between;
        img {
          width: 40px;
          height: 40px;
          cursor: pointer;
          transition: all 0.2s ease-in;
          border: 3px solid transparent;
          &:hover {
            border-color: $inner-border;
            border-radius: 50%;
          }
          &.selected {
            border-color: $primary80;
            border-radius: 50%;
          }
        }
      }
    }
    .form-btns {
      justify-content: center;
      gap: $m-2;
      margin-top: $m-4;
    }
    .single-enroll {
      display: grid;
      grid-gap: $m-3;
      @media only screen and (min-width: 450px) {
        grid-template-columns: repeat(2, 1fr);
        .col-2 {
          grid-column: 1 / span 2 ;
        }
      }
    }
    .batch-enroll {
      .select-image {
        display: grid;
        place-items: center;
        align-content: center;
        grid-gap: $m-1;
        height: 100px;
        width: 100%;
        border: 1px dotted $inner-border;
        border-radius: $border-radius1;
        padding: $m-2;
        @include hover();
        img {
          width: 34px;
          height: 34px;
        }
      }
    }
  }
}

