//--- Module View Page ---//
@import './variables.scss';
@import './mixins.scss';

.mvp {
    @include sect-bg($border-color: transparent);
    padding: 0 0 $m-4 0;
    &_image {
      padding: 0 $m-3;
      width: 100%;
      height: 200px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-top-left-radius: $border-radius3;
      border-top-right-radius: $border-radius3;
    }
    &_header {
      padding: 0 $m-3;
      margin-top: $m-2;
      &_top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: $m-2;
        margin-bottom: $m-3;
        .left {
            &_bottom {
              gap: $m-2;
              margin-top: $m-2;
              .icons {
                  gap: $m-2;
                  flex-flow: row wrap;
                  justify-content: space-between;
                  color: $primary40;
                  img {
                      margin-right: $m-1;
                      width: 14px;
                      height: 14px;
                  }
              }
          }
        }
        .right {
          gap: $m-2;
        }
      }
      &_bottom {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          gap: $m-2;
          .descript {
              width: 100%;
          }
          .students,
          .completion {
            gap: $m-3;
          }
          .numbers {
              gap: $m-1;
              li {
                  display: grid;
                  place-items: center;
                  padding: $m-1;
                  border: 1px solid $divider-color;
                  border-radius: $border-radius1;
              }
          }
          .students {
              &_value {
                gap: $m-1;
              }
              &_list {
                  margin-top: $m-1;
                  li {
                      &:not(:first-child) {
                          margin-left: -15px;
                      }
                      img {
                          width: 25px;
                          height: 25px;
                          border: 1px solid $white-color;
                          border-radius: 50%;
                          cursor: pointer;
                      }
                  }
              }
          }
          .completion {
              .name {
                gap: $m-1;
                .icon {
                  color: $error80;
                }
              }
          }
  
      }
    }
    &_body {
      margin-top: $m-4;
      &_header {
        padding: 0 $m-4;
        height: 3.5rem;
        border-bottom: 1px solid $divider-color;
        overflow-x: auto;
        ul {
          li {
            line-height: 3.3rem;
            cursor: pointer;
            transition: all .2s;
            padding: 0 $m-3;
            border-bottom: 2px solid transparent;
            &.active {
              color: $primary80;
              border-bottom: 2px solid $primary80;
            }
            &:hover {
              background-color: $grey40;
            }
          }
        }
      }
      &_content {
          display: flex;
          .courses {
              padding: $m-4;
              width: 100%;
              p  {
                  color: $primary20;
              }
          }
        .table-container {
          padding: $m-4;
          width: 100%;
        }
      }
    }
  }