<section class="ds-head dis-flex">
  <h2 class="ds-head_title clickable" routerLink="/admin/courses">Course</h2>
  <i class="bx bx-chevron-right icon"></i>
  <p class="clickable">Course Info</p>
</section>

<section class="course-details">
  <div class="course-details_image">
    <img src="../../../assets/img/thumbnail-1.png" alt="" />
  </div>
  <div class="course-details_header">
    <div class="course-details_header_top dis-flex">
      <h2>Introduction to Robotics</h2>
      <div class="right dis-flex">
        <button class="grey_btn">Edit Quiz</button>
        <button class="grey_btn">Preview as Learner</button>
        <button class="grey_btn settings">
          <img src="../../../assets/img/svg/setting-grey.svg" alt="" />
        </button>
      </div>
    </div>
    <div class="course-details_header_bottom dis-flex">
      <button class="success_btn">Published</button>
      <div class="icons dis-flex">
        <span class="dis-flex"
          ><img src="../../../assets/img/svg/calendar-2.svg" alt="" />
          <p class="body-2-regular">Created May 12.2022</p></span
        >
        <span class="dis-flex"
          ><img src="../../../assets/img/library/Bag.svg" alt="" />
          <p class="body-2-regular">Developer</p></span
        >
        <span class="dis-flex"
          ><img src="../../../assets/img/svg/medal.svg" alt="" />
          <p class="body-2-regular">10 questions</p></span
        >
      </div>
    </div>
  </div>
  <div class="course-details_body">
    <div class="course-details_body_header">
      <ul class="dis-flex">
        <li class="body-2-medium active">Content</li>
        <li class="body-2-medium">Statistics</li>
      </ul>
    </div>
    <div class="course-details_body_content">
      <aside>
        <ul>
          <li class="active">
            <h5 class="body-2-medium">Question -1</h5>
            <p>Updated May 23,2022 5:12PM</p>
          </li>
          <li>
            <h5 class="body-2-medium">Question -2</h5>
            <p>Updated May 23,2022 5:12PM</p>
          </li>
          <li>
            <h5 class="body-2-medium">Question -3</h5>
            <p>Updated May 23,2022 5:12PM</p>
          </li>
          <li>
            <h5 class="body-2-medium">Question -3</h5>
            <p>Updated May 23,2022 5:12PM</p>
          </li>
        </ul>
      </aside>
      <main>
        <div class="header">
          <h5 class="body-2-medium ds-sect-header">State your question</h5>
          <p class="question">
            Inventore ex repellat voluptate quisquam. Culpa omnis velit earum
            qui expedita. Tempora qui qui rerum nesciunt perferendis atque
            illum.
          </p>
        </div>
        <ul>
          <li>
            <p>A. <span>The weaver</span></p>
          </li>
          <li>
            <p>B. <span>A book</span></p>
          </li>
          <li>
            <p>C. <span>The wardrobe</span></p>
          </li>
        </ul>
      </main>
    </div>
  </div>
</section>
