<!-- Alert message -->
<app-alert-popup
  *ngIf="isAlert"
  [alertMessage]="alertMessage"
  [alertColor]="alertColor"
></app-alert-popup>

<form [formGroup]="questionForm">
  <div formArrayName="questions" class="form_container">
    <div *ngFor="let questionGroup of questions.controls; let i = index" [formGroupName]="i">
      <div class="form_control_question">
        <div class="form_control_question_header dis-flex">
          <label style="margin-bottom: 0;">Question {{ i + 1 }}</label>
          <div class="dis-flex form_control_question_header_right dis-flex">
            <div class="form_control_field">
              <select formControlName="selectionType" [id]="'selectionType' + ' ' + i" name="selectionType">
                <option value="single" selected>Single Choice</option>
                <option value="multiple">Multiple Choice</option>
                <option value="boolean">True/False</option>
              </select>
            </div>
            <span class="clickable remove-question dis-flex" (click)="removeQuestion(i)">
              <img src="../../../../../../assets/img/svg/fi_check.svg" class="icon" alt="cancel">
            </span>
          </div>
        </div>
        <div class="form_control_field">
          <textarea
            name="question"
            id="question"
            cols="30"
            rows="3"
            placeholder="State your question"
            spellcheck="true"
            formControlName="question"
          ></textarea>
        </div>
      </div>

      <div formArrayName="options" class="options_container">
        <div>
          <label>State your Options</label>  
          <div *ngIf="getOptions(questionGroup)" class="options_container_body">
            <div *ngFor="let option of getOptions(questionGroup)?.controls; let j = index">
              <div class="form_control dis-flex">
                  <label>{{ getAlphabetLabel(j) }}.</label>
                  <div class="form_control_field option">
                    <input [formControlName]="j" placeholder="Enter option text" />
                    <span class="clickable remove-option dis-flex" (click)="removeOption(questionGroup, j)">
                      <img src="../../../../../../assets/img/svg/fi_check.svg" class="icon" alt="cancel">
                    </span>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <span class="add-option dis-flex clickable" (click)="addOption(questionGroup)">
          <img src="../../../../../../assets/img/svg/add.svg" alt="">
          Add Option
        </span>
      </div>

      <div class="correct_answer_container form_control dis-flex">
        <label>Correct Answer:</label>
        <div class="form_control_field">
          <input formControlName="correctAnswer" placeholder="Enter correct answer" title="Copy and paste the correct option here" />
        </div>
      </div>
    </div>
  </div>

  <div class="form_btns dis-flex">
    <ng-container *ngIf="!loading">
      <button class="btn sec_btn" (click)="addQuestion()">Add Question</button>
      <button class="btn prim_btn" (click)="onSubmit()" [disabled]="questionForm.invalid">Submit</button>
    </ng-container>
    <button
      class="btn prim_btn"
      [disabled]="loading"
      *ngIf="loading"
    >Processing...</button> 
  </div>
</form>
  