<section class="ds-head dis-flex">
  <h2 class="ds-head_title clickable" routerLink="/learner/library">Library</h2>
  <i class="bx bx-chevron-right icon"></i>
  <p class="clickable">
    {{
      course?.title.length > 20
        ? course?.title.slice(0, 20)  + "..." 
        : course?.title | titlecase
    }}
  </p>
</section>

<section class="course-info">
  <div class="dis-flex course-info_header">
    <h3 class="course-title">{{ course?.title }}</h3>
    <button
      class="btn prim_btn"
      (click)="startCourse()"
      [disabled]="course?.lessons?.length === 0"
    >
      Start Course
    </button>
  </div>
  <div class="ds-flex">
    <main class="du-grid">
      <div class="course-info_about">
        <div class="ds-sect-header">
          <h5 class="">About the course</h5>
        </div>
        <p class="course-info_about_descp">
          {{ course?.description }}
        </p>
        <div class="course-info_about_content">
          <h5 class="course-info_about_content_title">Course Modules</h5>
          <ol class="course-info_about_content_list">
            <li
              *ngFor="
                let module of course?.modules;
                let modulesIndex = index
              "
              (click)="startCourseThroughModule(course?.id,course?.modules[modulesIndex].id)"
            >
              <b>{{ modulesIndex + 1 }}.</b> {{ module.title }}
            </li>
          </ol>
        </div>
      </div>
    </main>
    <aside>
      <div class="course-info_tutor">
        <div class="ds-sect-header">
          <h5 class="">Course Tutor</h5>
        </div>
        <div class="course-info_tutor_list du-grid">
          <div class="course-info_tutor_list_item">
            <img
              src="../../../../../assets/img/children-avatar/child-avatar-10.png"
              alt="Course Tutor"
              class="image"
            />
            <p class="body-1-medium name">Chibuzor Okolo</p>
            <p class="body-1-regular details">
              He's a Backend Developer and Co-founder at Dumena Technologies.
            </p>
          </div>
        </div>
      </div>
    </aside>
  </div>
</section>

<!-- <section class="similar-course">
  <div class="ds-sect-header">
    <h5>Similar Courses</h5>
  </div>
  <app-courses-card></app-courses-card>
</section> -->
