<section class="newsletter">
  <div class="newsletter_area">
    <h3>Subscribe to get more updates</h3>
    <p>
      Subscribe to join our growing community for more information, latest news
      and other interesting updates.
    </p>
    <div class="input_field">
      <input type="text" placeholder="Please enter your email address" />
      <button class="btn prim_btn">Learn more</button>
    </div>
  </div>
  <img src="../../../assets/img/vectors/stars.svg" alt="" class="vector" />
</section>
