<div class="programs_disgrid">
    <div class="program_card">
      <div class="program_card_item" *ngFor="let classroom of classrooms; let i = index">
        <div 
          class="program_card_item_image clickable" 
          [style.backgroundImage]="classroom?.thumbnail ? 'url(' + classroom?.thumbnail + ')' : 'url(assets/img/program-thumbnail-patterns.svg)'"
          (click)="viewClassroom(classroom?.id, 'courses')"
        ></div>
  
        <div class="program_card_item_details" *ngIf="classroom.name !== undefined">
          <div class="program_card_item_details_right">
            <div class="program_card_item_details_right_header">
              <div class="" style="display: flex; justify-content: space-between; align-items: center; gap: 10px;">
                <h5
                  class="title clickable"
                  [title]="classroom?.name"
                  (click)="viewClassroom(classroom?.id, 'courses')"
                >
                  {{
                    classroom?.name | truncate
                  }}
                </h5>
              <p [className]="classroom.active_term ? 'success-status' : 'error-status'">{{ (classroom.active_term ? classroom.active_term.title : "On Break") | uppercase }}</p>
              </div>
            </div>
            <ul class="dis-flex">
              <li (click)="viewClassroom(classroom?.id, 'courses')">
                <p class="body-2-bold">{{ classroom?.course_count || '0' }}</p>
                <p class="body-3-regular">{{(classroom?.course_count ?? 0) > 1 ? 'Courses' : 'Course'}}</p>
              </li>

              <li (click)="viewClassroom(classroom?.id, 'learners')">
                <p class="body-2-bold">{{ classroom?.learner_count || '0' }}</p>
                <p class="body-3-regular">{{(classroom?.learner_count || 0) > 1 ? 'Learners' : 'Learner'}}</p>
              </li>
            </ul>
          </div>
  
          <div class="program_card_item_details_left">
            <div class="students">
              <p class="body-2-regular title">Total {{(classroom?.learner_count || 0) > 1 ? 'Learners' : 'Learner'}} ({{ classroom?.learner_count || '0' }})</p>
              <ul class="students_list dis-flex">
                <li>
                  <img
                    src="../../../../../assets/img/children-avatar/child-avatar-1.png"
                    alt=""
                  />
                </li>
                <li>
                  <img
                    src="../../../../../assets/img/children-avatar/child-avatar-2.png"
                    alt=""
                  />
                </li>
                <li>
                  <img
                    src="../../../../../assets/img/children-avatar/child-avatar-3.png"
                    alt=""
                  />
                </li>
              </ul>
            </div>
            <!-- <div class="completion">
              <p class="body-2-regular title">Start date</p>
              <p class="body-2-medium">
                {{ classroom?.start_date | date: "mediumDate" }}
              </p>
            </div> -->
            <!-- <div class="status">
              <span
                [ngClass]="
                  classroom?.status === 'active' ? 'success_btn' : 'grey_btn'
                "
                >{{ classroom?.status === "active" ? "Published" : "Draft" }}</span
              >
            </div> -->
          </div>
        </div>
  
        <div class="actions" *ngIf="user.role === 'school'">
          <img
            src="../../../../../../assets/img/action.svg"
            class="clickable"
            alt="image"
            (click)="toggleAction(i)"
          />
          <div class="dropdown" [ngClass]="{'active': activeIndex === i}">
            <small
              class="body-3-regular delete clickable"
              (click)="openConfirmModal(classroom)"
              >Delete</small
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Delete confirmation -->
  <app-confirm-delete 
    *ngIf="confirmModal" 
    (confrimModal)="closeConfirmModal()" 
    [confirmMessage]="confirmMessage" 
    [confirmUrl]="confirmUrl" 
    (reloadData)="getReloadData()"
  ></app-confirm-delete>
  