<section class="ds-head">
    <h2 class="ds-head_title">Dashboard</h2>
  </section>
  
  <section class="ds-flex">
    <main class="ds-grid">
      <div class="welcome dis-flex">
        <div class="welcome_details">
          <h1>{{greeting}}, {{ user.fullname.split(" ")[1] }}!</h1>
          <p>
            Your dashboard shows updates on your classrooms, learners assignments, and all
            other progress
          </p>
        </div>
        <div class="welcome_image">
          <img
            src="../../../../../assets/img/learner/undraw_real_time_sync.svg"
            alt=""
          />
        </div>
      </div>

      <div class="ap-sch">
        <div class="ap-sch_title">
          <h5>Learner's Activities</h5>
        </div>
        <div class="ap-sch_body">
          <div style="overflow-x: auto">
            <table>
              <tr class="table-header">
                <th>Name</th>
                <th>Activity</th>
                <th>Date</th>
              </tr>
              <tr class="table-body" *ngFor="let i of learnersActivities">
                <td>{{ i.name }}</td>
                <td>{{ i.activityType }}</td>
                <td>{{ i.activityData.timestamp | date: "medium" }}</td>
              </tr>
  
              <tr>
                <td colspan="3" style="text-align: center">No data available</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </main>
  </section>
  
  <div class="chart-container">
    <div class="chart" id="chart_div"></div>
  </div>
  