<section class="ds-head">
    <h2 class="ds-head_title">Dashboard</h2>
  </section>
  
  <section class="ds-flex">
    <main class="ds-grid">
      <div class="welcome dis-flex">
        <div class="welcome_details">
          <h1>{{greeting}}, {{ user.fullname.split(" ")[1] }}!</h1>
          <p>
            Your dashboard shows updates on your classrooms, learners assignments, and all
            other progress
          </p>
        </div>
        <div class="welcome_image">
          <img
            src="../../../../../assets/img/learner/undraw_real_time_sync.svg"
            alt=""
          />
        </div>
      </div>

      <div class="lo">
        <div class="ds-sect-header">
          <h5>Classsroom Overview</h5>
        </div>
        <div class="chart-container">
          <div class="chart" id="chart_div" style="width: 100%;"></div>
        </div>
      </div>
    </main>
  
    <aside class="ds-grid">
      <div class="complete-profile">
        <div class="ds-sect-header dis-flex">
          <h5 class="text-secondary-color">Complete your profile</h5>
          <i class="bx bx-chevron-right"></i>
        </div>
        <div class="progress-bar">
          <div class="progressbarWrapper">
            <span id="bar"></span>
          </div>
        </div>
        <small>20% complete</small>
  
        <!-- <div class="someElement" data-tooltip="This is a tooltip">Hover Me</div> -->
      </div>
      <div class="points">
        <img
          src="../../../../../assets/img/children-avatar/child-avatar-1.png"
          alt=""
          class="points_profile-img"
        />
        <ul class="points_list">
          <li>
            <div>
              <img
                src="../../../../../assets/img/learner/icomoon-free_fire.svg"
                alt=""
              />
              <p class="body-1-bold">Streak</p>
            </div>
            <h2 class="value">0</h2>
          </li>
          <li>
            <div>
              <img
                src="../../../../../assets/img/learner/subway_coin.svg"
                alt=""
              />
              <p class="body-1-bold">DuPoints</p>
            </div>
            <h2 class="value">0XP</h2>
          </li>
        </ul>
      </div>
      <!-- Learning quadrant(lq) -->
      <div class="lq">
        <div class="ds-sect-header dis-flex">
          <h5>Learning Quadrant</h5>
          <p class="caption-regular text-primary-color clickable">See Details</p>
        </div>
        <div class="chart-container">
          <!-- <img
            src="../../../../../assets/img/learner/learning-quadrant-chart.svg"
            alt=""
          /> -->
          <div class="chart" id="donutchart" style="width: 100%;"></div>
        </div>
      </div>
      <!-- Leaderboard(lb) -->
      <div class="lb">
        <div class="ds-sect-header dis-flex">
          <h5>Leaderboard</h5>
        </div>
        <div class="lb_body">
          <img src="../../../../../assets/img/learner/coming-soon.svg" alt="" />
          <h3 class="text-primary-color">Coming soon</h3>
        </div>
      </div>
    </aside>
  </section>
  
  <div class="chart-container">
    <div class="chart" id="chart_div" ></div>
  </div>
  