<section class="ds-head dis-flex">
    <h2 class="ds-head_title clickable" (click)="navigatePage()">Back to Course</h2>
    <i class="bx bx-chevron-right icon"></i>
    <p class="clickable" [title]="quiz?.title">
      {{ quiz?.title | truncate: 40 }}
    </p>
</section>
  
<section class="course-details">
    <div class="course-details_header" style="margin-top: 0;">
        <div class="course-details_header_top">
        <div class="left">
            <h2>{{ quiz?.title }}</h2>
            <div class="dis-flex left_bottom">
            <div class="icons dis-flex">
                <span class="dis-flex"
                ><img src="../../../../../../../assets/img/svg/calendar-2.svg" alt="" />
                <p class="body-2-regular">Created {{quiz?.createdAt | date: 'mediumDate'}}</p></span
                >
            </div>
            </div>
        </div>
        <div class="right dis-flex">
            <button class="btn delete_btn" (click)="openConfirmModal()">Delete</button>
        </div>
        </div>
        <div class="course-details_header_bottom">
        <!-- <ul class="numbers dis-flex">
            <li>
            <p class="body-2-bold">Level</p>
            <p class="body-3-regular">{{ quiz?.quiz_level }}</p>
            </li>
            <li>
            <p class="body-2-bold">Type</p>
            <p class="body-3-regular">{{ quiz?.quiz_type }}</p>
            </li>
        </ul> -->
        <div class="completion">
            <p class="body-2-bold title">Tags</p>
            <p class="body-2-medium text-primary-color">
            <span *ngFor="let tag of quiz?.tags; let last = last">
                {{ tag }}<ng-container *ngIf="!last">, </ng-container>
            </span>
            <span *ngIf="quiz?.tags.length === 0">-</span>
            </p>
        </div>
        <div class="completion">
            <p class="body-2-bold title">Show Answers</p>
            <p class="body-2-medium text-primary-color">
                {{ quiz?.settings?.show_correct_answers === true ? 'Yes' : 'No'}}
            </p>
        </div>
        </div>
    </div>
    <div class="course-details_body">
        <div class="course-details_body_header dis-flex">
            <ul class="dis-flex">
                <li class="body-2-medium active">Quizzes</li>
            </ul>

            <button 
                *ngIf="isAddQuizQuestion === false && isEditQuizQuestion === false && quiz?.questions.length > 0"
                class="btn prim_btn" 
                (click)="toggleAddQuizQuestions()"
            >Add More Questions</button>
        </div>
        <ng-container *ngIf="isAddQuizQuestion === false && isEditQuizQuestion === false">
            <div class="course-details_body_content" *ngIf="quiz?.questions.length > 0">
                <aside>
                    <ul>
                        <li *ngFor="let question of quiz?.questions; let i = index" [ngClass]="{'active': questionIndex === i}" (click)="questionIndex = i">
                            <h5 class="body-2-medium">Question - {{ i + 1 }}</h5>
                        </li>
                    </ul>
                </aside>
                <main>
                    <div class="header">
                        <div class="header_title dis-flex">
                            <h5 class="body-2-medium">Question</h5>
                            
                            <button 
                                class="btn grey_btn edit-term_btn" 
                                title="Edit Question" 
                                style="padding: 0.2rem;"
                                (click)="editQuestion(quiz?.questions[questionIndex])"
                            >
                                Edit
                                <i class='bx bx-edit-alt edit-term_icon'></i>
                            </button>

                            <!-- <span class="clickable remove-question dis-flex" (click)="removeQuestion(quiz?.questions[questionIndex].question)">
                                <img src="../../../../../../assets/img/svg/fi_check.svg" class="icon" alt="cancel">
                            </span> -->
                        </div>
                        <p class="question">
                        {{ quiz?.questions[questionIndex].question }}
                        </p>
                    </div>
                    <ul>
                        <li class="option" *ngFor="let option of getOptions(quiz?.questions[questionIndex]); let i = index" class="dis-flex">
                            <p class="option-label">{{ option.label }}.</p>
                            <div class="option-value dis-flex">
                                <span class="option-value_content">
                                    {{ option.value }}
                                </span>
                                <span 
                                    *ngIf="quiz?.questions[questionIndex].answer === option.label"
                                    class="option-value_marked dis-flex" 
                                >Marked as correct</span>
                            </div>
                        </li>
                    </ul>

                    <div class="main-footer dis-flex">
                        <button class="btn grey_btn" [disabled]="questionIndex === 0"
                          (click)="questionIndex = questionIndex - 1">Previous</button>
                        <button class="btn grey_btn" [disabled]="questionIndex === quiz?.questions.length - 1"
                          (click)="questionIndex = questionIndex + 1">Next</button>
                    </div>
                </main>
            </div>
            <ng-container *ngIf="quiz?.questions.length === 0">
                <div class="empty_content">
                    <p>Start by adding a Question</p>
                    <button class="btn prim_btn" (click)="toggleAddQuizQuestions()">Add Question</button>
                </div>
            </ng-container>
        </ng-container>

        
        <app-add-quiz-questions 
            *ngIf="isAddQuizQuestion === true" 
            [quizId]="activeParams.quizId"
            [quizQuestionCount]="quiz?.questions.length"
            (addQuizQuestionModal)="closeAndRefresh()"
        ></app-add-quiz-questions>  

        <app-edit-quiz-question 
            *ngIf="isEditQuizQuestion === true" 
            [quizId]="activeParams.quizId"
            [quizQuestion]="quizQuestion"
            [quizQuestionIndex]="questionIndex"
            (editQuizQuestionModal)="closeAndRefresh()"
        ></app-edit-quiz-question>
    </div>
</section>

<app-confirm-delete 
  *ngIf="confirmModal" 
  (confrimModal)="closeConfirmModal()" 
  [confirmMessage]="confirmMessage"
  (confrimDone)="deleteQuiz()"
></app-confirm-delete>
  