<div class="auth signup">
  <div class="auth_welcome">
    <div class="auth_welcome_content">
      <!-- Logo -->
      <span class="auth_content_logo clickable" routerLink="/">
        <img src="../../../assets/img/logo.svg" alt="" />
      </span>
      <span class="logo clickable" routerLink="/">
        <img src="../../../assets/img/logo-white.svg" alt="" />
      </span>
      <div class="details">
        <h2 class="title">Welcome to a World of Possibilities!</h2>
        <p>
          With many courses on Robotics, Coding, S.T.E.M and Web Design 
          supported by our Educators, you can now focus on the things that matter most to running your school.
        </p>
      </div>
    </div>
  </div>
  <div class="auth_content">
    <div class="auth_content_header">
      <p class="body-1-regular clickable go-back hover-2" (click)="goBack()">
        Back
      </p>
      <h3 class="title">Sign Up</h3>
    </div>
    <!-- <div class="auth_content_other">
      <div class="auth_content_other_google dis-flex clickable">
        <img src="../../../assets/img/svg/google-icon.svg" alt="" />
        <p class="body-1-medium">Sign up with Google</p>
      </div>
      <p class="body-3-regular auth_content_other_or">Or</p>
    </div> -->
    <form class="auth_content_form" [formGroup]="formGroup">
      <div
        class="form-field col-2"
        [ngClass]="{
          'is-invalid': formGroup.controls.school.errors && formGroup.controls.school.touched
        }"
      >
        <label for="school">Name of School</label>
        <div class="input-field">
          <input type="text" name="school" formControlName="school" />
          <i class="bx bx-error-circle icon info-icon"></i>
        </div>
        <div *ngIf="formGroup.controls.school.errors && formGroup.controls.school.touched">
          <p
            class="body-3-regular error-msg"
            *ngIf="formGroup.controls.school.errors.required"
          >
            School is required
          </p>
        </div>
      </div>
      
      <div
        class="form-field col-2"
        [ngClass]="{
          'is-invalid': formGroup.controls.email.errors && formGroup.controls.email.touched
        }"
      >
        <label for="email">School Email Address</label>
        <div class="input-field">
          <input type="email" name="email" formControlName="email" />
          <i class="bx bx-error-circle icon info-icon"></i>
        </div>
        <!-- Error -->
        <div *ngIf="formGroup.controls.email.errors && formGroup.controls.email.touched">
          <p
            class="body-3-regular error-msg"
            *ngIf="formGroup.controls.email.errors.required"
          >
            Email is required
          </p>
          <p
            class="body-3-regular error-msg"
            *ngIf="formGroup.controls.email.errors.email"
          >
            Invalid email address
          </p>
        </div>
      </div>

      <div
      class="form-field col-2"
      [ngClass]="{
        'is-invalid': formGroup.controls.address.errors && formGroup.controls.address.touched
      }"
    >
      <label for="address">School Address</label>
      <div class="input-field">
        <input type="text" name="address" formControlName="address" />
        <i class="bx bx-error-circle icon info-icon"></i>
      </div>
      <!-- Error -->
      <div *ngIf="formGroup.controls.address.errors && formGroup.controls.address.touched">
        <p
          class="body-3-regular error-msg"
          *ngIf="formGroup.controls.address.errors.required"
        >
          Address is required
        </p>
      </div>
    </div>
      
      <div
        class="form-field col-2"
        [ngClass]="{
          'is-invalid':
            formGroup.controls.resident_state.errors && formGroup.controls.resident_state.touched
        }"
      >
        <label for="resident_state">School Location</label>
        <div class="input-field">
          <select
            name=""
            id=""
            name="resident_state"
            formControlName="resident_state"
          >
            <option value="" selected disabled hidden>-- Your State --</option>
            <option [value]="i.name" *ngFor="let i of statesInNigeria">
              {{ i.name }}
            </option>
          </select>
          <i class="bx bx-error-circle icon info-icon"></i>
        </div>
        <!-- Error -->
        <div *ngIf="formGroup.controls.resident_state.errors && formGroup.controls.resident_state.touched">
          <p
            class="body-3-regular error-msg"
            *ngIf="formGroup.controls.resident_state.errors.required"
          >
            School location is required
          </p>
        </div>
      </div>

      <div
        class="form-field col-2"
        [ngClass]="{
          'is-invalid': formGroup.controls.fullname.errors && formGroup.controls.fullname.touched
        }"
      >
        <label for="full_name">Contact Person's Name</label>
        <div class="input-field">
          <input type="text" name="full_name" formControlName="fullname" />
          <i class="bx bx-error-circle icon info-icon"></i>
        </div>
        <!-- Error -->
        <div *ngIf="formGroup.controls.fullname.errors && formGroup.controls.fullname.touched">
          <p
            class="body-3-regular error-msg"
            *ngIf="formGroup.controls.fullname.errors.required"
          >
          Contact person name is required
          </p>
        </div>
      </div>

      <div
        class="form-field"
        [ngClass]="{
          'is-invalid': formGroup.controls.contactPersonEmail.errors && formGroup.controls.contactPersonEmail.touched
        }"
      >
        <label for="contactPersonEmail">Contact Email Address</label>
        <div class="input-field">
          <input type="contactPersonEmail" name="contactPersonEmail" formControlName="contactPersonEmail" />
          <i class="bx bx-error-circle icon info-icon"></i>
        </div>
        <!-- Error -->
        <div *ngIf="formGroup.controls.contactPersonEmail.errors && formGroup.controls.contactPersonEmail.touched">
          <p
            class="body-3-regular error-msg"
            *ngIf="formGroup.controls.contactPersonEmail.errors.required"
          >
          Contact Email is required
          </p>
          <p
            class="body-3-regular error-msg"
            *ngIf="formGroup.controls.contactPersonEmail.errors.email"
          >
            Invalid email address
          </p>
        </div>
      </div>

      <div
        class="form-field"
        [ngClass]="{
          'is-invalid': formGroup.controls.phone.errors && formGroup.controls.phone.touched
        }"
      >
        <label for="phone">Contact Number</label>
        <div class="input-field">
          <input type="tel" name="phone" formControlName="phone" />
          <i class="bx bx-error-circle icon info-icon"></i>
        </div>
        <!-- Error -->
        <div *ngIf="formGroup.controls.phone.errors && formGroup.controls.phone.touched">
          <p
            class="body-3-regular error-msg"
            *ngIf="formGroup.controls.phone.errors.required"
          >
            Phone number is required
          </p>
          <p
            class="body-3-regular error-msg"
            *ngIf="formGroup.controls.phone.errors.minlength"
          >
            Phone Number is less than 11 digits
          </p>
        </div>
      </div>

      <div
        class="form-field col-2"
        [ngClass]="{
          'is-invalid': formGroup.controls.password.errors && formGroup.controls.password.touched
        }"
      >
        <label for="password">Password</label>
        <div class="input-field">
          <input
            type="password"
            name="password"
            formControlName="password"
            [type]="hide ? 'password' : 'text'"
          />
          <i
            [class]="
              hide ? 'bx bx-show clickable icon' : 'bx bx-hide clickable icon'
            "
            (click)="hide = !hide"
          ></i>
        </div>
        <!-- Error -->
        <div *ngIf="formGroup.controls.password.errors && formGroup.controls.password.touched">
          <p
            class="body-3-regular error-msg"
            *ngIf="formGroup.controls.password.errors.required"
          >
            Password is required
          </p>
          <p
            class="body-3-regular error-msg"
            *ngIf="formGroup.controls.password.errors.minlength"
          >
            Password must be at least 6 characters
          </p>
          <p
            class="body-3-regular error-msg"
            *ngIf="formGroup.controls.password.errors.alphanumericSymbolPassword"
          >
            Password must contain at least one letter and one number and one symbol
          </p>
        </div>
        <p class="body-3-regular warning"></p>
      </div>
      <!-- Terms and conditions -->
      <p class="col-2 terms">
        By signing up you agree to our
        <span class="body-1-medium text-primary-color clickable"
          >Terms and Conditions</span
        >
        and the
        <span class="body-1-medium text-primary-color clickable"
          >Privacy Policy</span
        >.
      </p>

      <div class="form-btn col-2">
        <button
          class="btn prim_btn clickable"
          [disabled]="loading || formGroup.invalid"
          (click)="signUp()"
        >
          <span *ngIf="!loading">Sign Up</span>
          <span *ngIf="loading">Processing...</span>
        </button>
      </div>
    </form>

    <div class="auth_content_extra">
      <p class="login">
        Already have an account?
        <span
          class="text-primary-color body-1-bold clickable"
          routerLink="/login"
          >Login</span
        >
      </p>
    </div>
  </div>
</div>
