<app-default-header></app-default-header>

<main>
  <section class="sect">
    <div class="container">
      <div class="sect_heading">
        <p class="uc body-1-bold">Stay Tuned</p>
        <h1 class="sect_title text-primary-color">
          We are going <span class="text-secondary-color">live</span> in
        </h1>
        <!-- <p>Inventore ex repellat voluptate quisquam. Culpa omnis velit earum</p> -->
      </div>
      <ul class="countdown">
        <li class="countdown_item">
          <h1 class="value">{{ days }}</h1>
          <p class="body-1-medium">Days</p>
        </li>
        <li class="countdown_item">
          <h1 class="value">{{ hours }}</h1>
          <p class="body-1-medium">Hours</p>
        </li>
        <li class="countdown_item">
          <h1 class="value">{{ mins }}</h1>
          <p class="body-1-medium">Minutes</p>
        </li>
        <li class="countdown_item">
          <h1 class="value">{{ secs }}</h1>
          <p class="body-1-medium">Seconds</p>
        </li>
      </ul>
    </div>
  </section>
</main>
