<app-loader *ngIf="dataLoading"></app-loader>

<div *ngIf="program && !dataLoading">
  <section class="ds-head dis-flex" >
    <h2 class="ds-head_title clickable" (click)="navigatePage(1)">
      Programs
    </h2>
    <i class="bx bx-chevron-right icon"></i>
    <p class="clickable" [title]="program.name" (click)="navigatePage(2)">
      {{ program.name | truncate }}
    </p>
    <i class="bx bx-chevron-right icon"></i>
    <p class="clickable">Edit Program</p>
  </section>
  
  <section>
    <form [formGroup]="formGroup">
      <div class="form_control_container">
        <div class="form_control">
          <label for="name">Name</label>
          <div class="form_control_field">
            <input
              type="text"
              id="name"
              name="name"
              placeholder="Type here"
              formControlName="name"
            />
          </div>
          <div class="form_error" *ngIf="formGroup.controls.name.errors && formGroup.controls.name.touched">
            <p class="body-3-regular error-msg">{{ getErrorMessage('name', 'Name') }}</p>
          </div>
        </div>
        <div class="form_control">
          <label for="name">Description</label>
          <div class="form_control_field">
            <input
              type="text"
              id="description"
              name="description"
              placeholder="Type here"
              formControlName="description"
            />
          </div>
          <div class="form_error" *ngIf="formGroup.controls.description.errors && formGroup.controls.description.touched">
            <p class="body-3-regular error-msg">{{ getErrorMessage('description', 'Description') }}</p>
          </div>
        </div>
  
        <div class="form_control">
          <label for="thumbnail">Header Photo</label>
          <div class="">
            <div
              class="form_control_field select-image clickable"
              (click)="fileHeaderPhoto.click()"
              appDragDrop
              (fileDropped)="selectPhoto($event, 'header_photo')"
            >
              <input
                type="file"
                accept="image/*"
                #fileHeaderPhoto
                hidden
                formControlName="header_photo"
                (change)="selectPhoto($event, 'header_photo')"
              />
              <div class="select-image_content">
                <img
                  [src]="headerPhotoImagePreview ? headerPhotoImagePreview : program.header_photo ? program.header_photo : '../../../../../../../assets/img/select-Image.svg'"
                  alt="Image Preview"
                  [class.no-image]="!headerPhotoImagePreview && !program.header_photo"
                />
                <p class="captions-regular text-primary-color" *ngIf="selectedHeaderPhotoName">
                  {{ selectedHeaderPhotoName  }}
                </p>
                <p class="body-3-regular text-primary-color">
                  {{ (selectedHeaderPhotoName === '' && !program.header_photo) ? 'Click to select a picture' : 'Click to Select another picture' }}
                </p>
              </div>
            </div>
            
            <div class="form_error" *ngIf="formGroup.controls.header_photo.errors && formGroup.controls.header_photo.touched">
              <p class="body-3-regular error-msg">{{ getErrorMessage('header_photo', 'Header Photo') }}</p>
            </div>
          </div>
        </div>
  
        <div class="form_control">
          <label for="thumbnail">Thumbnail</label>
          <div class="">
            <div
              class="form_control_field select-image clickable"
              (click)="fileThumbnail.click()"
              appDragDrop
              (fileDropped)="selectPhoto($event, 'thumbnail')"
              >
              <input
                type="file"
                accept="image/*"
                #fileThumbnail
                hidden
                formControlName="thumbnail"
                (change)="selectPhoto($event, 'thumbnail')"
              />
              <div class="select-image_content">
                <img
                  [src]="thumbnailImagePreview ? thumbnailImagePreview : program.thumbnail ? program.thumbnail : '../../../../../../../assets/img/select-Image.svg'"
                  alt="Image Preview"
                  [class.no-image]="!thumbnailImagePreview && !program.thumbnail"
                />
                <p class="captions-regular text-primary-color" *ngIf="selectedThumbnailName">
                  {{ selectedThumbnailName  }}
                </p>
                <p class="body-3-regular text-primary-color">
                  {{ (selectedThumbnailName === '' && !program.thumbnail) ? 'Click to select a picture' : 'Click to Select another picture' }}
                </p>
              </div>
            </div>
  
            <div class="form_error" *ngIf="formGroup.controls.thumbnail.errors && formGroup.controls.thumbnail.touched">
              <p class="body-3-regular error-msg">{{ getErrorMessage('thumbnail', 'Thumbnail') }}</p>
            </div>
          </div>
        </div>        
      </div>
      <div class="form_btns">
        <button class="btn prim_btn" *ngIf="!loading" (click)="editProgram()">
          Save
        </button>
        <button class="btn prim_btn" [disabled]="loading || formGroup.invalid" *ngIf="loading">
          Processing...
        </button>
      </div>
    </form>
  </section>
</div>
