<div class="dis-flex">
  <div class="courses_blank">
    <img
      src="../../../../../../assets/img/undraw_empty_street_sfxm 1.svg"
      alt=""
      class="courses_blank_image"
    />
    <div class="courses_blank_details">
      <h2 class="text-primary-color">Start by enrolling your Student</h2>
      <p>
        Numquam quasi et sit earum. Culpa dicta quod officia doloribus animi
        fuga voluptatem. Iure vel hic et porro sequi.
      </p>
    </div>
    <div class="courses_blank_btn">
      <button class="btn prim_btn" (click)="openAddModal()">
        Enroll Student
      </button>
    </div>
  </div>
</div>
