<div class="modal confirm-delete-modal">
    <div class="modal_area">
      <h5></h5>
  
      <div class="modal-details" style="text-align: left">
        <h2 class="text-primary-color">Confirm Action</h2>
        <p>{{ confirmMessage }}</p>
      </div>
      <!-- Buttons -->
      <div class="modal-btns dis-flex">
        <button type="button" class="btn skip_btn" (click)="closeDeleteModal()">
          Cancel
        </button>
        <button
          class="btn prim_btn"
          [disabled]="loading"
          (click)="confirmAction()"
        >
          <span *ngIf="!loading">Yes</span>
          <span *ngIf="loading">Processing...</span>
        </button>
      </div>
    </div>
  </div>