@import '../../../assets/css/variables.scss';
@import '../../../assets/css/mixins.scss';

main {
  padding-top: 5rem;
}

/* go-top */
.go-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 100;
  background-color: $white-color;
  box-shadow: $box-shadow;
  @include icon-area(44px, $primary80);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
  &.show {
    opacity: 1;
    visibility: visible;
  }
  & .icon {
    font-size: 26px;
    transition: all 0.2s ease;
  }
  &:hover .icon {
    transform: translateY(-10px);
  }
}

/* Section starts */
.container {
  padding: 0 5%;
  @media screen and (min-width: 1200px) {
    max-width: 1250px;
    margin: 0 auto;
  }
}
.sect {
  margin: 5rem 0;
  padding: 3% 0;
  @media only screen and (max-width: 870px) {
    margin: 3rem 0;
  }
}
/* Section ends */

