@import '../../../../../assets/css/dashboard.scss';
@import '../../../../../assets/css/variables.scss';
@import '../../../../../assets/css/mixins.scss';

// Modal
.modal {
  @include modal($modal-area-width: 500px);
  &_area {
    padding: $m-6 $m-3;
    // close button
    
  }
}
 // Pricing tab
 .pricing_tab {
    display: flex;
    justify-content: center;
    &_wrapper {
      border: 1px solid $divider-color;
      background-color: $grey40;
      color: $grey100;
      border-radius: 8px;
      padding: calc(0.25rem + 1px);
      display: flex;
      align-items: center;
      gap: $m-1;
      .tab {
        display: inline-block;
        border-radius: $border-radius1;
        padding: calc(0.25rem + 1px) $m-2;
        font-weight: 500;
        font-size: 14px;
        transition: all .2s ease;
        cursor: pointer;
        &.active {
          background-color: $white-color;
          color: $text-color1;
          box-shadow: $box-shadow;
        }
      }
    }
  
  }
  // Pricing plan
  .pricing_plan {
    gap: $m-2;
    margin-top: $m-3;
    margin-bottom: $m-3;
    .plan {
      width: 100%;
      display: flex;
      align-items: flex-start;
      border: 1px solid $divider-color;
      padding: $m-2;
      border-radius: $border-radius1;
      input {
        margin-right: $m-1;
      }
      .title {
        margin-bottom: $m-1;
      }
    }
  }