<!-- Alert message -->
<app-alert-popup
  *ngIf="isAlert"
  [alertMessage]="alertMessage"
  [alertColor]="alertColor"
></app-alert-popup>

<!-- Add learners to program -->
<app-add-program-learners *ngIf="addLearnerToProgramModal"
(addLearnerToProgramModal)="closeAddLearnerToProgramModal()"
[programId]="programId"></app-add-program-learners>


<section class="ds-head dis-flex">
  <h2 class="ds-head_title clickable" [routerLink]="'/' + user?.role + '/programs'">
    Programs
  </h2>
  <i class="bx bx-chevron-right icon"></i>
  <p class="clickable" [title]="program?.name">
    {{
      program?.name.length > 20
        ? program?.name.slice(0, 20) + "..."
        : program?.name
    }}
  </p>
</section>

<section class="course-details">
  <div class="course-details_image">
    <img src="../../../../../assets/img/program-thumbnail.svg" alt="" />
  </div>
  <div class="course-details_header">
    <div class="course-details_header_top">
      <div class="left">
        <h2>{{ program?.name }}</h2>
        <div class="dis-flex left_bottom">
          <button
            [ngClass]="
              program?.status === 'active' ? 'success_btn' : 'grey_btn'
            "
          >
            {{ program?.status === "active" ? "Ongoing" : "Ended" }}
          </button>
          <div class="icons dis-flex">
            <span class="dis-flex"
              ><img
                src="../../../../../assets/img/svg/calendar-2.svg"
                alt=""
              />
              <p class="body-2-regular">
                Start date {{ program?.start_date | date: "mediumDate" }}
              </p></span
            >
            <!-- <span class="dis-flex"
              ><img src="../../../../../../assets/img/svg/medal.svg" alt="" />
              <p class="body-2-regular">3 Sections</p></span
            > -->
          </div>
        </div>
      </div>
      <div class="right dis-flex">
        <button class="btn prim_btn" *ngIf="program?.hasJoined === true" (click)="openAddLearnerToProgramModal()">
          Add Child
        </button>
        <button class="btn prim_btn" *ngIf="program?.hasJoined === false" (click)="joinProgram()">
          <span  *ngIf="user.role === 'school'">Join</span>
          <span  *ngIf="user.role === 'parent'">Follow</span>
        </button>
      </div>
    </div>
    <div class="course-details_header_bottom">
      <p class="descript">
        {{ program?.description }}
      </p>
      <ul class="numbers dis-flex">
        <li>
          <p class="body-2-bold">{{ program?.courses?.length }}</p>
          <p class="body-3-regular">{{program?.courses?.length > 1 ? 'Courses' : 'Course'}}</p>
        </li>
        <li>
          <p class="body-2-bold">{{ program?.schools?.length }}</p>
          <p class="body-3-regular">{{program?.schools?.length > 1 ? 'Schools' : 'School'}}</p>
        </li>
        <!-- <li>
          <p class="body-2-bold">{{ program?.learner_count }}</p>
          <p class="body-3-regular">{{program?.learner_count > 1 ? 'Learners' : 'Learner'}}</p>
        </li> -->
      </ul>
      <div class="completion">
        <p class="body-2-bold title">Timeframe</p>
        <p class="body-2-medium text-primary-color">0 Day</p>
      </div>
      <div class="students">
        <p class="body-2-bold title">Total {{program?.learner_count > 1 ? 'Learners' : 'Learner'}} ({{ program?.learner_count }})</p>
        <ul class="students_list dis-flex">
          <li>
            <img
              src="../../../../../assets/img/children-avatar/child-avatar-1.png"
              alt=""
            />
          </li>
          <li>
            <img
              src="../../../../../assets/img/children-avatar/child-avatar-2.png"
              alt=""
            />
          </li>
          <li>
            <img
              src="../../../../../assets/img/children-avatar/child-avatar-3.png"
              alt=""
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="course-details_body">
    <div class="course-details_body_header">
      <ul class="dis-flex">
        <li
          class="body-2-medium active"
          [class.active]="contentId === 'courses'"
          (click)="tabChange('courses')"
        >
          Courses
        </li>
        <li
          class="body-2-medium"
          [class.active]="contentId === 'schools'"
          (click)="tabChange('schools')"
        >
          Schools
        </li>
        <li
          class="body-2-medium"
          [class.active]="contentId === 'learners'"
          (click)="tabChange('learners')"
        >
          Learners
        </li>
      </ul>
    </div>
    <div class="course-details_body_content">
      <!-- Courses -->
      <ng-container *ngIf="contentId === 'courses'">
        <div class="table-container" style="overflow-x: auto">
          <ng-container *ngIf="program?.courses?.length > 0">
            <table>
              <tr class="table-header">
                <th>Title</th>
                <th>Number of lesson(s)</th>
                <th>Quadrant</th>
                <th>Duration</th>
              </tr>
              <ng-container>
                <tr class="table-body" *ngFor="let course of program?.courses">
                  <td>{{ course?.title }}</td>
                  <td>{{course?.lesson_count}}</td>
                  <td>{{course?.course_quadrant}}</td>
                  <td>{{course?.duration}}</td>
                </tr>
              </ng-container>
              <!-- <ng-template>
                <p style="text-align: center">Empty School list!</p>
              </ng-template> -->
            </table>
          </ng-container>

          <p style="text-align: center" *ngIf="program?.sponsors?.length === 0">
            No Course available
          </p>
        </div>
      </ng-container>

      <!-- Schools -->
      <ng-container *ngIf="contentId === 'schools'">
        <div class="table-container" style="overflow-x: auto">
          <ng-container *ngIf="program?.schools?.length > 0">
            <table>
              <tr class="table-header">
                <th>Name</th>
                <th>Number of students</th>
              </tr>
              <ng-container>
                <tr class="table-body" *ngFor="let school of program?.schools">
                  <td>{{ school?.name }}</td>
                  <td>{{school?.student_count}}</td>
                </tr>
              </ng-container>
              <!-- <ng-template>
                <p style="text-align: center">Empty School list!</p>
              </ng-template> -->
            </table>
          </ng-container>

          <p style="text-align: center" *ngIf="program?.sponsors?.length === 0">
            No School available
          </p>
        </div>
      </ng-container>

      <!-- Learners -->
      <ng-container *ngIf="contentId === 'learners'">
        <div class="table-container" style="overflow-x: auto">
          <ng-container *ngIf="program?.learners?.length > 0">
            <table>
              <tr class="table-header">
                <th>Full Name</th>
                <th>User Name</th>
                <th *ngIf="user?.role === 'school'">Email</th>
                <th *ngIf="user?.role === 'school'">Grade</th>
              </tr>
              <ng-container>
                <tr class="table-body" *ngFor="let learner of program?.learners">
                  <td>{{learner.fullname}}</td>
                  <td>{{learner.username}}</td>
                  <td *ngIf="user?.role === 'school'">{{learner.email}}</td>
                  <td *ngIf="user?.role === 'school'">{{learner.grade}}</td>
                </tr>
              </ng-container>
              <!-- <ng-template>
                <p style="text-align: center">Empty School list!</p>
              </ng-template> -->
            </table>
          </ng-container>

          <p style="text-align: center" *ngIf="program.learners?.length === 0">
            No Learner available
          </p>
        </div>
      </ng-container>
    </div>
  </div>
</section>
