<section class="ds-head dis-flex">
  <h2 class="ds-head_title">Dashboard</h2>
</section>

<section class="profile">
  <h5 class="profile_title">My Profile</h5>

  <div class="profile_body">
    <div class="avatar-wrapper">
      <img
        [src]="
          user.avatar !== undefined
            ? user.avatar
            : '../../../../assets/img/children-avatar/child-avatar-1.png'
        "
        alt="Avatar"
      />
    </div>
    <form [formGroup]="formGroup">
      <div class="form-control">
        <label for="userName">{{ user.role === 'school' ? 'School Name' : 'Full Name'}}</label>
        <div class="form-control_field" [class.data-disabled]="!isEdit">
          <input
            type="text"
            name="userName"
            formControlName="userName"
            [readonly]="!isEdit"
          />
        </div>
      </div>
      <div class="form-control">
        <label for="userEmail">{{ user.role === 'school' ? 'School Email' : 'Email' }}</label>
        <div class="form-control_field data-disabled">
          <input
            type="text"
            name="userEmail"
            formControlName="userEmail"
            readonly
          />
        </div>
      </div>
      <div class="form-control" *ngIf="user.role === 'learner'">
        <label for="grade">Grade</label>
        <div class="form-control_field data-disabled">
          <input
            type="text"
            name="grade"
            formControlName="grade"
            readonly
          />
        </div>
      </div>
      <div class="form-control">
        <label for="phoneNumber">Phone Number</label>
        <div class="form-control_field" [class.data-disabled]="!isEdit">
          <input
            type="tel"
            name="phone"
            formControlName="phone"
            [readonly]="!isEdit"
          />
        </div>
      </div>
      <div class="form-control">
        <label for="phoneNumber">Location</label>
        <div class="form-control_field" [class.data-disabled]="!isEdit">
          <input
            *ngIf="!isEdit"
            type="tel"
            name="state"
            formControlName="state"
            readonly
          />
          <select name="state" id="state" formControlName="state" *ngIf="isEdit">
            <option value="">Select State</option>
            <option [value]="state.name" *ngFor="let state of states">{{ state.name }}</option>
          </select>
        </div>
      </div>
      <div class="form-control">
        <label for="address">Address</label>
        <div class="form-control_field" [class.data-disabled]="!isEdit">
          <input
            type="tel"
            name="address"
            formControlName="address"
            [readonly]="!isEdit"
          />
        </div>
      </div>
      <div class="form-control" *ngIf="user.role === 'school'">
        <label for="contactName">Contact Person Name</label>
        <div class="form-control_field" [class.data-disabled]="!isEdit">
          <input
            type="tel"
            name="contactName"
            formControlName="contactName"
            [readonly]="!isEdit"
          />
        </div>
      </div>
      <div class="form-control" *ngIf="user.role === 'school'">
        <label for="contactEmail">Contact Person Email</label>
        <div class="form-control_field data-disabled">
          <input
            type="tel"
            name="contactEmail"
            formControlName="contactEmail"
            readonly
          />
        </div>
      </div>

      <div class="form-control form-btns-area col-3 dis-flex">
        <ng-container *ngIf="isEdit">
          <button class="btn tert_btn" (click)="isEdit = false">Cancel</button>
          <button
            class="btn prim_btn"
            (click)="editProfile()"
            [disabled]="loading"
          >
            <span *ngIf="!loading">Save Changes</span>
            <span *ngIf="loading">Processing...</span>
          </button>
        </ng-container>
        <button class="btn tert_btn" (click)="isEdit = true" *ngIf="!isEdit">
          Update profile
        </button>
      </div>
    </form>
    <small class="date-updated">
      <b>Updated at:</b> 
      {{ formGroup.value.dateUpdated | date: 'medium' }}
    </small>
  </div>
</section>
