<section class="ds-head dis-flex">
  <h2 class="ds-head_title">Dashboard</h2>
</section>

<section class="profile">
  <h5 class="profile_title">My Profile</h5>

  <div class="profile_body">
    <ng-container>
      <div class="dis-flex">
        <img
          [src]="
            user.avatar !== undefined
              ? user.avatar
              : '../../../../assets/img/children-avatar/child-avatar-1.png'
          "
          alt="Avatar"
        />
      </div>
      <form [formGroup]="userForm">
        <div class="form-control col-2">
          <label for="firstName">Full Name</label>
          <div class="form-control_field" [class.data-disabled]="!isEdit">
            <input
              type="text"
              name="fullname"
              formControlName="fullname"
              [readonly]="!isEdit"
            />
          </div>
        </div>
        <!-- <div class="form-control">
          <label for="firstName">First Name</label>
          <div class="form-control_field" [class.data-disabled]="!isEdit">
            <input
              type="text"
              name="firstname"
              formControlName="firstname"
              [readonly]="!isEdit"
            />
          </div>
        </div>
        <div class="form-control">
          <label for="lastName">Last Name</label>
          <div class="form-control_field" [class.data-disabled]="!isEdit">
            <input
              type="text"
              name="lastname"
              formControlName="lastname"
              [readonly]="!isEdit"
            />
          </div>
        </div> -->
        <div class="form-control">
          <label for="email">Email Address</label>
          <div class="form-control_field data-disabled">
            <input type="email" name="email" formControlName="email" readonly />
          </div>
        </div>
        <div class="form-control">
          <label for="phoneNumber">Phone Number</label>
          <div class="form-control_field" [class.data-disabled]="!isEdit">
            <input
              type="tel"
              name="phone"
              formControlName="phone"
              [readonly]="!isEdit"
            />
          </div>
        </div>
        <!-- <div class="form-control">
          <label for="gender">Gender</label>
          <div class="form-control_field">
            <select name="" id="">
              <option value="Male">Male</option>
              <option value="Male">Female</option>
            </select>
          </div>
        </div> -->
        <!-- <div class="form-control">
          <label for="phoneNumber">Date of Birth</label>
          <div class="form-control_field">
            <input type="date" />
          </div>
        </div> -->
        <div class="form-control col-2">
          <label for="phoneNumber"> Address</label>
          <div class="form-control_field">
            <textarea name="" id="" cols="30" rows="5"></textarea>
          </div>
        </div>

        <div class="btns-area dis-flex" *ngIf="isEdit">
          <button class="btn tert_btn" (click)="isEdit = false">Cancel</button>
          <button
            class="btn prim_btn"
            (click)="editProfile()"
            [disabled]="loading"
          >
            <span *ngIf="!loading">Save Changes</span>
            <span *ngIf="loading">Processing...</span>
          </button>
        </div>
        <div class="btns-area dis-flex" *ngIf="!isEdit">
          <button class="btn tert_btn" (click)="isEdit = true">
            Update profile
          </button>
        </div>
      </form>
    </ng-container>
  </div>
</section>

<!-- Alert Message -->
<app-alert-popup
  *ngIf="isAlert"
  [alertMessage]="alertMessage"
  [alertColor]="alertColor"
></app-alert-popup>
