<div class="modal">
    <div class="modal_area" [class.remove-padd]="billingId == 'single'">
      <span class="modal_area_close" (click)="closeAddLearnerToProgramModal()">
        <i class="bx bx-x icon clickable"></i>
      </span>
  
      <div class="enroll auth_content">
        <h4
          class="text-primary-color enroll_title"
          [class.add-padd]="billingId == 'single'"
        >
          Add learner(s) to this program
        </h4>
        <form class="enroll_form auth_content_form">
          <!-- Tabs starts -->
          <div class="form-field col-2" [class.add-padd]="billingId == 'single'">
            <label for="">Select an enrollment method</label>
            <!-- enroll-mtd tabs -->
            <div class="enroll-mtd_tab">
              <div class="enroll-mtd_tab_wrapper">
                <span
                  class="tab"
                  [class.active]="billingId == 'single'"
                  (click)="tabChange('single')"
                  >Select student(s)
                </span>
                <span
                  class="tab"
                  [class.active]="billingId == 'batch'"
                  (click)="tabChange('batch')"
                  >Upload students
                </span>
              </div>
            </div>
          </div>
          <!-- Tabs starts -->
  
          <!-- Single enrollment starts *ngIf="billingId == 'single'" -->
          <div class="col-2" *ngIf="billingId == 'single'">
            <div class="table-container">
              <div class="table-container_header dis-flex">
                <div class="input_field dis-flex">
                  <img
                    src="../../../../../../assets/img/svg/Search.svg"
                    alt="image"
                    class="search-icon clickable"
                    (click)="handleFilterValues()"
                  />
                  <input 
                    type="text" 
                    placeholder="Search..." 
                    name="search" 
                    [(ngModel)]="filterValues.search" 
                    (change)="handleFilterValues()" 
                  />
                </div>
  
                <div class="grouping dis-flex">
                  <div class="filter s-f">
                    <div class="captions-regular dis-flex">
                      <span class="title">Filter:</span>
                      <select name="grade" [(ngModel)]="filterValues.grade" (change)="handleFilterValues()" class="s-f-select grade-select" style="border: none; outline: none; background-color: transparent;">
                        <option value="">All Grades</option>
                        <option [value]="grade.id" *ngFor="let grade of grades">{{ grade.name }}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div style="overflow: auto; max-height: 300px;">
                <app-loader *ngIf="dataLoading"></app-loader>
                <table *ngIf="learners?.length > 0 && !dataLoading">
                  <tr class="table-header">
                    <th>Student name</th>
                    <th>Username</th>
                    <th>Grade</th>
                    <th class="actions">
                      <div class="dis-flex" style="gap: 1rem;">
                        <input 
                          type="checkbox" 
                          name="all learners" 
                          id="all learners"
                          [title]="learners.length === selectedLearners.length ? 'Deselect all learners' : 'Select all learners'"
                          [checked]="learners.length === selectedLearners.length"
                          class="clickable"
                          (change)="toggleSelectAllLearner($event)"
                        >
                        {{ selectedLearners.length + '/' + learners.length }}
                      </div>
                    </th>
                  </tr>
                  <tr class="table-body" *ngFor="let learner of learners">
                    <td>{{ learner.fullname }}</td>
                    <td>{{ learner.username }}</td>
                    <td>{{ learner.grade }}</td>
                    <td>
                      <input 
                        type="checkbox" 
                        name="learner" 
                        [id]="learner.id" 
                        [checked]="isLearnerSelected(learner)"
                        (change)="selectLearner($event, learner)" 
                        />
                    </td>
                  </tr>
                </table>
                <ng-container *ngIf="learners?.length === 0">
                  <p style="text-align: center">No learner!</p>
                </ng-container>
              </div>
            </div>
  
            <!-- Submit Button -->
            <div class="form-btns dis-flex">
              <span
                class="grey_btn clickable"
                (click)="closeAddLearnerToProgramModal()"
                >Cancel</span
              >
              <div class="continue">
                <button
                  class="btn prim_btn clickable"
                  [disabled]="loading || selectedLearners.length === 0"
                  (click)="addLearnersToProgram('selected')"
                >
                  <span *ngIf="!loading">Add</span>
                  <span *ngIf="loading">Processing...</span>
                </button>
              </div>
            </div>
          </div>
          <!-- Single enrollment ends -->
  
          <!-- Batch enrollment starts *ngIf="billingId == 'batch'" -->
          <div class="batch-enroll col-2" *ngIf="billingId == 'batch'">
            <div class="form-field col-2">
              <label for="">
                 Click 
                 <strong class="text-primary-color hover-1 clicakble" (click)="downloadLearnersAsExcel()">here</strong>
                 to download an excel template containing the list of learners
              </label>
              <div
                class="form-field select-image clickable"
                (click)="fileInput.click()"
                appDragDrop
                (fileDropped)="uploadFile($event)"
              >
                <input
                  type="file"
                  #fileInput
                  hidden
                  accept=".xlsx"
                  (change)="uploadFile($event)"
                />
                <p>{{ selectedFileName }}</p>
                <p class="body-3-regular">Select a file to upload</p>
              </div>
            </div>
  
            <div class="form-btns col-2 dis-flex">
              <span
                class="grey_btn clickable"
                (click)="closeAddLearnerToProgramModal()"
                >Cancel</span
              >
              <div class="continue">
                <button
                  class="btn prim_btn clickable"
                  [disabled]="loading || uploadedLearners.length === 0"
                  (click)="addLearnersToProgram('fileUpload')"
                >
                  <span *ngIf="!loading">Add</span>
                  <span *ngIf="loading">Processing...</span>
                </button>
              </div>
            </div>
          </div>
          <!-- Batch enrollment ends -->
        </form>
      </div>
    </div>
  </div>
  