@import '../../../../../assets/css/variables.scss';
@import '../../../../../assets/css/mixins.scss';

section:not(:last-child) {
  margin-bottom: $m-3;
}

.filter-container {
  margin-bottom: $m-4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $m-1;
  .tabs {
    button {
      display: inline-block;
      padding: 0.7rem 1rem;
      background-color: transparent;
      color: $primary80;
      border: 1px solid $grey60;
      border-radius: $border-radius4;
      font-weight: 600;
      transition: all .2s;
      &.active {
        background-color: $secondary40 !important;
        color: $secondary80;
        border-color: transparent;
      }
      &:hover {
        background-color: $white-color;
      }
      &:not(:last-child) {
        margin-right: $m-2;
      }
    }
  }
  .sort {
    span {
      display: inline-block;
      padding: $m-1;
      border: 1px solid $divider-color;
      border-radius: $border-radius1;
      transition: all .2s;
      cursor: pointer;
      &:hover {
        background-color: $white-color;
      }
      &:not(:last-child) {
        margin-right: $m-2;
      }
      img {
        width: 25px;
        height: 22px;
        vertical-align: middle;
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  ul {
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    background-color: $white-color;
    li {
      width: 44px;
      height: 44px;
      color: $primary80;
      display: inline-block;
      font-size: 20px;
      font-weight: 500;
      display: grid;
      place-items: center;
      transition: all .2s;
      cursor: pointer;
      &:first-child {
        border-radius: 8px 0 0 8px;
      }
      &:last-child {
        border-radius: 0 8px 8px 0;
      }
      &:not(:last-child) {
        border-right: 1px solid #D0D5DD;
      }
      &.active {
        background-color: $grey40;
      }
      &:hover {
        background-color: #F9FAFB;
      }
      &.icon {
        i {
          font-size: 24px;
          color: $primary80;
          vertical-align: middle;
        }
      }

    }
  }
}
