<section class="ds-head">
  <h2 class="ds-head_title">Dashboard</h2>
</section>

<section class="ds-flex">
  <main class="ds-grid">
    <div class="welcome dis-flex">
      <div class="welcome_details">
        <h1>{{greeting}}, {{ user.fullname.split(" ")[1] }}!</h1>
        <p>
          Your dashboard shows updates on your courses, assignments, and all
          other progress
        </p>
      </div>
      <div class="welcome_image">
        <img
          src="../../../../../assets/img/learner/undraw_real_time_sync.svg"
          alt=""
        />
      </div>
    </div>
    <!-- Active courses -->
    <!-- <div class="active-courses">
      <div class="ds-sect-header dis-flex">
        <h5>Active Courses</h5>
        <p
          class="caption-regular text-primary-color clickable"
          routerLink="/learner/library"
        >
          View My Library
        </p>
      </div>
      <div class="card">
        <div class="card_item">
          <picture>
            <img
              src="../../../../../assets/img/learner/active-course-1.png"
              alt=""
            />
          </picture>
          <div class="details">
            <h5 class="title">Introction to Minecraft Modding</h5>
            <label for="file">0/10 Lessons</label>
            <progress id="file" value="0" max="100">0%</progress>
            <div>
              <button
                class="btn tert_btn"
                routerLink="/learner/library/course-info"
              >
                Continue
              </button>
            </div>
          </div>
        </div>
        <div class="card_item">
          <picture>
            <img
              src="../../../../../assets/img/learner/active-course-2.png"
              alt=""
            />
          </picture>
          <div class="details">
            <h5 class="title">Introduction to Web Development</h5>
            <label for="file">0/10 Lessons</label>
            <progress id="file" value="0" max="100">0%</progress>
            <div>
              <button
                class="btn tert_btn"
                routerLink="/learner/library/course-info"
              >
                Continue
              </button>
            </div>
          </div>
        </div>
        <div class="card_item">
          <picture>
            <img
              src="../../../../../assets/img/learner/active-course-3.png"
              alt=""
            />
          </picture>
          <div class="details">
            <h5 class="title">Introduction to Mobile Development</h5>
            <label for="file">0/10 Lessons</label>
            <progress id="file" value="00" max="100">0%</progress>
            <div>
              <button
                class="btn tert_btn"
                routerLink="/learner/library/course-info"
              >
                Continue
              </button>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- Learning overview(lo) -->
    <div class="lo">
      <div class="ds-sect-header">
        <h5>Learning Overview</h5>
      </div>
      <div class="chart">
        <img
          src="../../../../../assets/img/learner/NBcharts-lineChats.svg"
          alt=""
        />
      </div>
    </div>
  </main>

  <aside class="ds-grid">
    <div class="complete-profile">
      <div class="ds-sect-header dis-flex">
        <h5 class="text-secondary-color">Complete your profile</h5>
        <i class="bx bx-chevron-right"></i>
      </div>
      <div class="progress-bar">
        <div class="progressbarWrapper">
          <span id="bar"></span>
        </div>
      </div>
      <small>20% complete</small>

      <!-- <div class="someElement" data-tooltip="This is a tooltip">Hover Me</div> -->
    </div>
    <div class="points">
      <img
        src="../../../../../assets/img/children-avatar/child-avatar-1.png"
        alt=""
        class="points_profile-img"
      />
      <ul class="points_list">
        <li>
          <div>
            <img
              src="../../../../../assets/img/learner/icomoon-free_fire.svg"
              alt=""
            />
            <p class="body-1-bold">Streak</p>
          </div>
          <h2 class="value">0</h2>
        </li>
        <li>
          <div>
            <img
              src="../../../../../assets/img/learner/subway_coin.svg"
              alt=""
            />
            <p class="body-1-bold">DuPoints</p>
          </div>
          <h2 class="value">0XP</h2>
        </li>
      </ul>
    </div>
    <!-- Learning quadrant(lq) -->
    <div class="lq">
      <div class="ds-sect-header dis-flex">
        <h5>Learning Quadrant</h5>
        <p class="caption-regular text-primary-color clickable">See Details</p>
      </div>
      <div class="chart">
        <img
          src="../../../../../assets/img/learner/learning-quadrant-chart.svg"
          alt=""
        />
      </div>
    </div>
    <!-- Leaderboard(lb) -->
    <div class="lb">
      <div class="ds-sect-header dis-flex">
        <h5>Leaderboard</h5>
      </div>
      <div class="lb_body">
        <img src="../../../../../assets/img/learner/coming-soon.svg" alt="" />
        <h3 class="text-primary-color">Coming soon</h3>
      </div>
    </div>
  </aside>
</section>

<!-- Modal -->
<app-learner-onboard
  *ngIf="user?.isUserOnboarded === false"
  (isOnboarding)="closeOnboardModal()"
></app-learner-onboard>
