@import '../../../../../assets/css/variables.scss';
@import '../../../../../assets/css/mixins.scss';
@import '../../../../../assets/css/dashboard.scss';

.chart {
  img {
    width: 100%;
    height: auto;
  }
}

main {
  .welcome {
    @include sect-bg($primary80);
    justify-content: space-between;
    gap: $m-6;
    color: $white-color;
    &_details {
      p {
        margin-top: $m-2;
      }
    }
    &_image {
      @media only screen and (max-width: 565px) {
        display: none;
      }
    }
  }
  .active-courses {
    @include sect-bg;
    .card {
      @include card(200px);
      &_item {
        border: 1px solid $divider-color;
        border-radius: $border-radius2;
        display: grid;
        align-content: space-between;
        img {
          width: 100%;
          border-radius: $border-radius2 $border-radius2 0 0;
        }
        label {
          color: $primary80;
        }
        progress {
          border-radius: $border-radius1;
          width: 100%;
          height: 0.5rem;
          &::-webkit-progress-bar {
            background-color: $divider-color;
            border-radius: $border-radius1;
          }
          &::-webkit-progress-value {
            background-color: $secondary80;
            border-radius: $border-radius1;
          }
        }
        .details {
          padding: $m-2;
          .title {
            margin-bottom: $m-2;
          }
          .btn {
            width: 100%;
            margin-top: $m-4;
          }
        }
      }
    }

  }
  // Learning Overview starts
  .lo {
    @include sect-bg;
  }
}

// Learning Overview ends
aside {
  // complete Profile
  .complete-profile {
    background-color: $secondary20;
    padding: $m-4 $m-3;
    border-radius: $border-radius3;
    .progress-bar {
      .progressbarWrapper {
        width: 100%;
        height: 1.3rem;
        border-radius: $border-radius2;
        position: relative;
        overflow: hidden;
        transition: all 0.5s;
        will-change: transform;
        background-color: $inner-border;
        #bar {
          position: relative;
          display: block;
          height: 100%;
          width: 0px;
          overflow: hidden;
          font-weight: 400;
          font-size: 12px;
          line-height: 1.3rem;
          text-align: center;
          background-color: $primary80;
          color: $white-color;
          border-radius: inherit;
          transition: all 700ms ease;
          &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 20px;
            height: inherit;
            background-color: inherit;
            border-radius: 50%;
            border: 2px solid $white-color;
          }
        }
      }

    }
    [data-tooltip] {
      position: relative;

      &::before,
      &::after {
        opacity: 0;
        visbility: hidden;
        margin-top: -0.5em;
      }

      &::before {
        content: attr(data-tooltip);
        display: block;
        position: absolute;
        top: -200%;
        left: 50%;
        margin-left: -4.75em;
        width: 8em;
        text-align: center;
        border-radius: 4px;
        background: black;
        color: white;
        font-size: 0.8em;
        line-height: 1.1;
        padding: 0.75em 0.95em;
      }

      &::after {
        content: "";
        border: 10px solid transparent;
        border-top-color: black;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -10px;
      }

      &:hover {
        cursor: help;
      }

      &:hover::before,
      &:hover::after {
        opacity: 1;
        visiblity: visible;
      }
    }
  }
  // Points starts
  .points {
    @include sect-bg;
    border: 1px solid $divider-color;
    display: grid;
    align-items: center;
    position: relative;
    margin-top: $m-3;
    &_profile-img {
      // margin-top: -6em;
      // visibility: visible;
      width: 54px;
      height: 54px;
      position: absolute;
      left: 50%;
      top: -1.5rem;
      transform: translateX(-50%);
    }
    &_list {
      display: flex;
      justify-content: center;
      gap: $m-6;
      // align-items: center;
      li {
        text-align: center;
        img {
          margin-bottom: $m-1;
        }
        .value {
          color: $primary80;
          margin-top: $m-3;
        }
      }
    }
  }
  // Points ends

  // Learning Quandrant starts
  .lq {
    @include sect-bg;
    border: 1px solid $divider-color;
  }
  // Learning Quandrant ends

  // Leaderboard starts
  .lb {
    @include sect-bg;
    border: 1px solid $divider-color;
    &_body {
      text-align: center;
      padding-top: $m-3;
      img {
        margin-bottom: $m-4;
      }
    }
  }
  // Leaderboard ends
}



.modal {
  @include modal();
  opacity: 1;
  visibility: visible;
  &.hide-modal {
    opacity: 0;
    visibility: hidden;
  }
  &_area {
    .modal-btns {
      justify-content: center;
      gap: $m-2;
      margin-top: $m-3;
      .skip_btn {
        border: 1px solid $inner-border;
        color: $grey100;
        background-color: transparent;
        &:hover {
          border-color: $primary80;
        }
      }
    }
    // Intro
    .intro {
      &_image {
        width: 164px;
        height: auto;
        display: flex;
        margin: 0 auto $m-2 auto;
      }
      .close-btn {
        position: absolute;
        top: $m-4;
        right: $m-4;
        i {
          font-size: 26px;
          color: $primary20;
        }
      }

    }
    // Avatar
    .avatar {
      &_list {
        flex-wrap: wrap;
        gap: $m-1;
        justify-content: space-between;
        img {
          width: 40px;
          height: 40px;
          cursor: pointer;
          transition: all 0.2s ease-in;
          border: 3px solid transparent;
          &:hover {
            border-color: $inner-border;
            border-radius: 50%;
          }
          &.selected {
            border-color: $primary80;
            border-radius: 50%;
          }
        }
      }
    }
    // Username
    .username {
      form {
        .form-field {
          label {
            display: inline-block;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            margin-bottom: $m-1;
          }
          .input-field {
            display: flex;
            align-items: center;
            background-color: $white-color;
            border: 1px solid $text-color2;
            border-radius: $border-radius2;
            transition: all 0.2s ease-in;
            padding: 0 $m-2;
            &:hover {
              border-color: $primary80;
            }
            input {
              width: 100%;
              padding: $m-2 0;
              font-size: 14px;
              border: none;
              outline: none;
              background-color: transparent;
              border-radius: $border-radius2;
            }
          }
        }
      }
    }
    // Interests
    .interests {
      &_list {
        flex-wrap: wrap;
        gap: $m-1;
        justify-content: space-between;
        &_item {
          border: 1px solid $primary80;
          border-radius: $border-radius2;
          padding: $m-1;
          cursor: pointer;
          transition: all 0.2s ease-in;
          &.selected {
            background-color: $primary80;
            color: $white-color;
          }
        }
      }
    }
    // Completed
    .completed {
      &_image {
        width: 164px;
        height: auto;
        display: flex;
        margin: 0 auto $m-2 auto;
      }
    }
  }
}

