<div class="modal">
  <div class="modal_area">
    <span class="modal_area_close">
      <i class="bx bx-x icon clickable"></i>
    </span>

    <div class="modal_area_header">
      <h4 class="text-primary-color">Add a Course</h4>
    </div>

    <div class="table-container">
      <div class="table-container_header">
        <div class="input_field dis-flex">
          <img src="../../../../../../assets/img/svg/Search.svg" alt="image" />
          <input type="text" placeholder="Search for anything" />
        </div>
      </div>
      <div style="overflow-x: auto">
        <table>
          <tr class="table-header">
            <th>Course Name</th>
            <th>Quadrant</th>
            <th>No of Lessons</th>
            <th></th>
          </tr>
          <ng-container>
            <tr class="table-body">
              <td>What do you know about Robots Quiz</td>
              <td>Developer</td>
              <td>15</td>
              <td><input type="checkbox" name="" id="" /></td>
            </tr>
          </ng-container>
          <ng-template>
            <p style="text-align: center">Empty School list!</p>
          </ng-template>
        </table>
      </div>
    </div>

    <div class="btns dis-flex">
      <button class="btn tert_btn">Cancel</button>
      <button class="btn prim_btn">Next</button>
    </div>
  </div>
</div>
