<div class="auth signup">
  <div class="auth_welcome">
    <div class="auth_welcome_content">
      <span class="logo clickable" routerLink="/">
        <img src="../../../assets/img/logo-white.svg" alt="" />
      </span>
      <div class="details">
        <h2 class="title">Welcome to a World of Potentials!</h2>
        <p>
          Join over 500 parents who have depended on us to help their children
          discover and develop their potentials at a very early age.
        </p>
      </div>
    </div>
  </div>
  <div class="auth_content">
    <!-- Logo -->
    <span class="auth_content_logo clickable" routerLink="/">
      <img src="../../../assets/img/logo.svg" alt="" />
    </span>
    <div class="auth_content_header">
      <p class="body-1-regular clickable go-back hover-2" (click)="goBack()">
        Back
      </p>
      <h3 class="title">Sign Up</h3>
    </div>
    <!-- <div class="auth_content_other">
      <div class="auth_content_other_google dis-flex clickable">
        <img src="../../../assets/img/svg/google-icon.svg" alt="" />
        <p class="body-1-medium">Sign up with Google</p>
      </div>
      <p class="body-3-regular auth_content_other_or">Or</p>
    </div> -->
    <form class="auth_content_form" [formGroup]="userForm">
      <div
        class="form-field col-2"
        [ngClass]="{
          'is-invalid': isFormSubmitted && userForm.controls.fullname.errors
        }"
      >
        <label for="fullName">Full Name</label>
        <div class="input-field">
          <input
            type="text"
            name="full-name"
            name="fullname"
            formControlName="fullname"
          />
          <i class="bx bx-error-circle icon info-icon"></i>
        </div>
        <!-- Error -->
        <div *ngIf="isFormSubmitted && userForm.controls.fullname.errors">
          <p
            class="body-3-regular error-msg"
            *ngIf="userForm.controls.fullname.errors.required"
          >
            Fullname is required
          </p>
        </div>
      </div>
      <div
        class="form-field col-2"
        [ngClass]="{
          'is-invalid': isFormSubmitted && userForm.controls.email.errors
        }"
      >
        <label for="email">Email Address</label>
        <div class="input-field">
          <input type="email" name="email" formControlName="email" />
          <i class="bx bx-error-circle icon info-icon"></i>
        </div>
        <!-- Error -->
        <div *ngIf="isFormSubmitted && userForm.controls.email.errors">
          <p
            class="body-3-regular error-msg"
            *ngIf="userForm.controls.email.errors.required"
          >
            Email is required
          </p>
          <p
            class="body-3-regular error-msg"
            *ngIf="userForm.controls.email.errors.email"
          >
            Invalid email address
          </p>
        </div>
      </div>
      <div
        class="form-field"
        [ngClass]="{
          'is-invalid':
            isFormSubmitted && userForm.controls.resident_state.errors
        }"
      >
        <label for="email">State of Residence</label>
        <div class="input-field">
          <select
            name=""
            id=""
            name="resident_state"
            formControlName="resident_state"
          >
            <option value="" selected disabled hidden>-- Your State --</option>
            <option [value]="i.name" *ngFor="let i of statesInNigeria">
              {{ i.name }}
            </option>
          </select>
          <i class="bx bx-error-circle icon info-icon"></i>
        </div>
        <!-- Error -->
        <div *ngIf="isFormSubmitted && userForm.controls.resident_state.errors">
          <p
            class="body-3-regular error-msg"
            *ngIf="userForm.controls.resident_state.errors.required"
          >
            State of residence is required
          </p>
        </div>
      </div>
      <div
        class="form-field"
        [ngClass]="{
          'is-invalid': isFormSubmitted && userForm.controls.phone.errors
        }"
      >
        <label for="phone">Phone Number</label>
        <div class="input-field">
          <input type="tel" name="phone" formControlName="phone" />
          <i class="bx bx-error-circle icon info-icon"></i>
        </div>
        <!-- Error -->
        <div *ngIf="isFormSubmitted && userForm.controls.phone.errors">
          <p
            class="body-3-regular error-msg"
            *ngIf="userForm.controls.phone.errors.required"
          >
            Phone number is required
          </p>
          <p
            class="body-3-regular error-msg"
            *ngIf="userForm.controls.phone.errors.minlength"
          >
            Phone number is less than 11 digits
          </p>
        </div>
      </div>
      <div
        class="form-field col-2"
        [ngClass]="{
          'is-invalid': isFormSubmitted && userForm.controls.password.errors
        }"
      >
        <label for="password">Password</label>
        <div class="input-field">
          <input
            type="password"
            name="password"
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
          />
          <i
            [class]="
              hide ? 'bx bx-show clickable icon' : 'bx bx-hide clickable icon'
            "
            (click)="hide = !hide"
          ></i>
        </div>
        <!-- Error -->
        <div *ngIf="isFormSubmitted && userForm.controls.password.errors">
          <p
            class="body-3-regular error-msg"
            *ngIf="userForm.controls.password.errors.required"
          >
            Password is required
          </p>
          <p
            class="body-3-regular error-msg"
            *ngIf="userForm.controls.password.errors.minlength"
          >
            Your password must be at least 6 characters
          </p>
        </div>
      </div>
      <!-- Terms and conditions -->
      <p class="col-2 terms">
        By signing up you agree to our
        <span class="body-1-medium text-primary-color clickable"
          >Terms and Conditions</span
        >
        and the
        <span class="body-1-medium text-primary-color clickable"
          >Privacy Policy</span
        >.
      </p>
      <span class="message" *ngIf="showError">{{ errorMessage }}</span>
      <!-- Submit Button -->
      <div class="form-btn col-2">
        <button
          class="btn prim_btn clickable"
          [disabled]="loading"
          (click)="signUp()"
        >
          <span *ngIf="!loading">Sign Up</span>
          <span *ngIf="loading">Processing...</span>
        </button>
      </div>
    </form>
    <div class="auth_content_extra">
      <p class="login">
        Already have an account?
        <span
          class="text-primary-color body-1-bold clickable"
          routerLink="/login"
          >Login</span
        >
      </p>
    </div>
  </div>
</div>
