<!-- Alert message -->
<app-alert-popup
  *ngIf="isAlert"
  [alertMessage]="alertMessage"
  [alertColor]="alertColor"
></app-alert-popup>

<section class="ds-head">
    <h2 class="ds-head_title">Add Module</h2>
</section>

<section class="lessons">
    <div class="lessons_body">
        <!-- Lesson Form -->
        <form [formGroup]="moduleForm">
            <!-- <div class="form_control">
                <label for="lesson_video">Lesson Video</label>
                <div class="">
                <div
                    class="form_control_field select-image clickable"
                    (click)="fileInput.click()"
                    appDragDrop
                    (fileDropped)="uploadFile($event)"
                >
                    <input
                    type="file"
                    id="lesson_video"
                    #fileInput
                    hidden
                    (change)="uploadFile($event)"
                    />
                    <img
                    [src]="
                        showPreviewImage
                        ? previewImage
                        : '../../../assets/img/select-Image.svg'
                    "
                    alt=""
                    />
                    <p class="body-3-regular">
                    Drag your image here or
                    <span class="text-primary-color">browse</span>
                    </p>
                    <p class="body-3-regular">{{ selectedFileName }}</p>
                </div>
                </div>
            </div> -->
            <div class="form_control_container">
              <div class="form_control">
                  <label for="title">Module Title</label>
                  <div class="form_control_field">
                  <input
                  type="text"
                      id="title"
                      placeholder="Type here"
                      formControlName="title"
                  />
                  </div>
              </div>
              <div class="form_control">
                <label for="objectives">Objectives</label>
                <div class="form_control_field dis-flex">
                  <input
                    type="text"
                    name="objectives"
                    id="objectives"
                    placeholder="Type here"
                    formControlName="objectives"
                  >
                  <button class="btn prim_btn" (click)="addObjective()">Add</button>
                </div>
                <div class="tag_list dis-flex">
                  <div
                    class="tag_list_item dis-flex"
                    *ngFor="let objective of objectivesList; let objectiveIndex = index"
                  >
                    <small [title]="objective">{{
                      objective.length > 30 ? objective.slice(0, 30) + "..." : objective
                    }}</small>
                    <i
                      class="bx bx-x icon clickable"
                      (click)="removeObjective(objectiveIndex)"
                    ></i>
                  </div>
                </div>
              </div>
              <div class="form_control">
                  <label for="further_reading">Further Reading</label>
                  <div class="form_control_field">
                  <textarea
                      name=""
                      id="further_reading"
                      cols="30"
                      rows="5"
                      placeholder="Type here"
                      spellcheck="true"
                      formControlName="further_reading"
                      ></textarea>
                  </div>
              </div>
              <div class="form_control">
                <label for="class_activities">Class Activities</label>
                <div class="form_control_field dis-flex">
                  <input
                    type="text"
                    name="class_activities"
                    id="class_activities"
                    placeholder="Type here"
                    formControlName="class_activities"
                  >
                  <button class="btn prim_btn" (click)="addClassActivity()">Add</button>
                </div>
                <div class="tag_list dis-flex">
                  <div
                    class="tag_list_item dis-flex"
                    *ngFor="let classActivity of classActivityList; let classActivityIndex = index"
                  >
                    <small [title]="classActivity">{{
                      classActivity.length > 30 ? classActivity.slice(0, 30) + "..." : classActivity
                    }}</small>
                    <i
                      class="bx bx-x icon clickable"
                      (click)="removeClassActivity(classActivityIndex)"
                    ></i>
                  </div>
                </div>
              </div>
              <div class="form_control code_example">
                  <label for="code_example">Code Example</label>
                  <div class="form_control_field">
                  <textarea
                      name=""
                      id="code_example"
                      cols="30"
                      rows="5"
                      placeholder="Type here"
                      spellcheck="true"
                      formControlName="code_example"
                  ></textarea>
                  </div>
              </div>
            </div>
            <div class="form_btns dis-flex">
              <ng-container *ngIf="!loading">
                <button class="btn prim_btn" (click)="addAndCloseModule()">Save And Close</button>
                <button class="btn sec_btn" (click)="addAndNewModule()">Save And New</button>
              </ng-container>
              <button
                class="btn prim_btn"
                [disabled]="loading"
                *ngIf="loading"
              >Processing...</button>
            </div>
        </form>
    </div>
</section>
