<div class="courses_disgrid">
  <div class="card">
    <div
      class="card_item"
      *ngFor="let course of courses; let i = index"
    >
      <img
        [src]="
          course.thumbnail || '../../../../../../assets/img/library/library1.png'
        "
        alt="image"
        class="card_item_image clickable"
        (click)="viewCourse(course.id)"
        [title]="course.title"
      />
      <div class="content">
        <div class="content_details">
          <div class="content_details_header dis-flex">
            <h5 class="clickable" (click)="viewCourse(course.id)" [title]="course.title">
              {{ course.title | truncate }}
            </h5>

            <div class="actions">
              <img
                src="../../../../../../../assets/img/action.svg"
                class="clickable"
                alt="image"
                (click)="toggleAction(i)"
              />
              <div class="dropdown" [ngClass]="{'active': activeIndex === i}">
                <small
                  class="body-3-regular delete clickable"
                  (click)="openConfirmModal(course)"
                  >Delete</small
                >
              </div>
            </div>
          </div>
          <div class="icons dis-flex">
            <span class="dis-flex"
              ><img
                src="../../../../../../../assets/img/library/Bag.svg"
                alt="image"
              />
              <p class="body-3-regular">{{ course.course_quadrant }}</p></span
            >
            <span class="dis-flex"
              ><img
                src="../../../../../../../assets/img/library/video-square.svg"
                alt="image"
              />
              <p class="body-3-regular">{{ course.lesson_count }} Lessons</p></span
            >
            <span class="dis-flex"
              ><img
                src="../../../../../../../assets/img/library/clock.svg"
                alt="image"
              />
              <p class="body-3-regular">{{ course.duration }}</p></span
            >
          </div>
          <!-- Status -->
          <span [ngClass]="course.status ? 'success_btn' : 'grey_btn'">{{
            course.status ? "Published" : "Draft"
          }}</span>
        </div>
      </div>
      <div class="card_item_footer">
        <div class="card_item_footer_rates">
          <div class="card_item_footer_rates_item">
            <p class="body-3-regular title">Completion rate</p>
            <p class="body-3-medium value">85%</p>
          </div>
          <div class="card_item_footer_rates_item">
            <p class="body-3-regular title">Ratings</p>
            <p class="body-3-medium value">4.5 stars</p>
          </div>
        </div>
        <div class="card_item_footer_no-stats">
          <span class="dis-flex">
            <img src="../../../../../../../assets/img/chart.svg" alt="image" />
            <p class="body-3-medium">This course has no stats yet</p>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
