<div class="courses_disgrid">
  <div class="card">
    <div
      class="card_item"
      *ngFor="let i of allCourses"
    >
      <img
        [src]="
          i.thumbnail || '../../../../../../assets/img/library/library1.png'
        "
        alt="image"
        class="card_item_image clickable"
        [routerLink]="i.id + '/details'"
        [title]="i.title"
      />
      <div class="content">
        <div class="content_details">
          <div class="content_details_header dis-flex">
            <h5 class="clickable" [routerLink]="i.id + '/details'" [title]="i.title">
              {{
                i.title.length > 20
                  ? i.title.slice(0, 20)  + "..." 
                  : i.title | titlecase
              }}
            </h5>
            <div class="actions">
              <img src="../../../../../../../assets/img/action.svg" alt="" class="clickable" (click)="actionBtn.click()" />
              <input
                  type="checkbox"
                  name="action-btn"
                  id="action-btn"
                  style="display: none"
                  #actionBtn
                />
                <div class="dropdown">
                  <small
                    class="body-3-regular delete clickable"
                    [routerLink]="'create-course/' + i.id + '/modules'"
                    >Add Module</small>
                </div>
            </div>
          </div>
          <div class="icons dis-flex">
            <span class="dis-flex"
              ><img
                src="../../../../../../../assets/img/library/Bag.svg"
                alt="image"
              />
              <p class="body-3-regular">{{ i.course_quadrant }}</p></span
            >
            <span class="dis-flex"
              ><img
                src="../../../../../../../assets/img/library/video-square.svg"
                alt="image"
              />
              <p class="body-3-regular">{{ i.lesson_count }} Lessons</p></span
            >
            <span class="dis-flex"
              ><img
                src="../../../../../../../assets/img/library/clock.svg"
                alt="image"
              />
              <p class="body-3-regular">{{ i.duration }}</p></span
            >
          </div>
          <!-- Status -->
          <span [ngClass]="i.status ? 'success_btn' : 'grey_btn'">{{
            i.status ? "Published" : "Draft"
          }}</span>
        </div>
      </div>
      <div class="card_item_footer">
        <div class="card_item_footer_rates">
          <div class="card_item_footer_rates_item">
            <p class="body-3-regular title">Completion rate</p>
            <p class="body-3-medium value">85%</p>
          </div>
          <div class="card_item_footer_rates_item">
            <p class="body-3-regular title">Ratings</p>
            <p class="body-3-medium value">4.5 stars</p>
          </div>
        </div>
        <div class="card_item_footer_no-stats">
          <span class="dis-flex">
            <img src="../../../../../../../assets/img/chart.svg" alt="image" />
            <p class="body-3-medium">This course has no stats yet</p>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
