@import '../../../../../../assets/css/variables.scss';
@import '../../../../../../assets/css/mixins.scss';

.programs_disgrid {
    width: 100%;
    .card {
        // @include card(200px);
        display: block;
        &_item {
            border: 1px solid $divider-color;
            border-radius: $border-radius1;
            background-color: $white-color;
            display: flex;
            gap: $m-2;
            padding: $m-2 $m-3;
            @media only screen and (max-width: 997px) {
                display: grid;
                grid-gap: $m-2;
            }
            &_image {
                max-width: 280px;
                width: 100%;  
                @media only screen and (max-width: 997px) {
                    max-width: 100%;
                    height: 300px;
                }      
            }
            &_details {
                display: flex;  
                gap: $m-2;
                @media only screen and (max-width: 997px) {
                    display: grid;
                    grid-gap: $m-2;
                }
                &_right { 
                    flex-basis: 80%;
                    @media only screen and (min-width: 997px) {
                        border-right: 1px solid $divider-color;
                    }
                    &_header {
                        padding: 0 $m-2 $m-2 0;
                        border-bottom: 1px solid $divider-color;
                        h5 {
                            margin-bottom: $m-1;
                        }
                    }
                    ul {
                        gap: $m-1;
                        margin-top: $m-2;
                        li {
                            display: grid;
                            place-items: center;
                            padding: $m-1;
                            border: 1px solid $divider-color;
                            border-radius: $border-radius1;
                        }
                    }
                }
                &_left {
                    display: grid;
                    grid-gap: $m-2;
                    justify-content: space-between;
                    flex-basis: 20%;
                    @media only screen and (max-width: 997px) {
                        display: flex;
                        gap: $m-2;
                        flex-wrap: wrap;
                    }
                    .title {
                        color: $primary20;
                        margin-bottom: $m-1;
                    }
                    .students {
                        &_list {
                            margin-top: $m-1;
                            li {
                                &:not(:first-child) {
                                    margin-left: -10px;
                                }
                                img {
                                    width: 25px;
                                    height: 25px;
                                    border: 1px solid $white-color;
                                    border-radius: 50%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}