<div class="programs_disgrid">
  <div class="program_card">
    <div class="program_card_item" *ngFor="let program of programs">
      <img
        src="../../../../../../assets/img/program-thumbnail-patterns.svg"
        alt="image"
        class="program_card_item_image clickable"
        (click)="displayProgram(program?.id)"
      />

      <div class="program_card_item_details" *ngIf="program.name !== undefined">
        <div class="program_card_item_details_right">
          <div class="program_card_item_details_right_header">
            <h5
              class="title clickable"
              [title]="program?.name"
              (click)="displayProgram(program?.id)"
            >
              {{
                program?.name.length > 20
                  ? program?.name.slice(0, 20) + "..."
                  : program?.name
              }}
            </h5>
            <p>
              {{ program?.description }}
            </p>
          </div>
          <ul class="dis-flex">
            <li>
              <p class="body-2-bold">{{ program?.course_count }}</p>
              <p class="body-3-regular">{{program?.course_count > 1 ? 'Courses' : 'Course'}}</p>
            </li>
            <li>
              <p class="body-2-bold">{{ program?.school_count }}</p>
              <p class="body-3-regular">{{program?.school_count > 1 ? 'Schools' : 'School'}}</p>
            </li>
            <li>
              <p class="body-2-bold">{{ program?.learner_count }}</p>
              <p class="body-3-regular">{{program?.learner_count > 1 ? 'Learners' : 'Learner'}}</p>
            </li>
          </ul>
        </div>

        <div class="program_card_item_details_left">
          <div class="students">
            <p class="body-2-regular title">Total {{program?.learner_count > 1 ? 'Learners' : 'Learner'}} ({{ program?.learner_count }})</p>
            <ul class="students_list dis-flex">
              <li>
                <img
                  src="../../../../../assets/img/children-avatar/child-avatar-1.png"
                  alt=""
                />
              </li>
              <li>
                <img
                  src="../../../../../assets/img/children-avatar/child-avatar-2.png"
                  alt=""
                />
              </li>
              <li>
                <img
                  src="../../../../../assets/img/children-avatar/child-avatar-3.png"
                  alt=""
                />
              </li>
            </ul>
          </div>
          <div class="completion">
            <p class="body-2-regular title">Start date</p>
            <p class="body-2-medium">
              {{ program?.start_date | date: "mediumDate" }}
            </p>
          </div>
          <div class="status">
            <span
              [ngClass]="
                program?.status === 'active' ? 'success_btn' : 'grey_btn'
              "
              >{{ program?.status === "active" ? "Published" : "Draft" }}</span
            >
          </div>
        </div>
      </div>

      <div class="actions">
        <img
          src="../../../../../../assets/img/action.svg"
          class="clickable"
          alt="image"
          (click)="actionBtn.click()"
        />
        <input
          type="checkbox"
          name="action-btn"
          id="action-btn"
          style="display: none"
          #actionBtn
        />
        <div class="dropdown">
          <small
            class="body-3-regular delete clickable"
            (click)="openDeleteModal(program)"
            >Delete</small
          >
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Delete confirmation -->
<app-confirm-delete *ngIf="deleteModal" (deleteModal)="closeDeleteModal()" [itemName]="programName" [deleteUrl]="deleteUrl" [deleteRoutePath]="deleteRoutePath"></app-confirm-delete>
