<div class="programs_disgrid">
  <div class="card">
    <div
      class="card_item clickable"
      routerLink="programs-details/id"
      title="i.title"
    >
      <img
        src="../../../../../../assets/img/library/library1.png"
        alt="image"
        class="card_item_image"
      />

      <div class="card_item_details">
        <div class="card_item_details_right">
          <div class="card_item_details_right_header">
            <h5 class="title">AI Robotics Championship</h5>
            <p>
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
          <ul class="dis-flex">
            <li>
              <p class="body-2-bold">2</p>
              <p class="body-3-regular">Courses</p>
            </li>
            <li>
              <p class="body-2-bold">4</p>
              <p class="body-3-regular">Quizzes</p>
            </li>
          </ul>
        </div>

        <div class="card_item_details_left">
          <div class="students">
            <p class="body-2-regular title">Total Students</p>
            <ul class="students_list dis-flex">
              <li>
                <img
                  src="../../../../../../assets/img/svg/orange-circle.svg"
                  alt=""
                />
              </li>
              <li>
                <img
                  src="../../../../../../assets/img/svg/orange-circle.svg"
                  alt=""
                />
              </li>
              <li>
                <img
                  src="../../../../../../assets/img/svg/orange-circle.svg"
                  alt=""
                />
              </li>
            </ul>
          </div>
          <div class="completion">
            <p class="body-2-regular title">Completion rate</p>
            <p class="body-2-medium">80%</p>
          </div>
          <div class="status">
            <span class="success_btn"> Published </span>
            <!-- <span [ngClass]="i.status ? 'success_btn' : 'grey_btn'">{{
                    i.status ? "Published" : "Draft"
                  }}</span> -->
          </div>
        </div>
      </div>

      <div class="actions">
        <img src="../../../../../../assets/img/action.svg" alt="image" />
      </div>
    </div>
  </div>
</div>
