<section class="ds-head dis-flex">
  <h2 class="ds-head_title clickable" routerLink="/parent/payment">Payments</h2>
  <i class="bx bx-chevron-right icon"></i>
  <p class="clickable">Shopping Cart</p>
</section>

<section class="cart">
  <h5>Items in your Cart</h5>
  <div class="cart_body">
    <div class="cart_body_list du-grid">
      <div style="overflow-x: auto; padding-right: 1.5rem">
        <table>
          <tr class="table-header">
            <th>Child's Name</th>
            <th>Plan</th>
            <th>Amount(NGN)</th>
            <th>Action</th>
          </tr>
          <ng-container>
            <tr
              class="table-body"
              *ngFor="let i of allOrdersFromLS; let j = index"
            >
              <td>{{ i.name | titlecase }}</td>
              <td>{{ i.slug.split("-")[0] | titlecase }}</td>
              <td>
                {{ i.amount | number }}/{{
                  i.billing_id == "monthly" ? "month" : "year"
                }}
              </td>
              <td>
                <i
                  class="bx bx-x clickable"
                  style="color: #e92c2c; font-size: 20px"
                  title="Remove"
                  (click)="removeItemFromCart(j)"
                ></i>
              </td>
            </tr>
          </ng-container>
          <ng-template>
            <div style="text-align: center">
              <p>Empty Cart!</p>
              <button routerLink="/parent/children"></button>
            </div>
          </ng-template>
        </table>
      </div>
    </div>

    <!-- <div class="cart_body_list du-grid">
      <div class="cart_body_list_item" *ngFor="let i of allOrdersFromLS">
        <div class="header dis-flex">
          <p class="body-2-bold">{{ i.slug | titlecase }} for {{ i.name }}</p>
          <h4 class="text-secondary-color">
            {{ i.amount }}/{{ i.billing_id == "monthly" ? "month" : "year" }}
          </h4>
          <div class="dis-flex">
            <img
              src="../../../../../assets/img/children-avatar/child-avatar-1.png"
              alt=""
            />
            <p class="body-2-bold">{{ i.name }}</p>
          </div>
          
        </div>

        <p class="body-2-regular">
          This plan spans for a period of three months and includes the
          following coures and benefits
        </p>
      <ul>
          <li class="">
            <img src="../../../../../assets/img/svg/check-prim.svg" alt="" />
            <p>3 Months Subscription</p>
          </li>
          <li class="">
            <img src="../../../../../assets/img/svg/check-prim.svg" alt="" />
            <p>
              Block Coding, Steam Projects, Design Thinking, Robotics I &
              Enttrepreneurship
            </p>
          </li>
        </ul>
      </div>
      <div class="cart_body_list_item">
        <div class="header dis-flex">
          <p class="body-2-bold">Pro One year subscription</p>
          <h4 class="text-secondary-color">N9,000/year</h4>
        </div>
        <p class="body-2-regular">
          This plan spans for a period of three months and includes the
          following coures and benefits
        </p>
        <ul>
          <li class="">
            <img src="../../../../../assets/img/svg/check-prim.svg" alt="" />
            <p>1 year Subscription</p>
          </li>
          <li class="">
            <img src="../../../../../assets/img/svg/check-prim.svg" alt="" />
            <p>
              Block Coding, Steam Projects, Design Thinking, Robotics I, II,
              III, Web Development, Mobile Development, Minecraft Modding,
              Programming with C for Arduino & Enttrepreneurship
            </p>
          </li>
        </ul>
        <p class="remove text-secondary-color clickable hover-2">Remove</p>
      </div>
    </div> -->

    <div class="cart_body_checkout">
      <div class="cart_body_checkout_header">
        <p class="body-1-bold">Order details</p>
        <div class="sub-total dis-flex">
          <p class="body-2-regular">Sub total</p>
          <p class="body-2-regular">N{{ grandTotal | number }}.00</p>
        </div>
        <form>
          <div class="form-field">
            <label for="voucher">Apply a voucher</label>
            <div class="input-field">
              <input type="text" name="voucher" placeholder="Enter code here" />
            </div>
          </div>
          <div class="form-btn">
            <button class="btn prim_btn">Apply</button>
          </div>
        </form>
      </div>
      <div class="cart_body_checkout_footer">
        <div class="grand-total dis-flex">
          <p class="body-1-bold">Total</p>
          <p class="body-1-bold">N{{ grandTotal | number }}.00</p>
        </div>
        <button class="btn prim_btn" (click)="addOrder()">
          Proceed to Payment
        </button>
      </div>
    </div>
  </div>
</section>
