<section class="ds-head">
  <h2 class="ds-head_title">Payments</h2>
</section>

<section class="cart">
  <div class="cart_body">
    <div class="cart_body_list" style="padding-right: 1.5rem">
      <div class="form_control">
        <label for="classroom">Classroom</label>
        <div class="form_control_field">
            <select name="classroom" id="classroom" (change)="handleSelectChange($event)">
                <option value="">Select a classroom</option>
                <option [value]="item.id" *ngFor="let item of classrooms; let i = index">
                    {{ item.name }}
                </option>
            </select>
        </div>
      </div>

      <app-loader *ngIf="dataLoading"></app-loader>

      <div style="overflow-x: auto;" *ngIf="dataLoading === false">
        <p style="margin-bottom: 1rem;"><b>NOTE:</b> Select only learners you want to pay for</p>
        <table>
          <tr class="table-header">
            <th>Fullname</th>
            <th>Grade</th>
            <th>
              <div class="dis-flex" style="gap: 1rem;">
                <input 
                  type="checkbox" 
                  name="all learners" 
                  id="all learners"
                  [title]="learners.length === selectedLearners.length ? 'Deselect all learners' : 'Select all learners'"
                  [checked]="learners.length === selectedLearners.length"
                  class="clickable"
                  (change)="toggleSelectAllLearner($event)"
                >
                {{ selectedLearners.length + '/' + learners.length }}
              </div>
            </th>
          </tr>
          <tr class="table-body" *ngFor="let item of learners; let i = index">
            <td>{{ item.fullname }}</td>
            <td>{{ item.grade }}</td>
            <td class="action">
              <input 
                type="checkbox" 
                [name]="'learner-' + i" 
                [id]="'learner-' + i"
                [checked]="isLearnerSelected(item)"
                class="clickable"
                (change)="selectLearner($event, item)"
              >
            </td>
          </tr>

          <tr *ngIf="learners?.length === 0">
            <td colspan="20" style="text-align: center;">No learner available</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="cart_body_checkout">
      <div class="cart_body_checkout_header">
        <p class="body-1-bold" style="margin-bottom: 2rem;">Payment details</p>
        <div class="sub-plan dis-flex">
          <p class="body-2-regular">Subscription plan: <span class="sub-plan_value">Basic</span></p>
          <p class="body-2-bold">₦15,000/per learner</p>
        </div>
        <div>
          <div class="sub-total dis-flex">
            <p class="body-2-regular">Sub total</p>
            <p class="body-2-regular">₦{{ grandTotal | number }}.00</p>
          </div>
        </div>
        <form>
          <div class="form-field">
            <label for="voucher" (click)="isVoucher = !isVoucher"
              >Apply a voucher?
              <strong class="text-primary-color clickable"
                >Click here!</strong
              ></label
            >
            <div class="input-voucher" [class.show]="isVoucher">
              <div class="input-field">
                <input
                  type="text"
                  id="voucher"
                  name="voucher"
                  placeholder="Enter code here"
                />
              </div>
              <div class="form-btn">
                <button class="btn prim_btn">Apply</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="cart_body_checkout_footer">
        <div class="grand-total dis-flex">
          <p class="body-1-bold">Total</p>
          <p class="body-1-bold">₦{{ grandTotal | number }}.00</p>
        </div>
        <button
          class="btn prim_btn clickable"
          [disabled]="selectedLearners.length === 0"
          (click)="openConfirmModal()"
        >
          <span *ngIf="!loading">Proceed to Payment</span>
          <span *ngIf="loading">Processing...</span>
        </button>
      </div>
    </div>
  </div>
</section>

 <!-- Delete confirmation -->
 <app-confirm-delete 
  *ngIf="confirmModal" 
  (confrimModal)="closeConfirmModal()" 
  [confirmMessage]="confirmMessage"
  (confrimDone)="makePayment()"
  (reloadData)="getClassrooms()"
></app-confirm-delete>
