@import '../../../../../assets/css/dashboard.scss';

.du-grid {
  grid-gap: $m-6;
}

.pricing {
  &_header {
    justify-content: flex-end;
    gap: $m-2;
    margin-bottom: $m-5;
  }
}

// Payment History(Ph) starts
.ph {
  @include sect-bg();
  &_title {
    @include sect-bg-title;
  }
}
// Payment History(Ph) ends