<section class="ds-head">
  <h2 class="ds-head_title">Payments</h2>
</section>

<section class="cart">
  <div class="cart_body">
    <div class="cart_body_list" style="padding-bottom: 2rem;">
      <div class="dis-flex" style="justify-content: space-between; gap: 2rem; flex-wrap: wrap; margin-bottom: 2rem;">
        <h4 style="font-weight: bold;">Classrooms</h4>

        <div class="dis-flex" style="gap: 1rem">
          <p>Select all Classrooms:</p>
          <div class="dis-flex" style="gap: 0.5rem;" *ngIf="classrooms">
            <input 
              type="checkbox" 
              name="all class" 
              id="all class"
              class="clickable"
              [title]="classrooms.length === classroomsSelectedLearners?.classes?.length ? 'Deselect all classrooms' : 'Select all classrooms'"
              [checked]="classrooms.length === classroomsSelectedLearners?.classes?.length"
              (change)="toggleSelectAllClass($event)"
            >
              {{ classroomsSelectedLearners?.classes?.length }} / {{ classrooms.length }}
          </div>
        </div>
      </div>

      <app-loader *ngIf="dataLoading"></app-loader>

      <div class="grid-card-1" *ngIf="dataLoading === false">
        <div class="card">
          <div class="card_item" *ngFor="let classroom of classrooms; let i = index">
            <div class="content">
              <div class="content_details">
                <div class="content_details_header dis-flex">
                  <h5 class="clickable" [title]="classroom.name">{{ classroom.name  }}</h5>

                  <div class="actions">
                    <input
                      type="checkbox" 
                      [name]="'class' + i" 
                      [id]="'class' + i"
                      [title]="isClassroomSelected(classroom) ? 'Deselect classroom' : 'Select classroom'"
                      [checked]="isClassroomSelected(classroom)"
                      class="clickable"
                      (change)="toggleSelectClass($event, classroom)"
                    >
                      <!-- [title]="classroom.learner_count === classroomsSelectedLearners[classroom.id].length ? 'Deselect classroom' : 'Select classroom'" -->
                  </div>
                </div>
                <div class="icons dis-flex" style="margin-bottom: 0;">
                  <span class="dis-flex">
                    <img src="../../../../../assets/img/svg/profile-2user.svg" alt="image"/>
                    <p class="body-2-regular">{{ classroom.learner_count }} Learners</p>
                  </span>
                  <button class="btn sec_btn" (click)="openViewClassroomLearners(classroom)">View Learners</button>
                </div>
              </div>
            </div>
            <div class="card_item_footer">
              <div class="card_item_footer_rates">
                <div class="card_item_footer_rates_item">
                  <p class="body-3-regular title">Learner's selected</p>
                  <p class="body-3-medium value">
                    {{ getTotalSelectedLearnersCheck(classroom) }}
                  </p>
                </div>
                <div class="card_item_footer_rates_item">
                  <p class="body-3-regular title">Total amount</p>
                  <p class="body-3-medium value">₦{{ getClassTotalAmount(classroom) | number }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cart_body_checkout">
      <div class="cart_body_checkout_header">
        <p class="body-1-bold" style="margin-bottom: 2rem;">Payment details</p>
        <div class="sub-plan dis-flex">
          <p class="body-2-regular">Subscription plan: <span class="sub-plan_value">Basic</span></p>
          <p class="body-2-bold">₦15,000/per learner</p>
        </div>
        <div>
          <div class="sub-total dis-flex">
            <p class="body-2-regular">Sub total</p>
            <p class="body-2-regular">₦{{ grandTotal | number }}.00</p>
          </div>
        </div>
        <form>
          <div class="form-field">
            <label for="voucher" (click)="isVoucher = !isVoucher"
              >Apply a voucher?
              <strong class="text-primary-color clickable"
                >Click here!</strong
              ></label
            >
            <div class="input-voucher" [class.show]="isVoucher">
              <div class="input-field">
                <input
                  type="text"
                  id="voucher"
                  name="voucher"
                  placeholder="Enter code here"
                />
              </div>
              <div class="form-btn">
                <button class="btn prim_btn">Apply</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="cart_body_checkout_footer">
        <div class="grand-total dis-flex">
          <p class="body-1-bold">Total</p>
          <p class="body-1-bold">₦{{ grandTotal | number }}.00</p>
        </div>
        <button
          class="btn prim_btn clickable"
          [disabled]="totalSelectedLearners === 0 || !totalSelectedLearners"
          (click)="openConfirmModal()"
        >
          <span *ngIf="!loading">Proceed to Payment</span>
          <span *ngIf="loading">Processing...</span>
        </button>
      </div>
    </div>
  </div>
</section>

 <!-- Delete confirmation -->
 <app-confirm-delete 
  *ngIf="confirmModal" 
  (confrimModal)="closeConfirmModal()" 
  [confirmMessage]="confirmMessage"
  (confrimDone)="makePayment()"
  (reloadData)="getClassrooms()"
></app-confirm-delete>

<app-payment-classroom-learners
  *ngIf="viewClassroomLearners"
  [classroom]="classroom"
  [classroomsSelectedLearners]="classroomsSelectedLearners"
  (learnersModal)="getSelectedClassroomLearners($event)"
></app-payment-classroom-learners>
