<section class="ds-head">
  <h2 class="ds-head_title">Payments</h2>
</section>

<section class="cart">
  <h5>Items in your Cart</h5>
  <div class="cart_body">
    <div class="cart_body_list du-grid">
      <div class="cart_body_list_item">
        <div class="header dis-flex">
          <p class="body-2-bold">Standard 3 months subscription</p>
          <h4 class="text-secondary-color">N15,000/ Month</h4>
        </div>
        <p class="body-2-regular">
          This plan spans for a period of three months and includes the
          following coures and benefits
        </p>
        <ul>
          <li class="">
            <img src="../../../../../assets/img/svg/check-prim.svg" alt="" />
            <p>3 Months Subscription</p>
          </li>
          <li class="">
            <img src="../../../../../assets/img/svg/check-prim.svg" alt="" />
            <p>
              Block Coding, Steam Projects, Design Thinking, Robotics I &
              Enttrepreneurship
            </p>
          </li>
        </ul>
        <p class="remove text-secondary-color clickable hover-2">Remove</p>
      </div>
      <div class="cart_body_list_item">
        <div class="header dis-flex">
          <p class="body-2-bold">Pro One year subscription</p>
          <h4 class="text-secondary-color">N9,000/ Month</h4>
        </div>
        <p class="body-2-regular">
          This plan spans for a period of three months and includes the
          following coures and benefits
        </p>
        <ul>
          <li class="">
            <img src="../../../../../assets/img/svg/check-prim.svg" alt="" />
            <p>1 year Subscription</p>
          </li>
          <li class="">
            <img src="../../../../../assets/img/svg/check-prim.svg" alt="" />
            <p>
              Block Coding, Steam Projects, Design Thinking, Robotics I, II,
              III, Web Development, Mobile Development, Minecraft Modding,
              Programming with C for Arduino & Enttrepreneurship
            </p>
          </li>
        </ul>
        <p class="remove text-secondary-color clickable hover-2">Remove</p>
      </div>
    </div>
    <!-- Checkout -->
    <div class="cart_body_checkout">
      <div class="cart_body_checkout_header">
        <p class="body-1-bold">Order details</p>
        <div class="sub-total dis-flex">
          <p class="body-2-regular">Sub total</p>
          <p class="body-2-regular">N24,000.00</p>
        </div>
      </div>
      <div class="cart_body_checkout_footer">
        <div class="grand-total dis-flex">
          <p class="body-1-bold">Sub total</p>
          <p class="body-1-bold">N24,000.00</p>
        </div>
        <button class="btn prim_btn" (click)="addOrder()">
          Proceed to Payment
        </button>
      </div>
    </div>
  </div>
</section>
