@import '../../../../../assets/css/variables.scss';
@import '../../../../../assets/css/mixins.scss';
@import '../../../../../assets/css/dashboard.scss';

.modal {
    @include modal($modal-area-width: 600px);
    &_area {
      padding: $m-4 0 !important;
      // close button
      &_header {
        padding: 0 $m-3 $m-2 $m-3;
      }
    }

    .table-container {
        &_header {
            padding: $m-2;
            border: 1px solid $divider-color;
        }
        .input_field {
            padding: 0 $m-1;
            background: #F7F7F7;
            border-radius: $border-radius1;
            border: 2px solid $white-color;
            margin-right: $m-1;
            @media only screen and (min-width: 755px) {
              min-width: 400px;
            }
            img {
              margin-right: $m-1;
              width: 20px;
              height: 20px;
            }
            input {
              width: 100%;
              padding: $m-1 0;
              border: none;
              outline: none;
              background-color: transparent;
              font-size: 16px;
              font-weight: 500;
              color: rgba(45, 43, 109, 0.6);
              &::placeholder {
                color: rgba(45, 43, 109, 0.6);
              }
            }
        }
        table {
            tr {
                &.table-header {
                  border-radius: 0;
                  th:last-child {
                    border-radius: 0;
                  }
                  th:first-child {
                    border-radius: 0;
                  }
                }
            }
        }
    }
    .btns {
        justify-content: flex-end;
        gap: $m-2;
        padding: $m-2 $m-3 0 $m-3;
    }
  }