<section class="ds-head dis-flex">
  <h2 class="ds-head_title">Library</h2>
</section>

<section>
  <div class="filter-container">
    <div class="tabs dis-flex">
      <button class="active">All Content</button>
      <button
        [class.active]="quadrant == 'Developer'"
        (click)="tabChange('Developer')"
      >
        Developer
      </button>
      <button
        [class.active]="quadrant == 'Designer'"
        (click)="tabChange('Designer')"
      >
        Designer
      </button>
      <button>Maker</button>
      <button>Innovator</button>
    </div>
    <div class="sort">
      <span>
        <img src="../../../assets/img/grid.svg" alt="" />
      </span>
      <span>
        <img src="../../../assets/img/funnel.svg" alt="" />
      </span>
    </div>
  </div>
  <div class="courses-container">
    <!-- Courses -->
    <app-courses-card [quadrant]="quadrant"></app-courses-card>
    <!-- Pagination -->
    <div class="pagination">
      <ul class="dis-flex">
        <li class="icon"><i class="bx bx-chevron-left"></i></li>
        <li class="active">1</li>
        <li>2</li>
        <li class="icon"><i class="bx bx-chevron-right"></i></li>
      </ul>
    </div>
  </div>
</section>
