<section class="set-info" app>
  <div class="set-info_header">
    <h3 class="text-primary-color">Set the Program Information</h3>
    <p>
      This information will be displayed to the learners before they join the
      program
    </p>
  </div>
  <form>
    <div class="form_control">
      <label for="title">Program Title</label>
      <div class="form_control_field">
        <input type="text" id="title" placeholder="Type here" />
      </div>
    </div>
    <div class="form_control details">
      <label for="details">Program Details</label>
      <div class="form_control_field">
        <textarea
          name=""
          id="details"
          cols="30"
          rows="5"
          placeholder="Type here"
          spellcheck="true"
        ></textarea>
      </div>
    </div>
    <div class="form_setting">
      <div class="">
        <h3 class="text-primary-color">Program Timeframe</h3>
        <p>Confugure the start and end date of the program</p>
      </div>
      <label class="">
        <input type="date" id="" />
      </label>
    </div>
  </form>
</section>

<app-add-course-modal></app-add-course-modal>
