<section class="ds-head">
  <h2 class="ds-head_title">Dashboard</h2>
</section>

<section class="overview">
  <main class="stats du-grid">
    <div class="card">
      <div class="card_item dis-flex">
        <span class="icon dis-flex">
          <img src="../../../../../assets/img/svg/profile-2user.svg" alt="" />
        </span>
        <div class="card_item_details">
          <h5 class="title">Students</h5>
          <h2 class="value">{{students?.length}}</h2>
        </div>
      </div>
      <div class="card_item dis-flex">
        <span class="icon dis-flex">
          <img src="../../../../../assets/img/svg/video-square.svg" alt="" />
        </span>
        <div class="card_item_details">
          <h5 class="title">Videos</h5>
          <h2 class="value">0</h2>
        </div>
      </div>
      <div class="card_item dis-flex">
        <span class="icon dis-flex">
          <img src="../../../../../assets/img/svg/box.svg" alt="" />
        </span>
        <div class="card_item_details">
          <h5 class="title">Courses</h5>
          <h2 class="value">0</h2>
        </div>
      </div>
    </div>
    <div class="enroll">
      <div class="enroll_title">
        <h5>Enrollment</h5>
      </div>
      <div class="">
        <img src="../../../../../assets/img/svg/chart.svg" alt="" />
      </div>
    </div>
  </main>
  <!-- <aside class="messages">
    <div class="messages_title">
      <h5>Messages</h5>
      <p>Recent</p>
    </div>
    <ul class="messages_list">
      <li class="messages_list_item dis-flex">
        <img src="../../../../../assets/img/person1.png" alt="" />
        <div class="messages_list_item_details">
          <h6 class="name">Charlie Renner</h6>
          <small class="message">
            Dolor ullam in non molestias. At aut reiciendis dolor non culpa sint
            quasi.
          </small>
        </div>
      </li>
      <li class="messages_list_item dis-flex">
        <img src="../../../../../assets/img/person2.png" alt="" />
        <div class="messages_list_item_details">
          <h6 class="name">Erika Prohaska</h6>
          <small class="message"
            >Sint quaerat eum esse sint numquam ea incidunt.</small
          >
        </div>
      </li>
      <li class="messages_list_item dis-flex">
        <img src="../../../../../assets/img/person3.png" alt="" />
        <div class="messages_list_item_details">
          <h6 class="name">Sophia Hudson</h6>
          <small class="message"
            >Laudantium consequatur eum voluptas iusto enim.</small
          >
        </div>
      </li>
    </ul>
  </aside> -->
</section>
