<section class="ds-head">
  <h2 class="ds-head_title">Dashboard</h2>
</section>

<section class="overview">
  <main class="stats">
    <div class="card">
      <div class="card_item dis-flex">
        <span class="icon dis-flex">
          <img src="../../../../../assets/img/svg/profile-2user.svg" alt="" />
        </span>
        <div class="card_item_details">
          <h5 class="title">Students</h5>
          <h2 class="value">{{ students?.length }}</h2>
        </div>
      </div>
      <div class="card_item dis-flex">
        <span class="icon dis-flex">
          <img src="../../../../../assets/img/svg/box.svg" alt="" />
        </span>
        <div class="card_item_details">
          <h5 class="title">Classrooms</h5>
          <h2 class="value">{{ classrooms?.length }}</h2>
        </div>
      </div>
      <div class="card_item dis-flex">
        <span class="icon dis-flex">
          <img src="../../../../../assets/img/svg/video-square.svg" alt="" />
        </span>
        <div class="card_item_details">
          <h5 class="title">Teachers</h5>
          <h2 class="value">{{ teachers?.length }}</h2>
        </div>
      </div>
    </div>
    <!-- <div class="enroll">
      <div class="enroll_title">
        <h5>Enrollment</h5>
      </div>
      <div class="chart-container">
        <div class="chart" id="chart_div" style="width: 100%;"></div>
      </div>
    </div> -->
  </main>
  <aside>
    <div class="term">
      <h5>Term Details</h5>
      <div 
        class="dis-flex" 
        style="justify-content: space-between; gap: 1rem; flex-wrap: wrap; margin-top: 1rem;"
      >
        <p
          [ngClass]="schoolSettings?.active_term ? 'success_btn' : 'grey_btn'"
        >
          {{
            (schoolSettings?.active_term ? schoolSettings?.active_term.title : "On Break") | uppercase
          }}
        </p>

        <div class="icons dis-flex">
          <span class="dis-flex" *ngIf="schoolSettings?.active_term">
            <div class="">
              <p class="body-2-regular">
                <b>Starts:</b>
                {{ schoolSettings?.active_term?.start_date | date : "mediumDate" }}
              </p>

              <p>
                <b>Ends:</b>
                {{ schoolSettings?.active_term?.end_date | date : "mediumDate" }}
              </p>
            </div>
          </span>
        </div>
      </div> 
    </div>
  </aside>
</section>

<app-school-onboard
  *ngIf="user?.isUserOnboarded === false"
  [schoolSettings]="schoolSettings"
  (onboardEvent)="closeOnboardModal()"
></app-school-onboard>

<app-school-confirm-session-date 
  *ngIf="this.schoolSettings?.active_term?.defaultDateChanged === false"
  [schoolSettings]="schoolSettings"
  (closeModalEvent)="getSchoolSettings()"
></app-school-confirm-session-date>
