<section class="hero sect" style="margin: 0; padding: 0"></section>

<section class="" style="margin-top: 50px">
  <div class="container">
    <div class="row sect_heading" style="text-align: center">
      <h2 class="sect_title" style="color: #2d2b6d">
        To get started <span class="text-secondary-color">Register</span> Now
      </h2>
      <p>
        Register to receive further directions on how to enroll your kids for
        the Summer Bootcamp
      </p>
      <br /><br />
      <a routerLink="/signup/parent" class="btn prim_btn">Register Now</a>
    </div>
  </div>
</section>
