<section class="ds-head dis-flex">
    <h2 class="ds-head_title clickable" routerLink="/learner/classrooms">Classrooms</h2>
    <i class="bx bx-chevron-right icon"></i>
    <p class="clickable" [title]="classroom?.name">
      {{
        classroom?.name.length > 20
          ? classroom?.name.slice(0, 20) + "..."
          : classroom?.name
      }}
    </p>
  </section>
  
  <section class="course-details">
    <div class="course-details_image">
      <img [src]="classroom?.header_photo ? classroom?.header_photo : 'assets/img/program-thumbnail.svg'" alt="Header_photo" />
    </div>
    <div class="course-details_header">
      <div class="course-details_header_top">
        <div class="left">
          <h2>{{ classroom?.name }}</h2>
          <div class="dis-flex left_bottom">
            <div class="icons dis-flex">
              <span class="dis-flex"
                ><img src="../../../assets/img/svg/medal.svg" alt="" />
                <p class="body-2-regular">3 Sections</p></span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="course-details_header_bottom">
        <p class="descript">
          {{ classroom?.description }}
        </p>
        <ul class="numbers dis-flex">
          <li>
            <p class="body-2-bold">{{ classroom?.courses?.length }}</p>
            <p class="body-3-regular">{{classroom?.courses?.length > 1 ? 'Courses' : 'Course'}}</p>
          </li>
        </ul>
        <div class="students">
          <p class="body-2-bold title">Total {{classroom?.learner_count > 1 ? 'Learners' : 'Learner'}} ({{ classroom?.learner_count }})</p>
          <ul class="students_list dis-flex">
            <li>
              <img
                src="../../../../../assets/img/children-avatar/child-avatar-1.png"
                alt=""
              />
            </li>
            <li>
              <img
                src="../../../../../assets/img/children-avatar/child-avatar-2.png"
                alt=""
              />
            </li>
            <li>
              <img
                src="../../../../../assets/img/children-avatar/child-avatar-3.png"
                alt=""
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="course-details_body">
      <div class="course-details_body_header">
        <ul class="dis-flex">
          <li
            class="body-2-medium active"
            [class.active]="contentId === 'courses'"
            (click)="tabChange('courses')"
          >
            Courses
          </li>
          <li
            class="body-2-medium"
            [class.active]="contentId === 'learners'"
            (click)="tabChange('learners')"
          >
            Learners
          </li>
        </ul>
      </div>
      <div class="course-details_body_content">
        <!-- Courses -->
        <ng-container *ngIf="contentId === 'courses'">
          <div class="table-container" style="overflow-x: auto" *ngIf="!courseQuizResult">
            <ng-container *ngIf="classroom?.courses?.length > 0">
              <table>
                <tr class="table-header">
                  <th>Title</th>
                  <th>Number of lesson(s)</th>
                  <th>Quadrant</th>
                  <th>Duration</th>
                  <th>Action</th>
                </tr>
                <ng-container>
                  <tr class="table-body" *ngFor="let course of classroom?.courses">
                    <td>{{ course?.title }}</td>
                    <td>{{course?.lesson_count}}</td>
                    <td>{{course?.course_quadrant}}</td>
                    <td>{{course?.duration}}</td>
                    <td>
                        <button class="btn sec_btn" (click)="takeCourse(course?.id)">Start</button>
                        <button class="btn sec_btn" style="margin-left: 2rem;" (click)="openViewCourseQuizResult(course)">Quiz Result</button>
                    </td>
                  </tr>
                </ng-container>
              </table>
            </ng-container>
  
            <div *ngIf="classroom?.courses?.length === 0" class="course-empty">
              <p style="text-align: center" >
                No Course available
              </p>
            </div>
          </div>

          <app-view-quiz-result *ngIf="courseQuizResult" [course]="course" (courseQuizResult)="closeViewCourseQuizResult()"></app-view-quiz-result>
        </ng-container>
        
        <!-- Learners -->
        <ng-container *ngIf="contentId === 'learners'">
          <div class="table-container" style="overflow-x: auto">
            <ng-container *ngIf="classroom?.learners?.length > 0">
              <table>
                <tr class="table-header">
                  <th>Full Name</th>
                  <th>User Name</th>
                  <th>Email</th>
                  <th>Grade</th>
                </tr>
                <ng-container>
                  <tr class="table-body" *ngFor="let learner of classroom?.learners">
                    <td>{{ learner.fullname }}</td>
                    <td>{{ learner.username }}</td>
                    <td>{{ learner.parent_email ===  undefined ? '-' : learner.parent_email }}</td>
                    <td>{{ learner.grade ===  undefined ? '-' : learner.grade  }}</td>
                  </tr>
                </ng-container>
              </table>
            </ng-container>

            <div *ngIf="classroom?.learners?.length === 0" class="course-empty">
              <p style="text-align: center" >
                No Learner available
              </p>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </section>
