<div class="courses_dislist">
  <table>
    <tr class="table-header">
      <!-- <th>Thumbnail</th> -->
      <th>Course name</th>
      <th>Quadrant</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    <tr
      class="table-body"
      *ngFor="let course of courses; let i = index"
    >
      <!-- <td class="thumbnail">
        <img [src]="course.thumbnail" alt="" />
      </td> -->
      <td class="name clickable" (click)="viewCourse(course.id)">{{ (course.title | titlecase) | truncate: 40 }}</td>
      <td class="quadrant">{{ course.course_quadrant | titlecase }}</td>
      <td class="status">
        <span [ngClass]="course.status ? 'success_btn' : 'grey_btn'">{{
          course.status ? "Published" : "Draft"
        }}</span>
      </td>
      <td class="actions">
        <img 
          src="../../../../../../../assets/img/action.svg" 
          alt="action" 
          class="clickable" 
          (click)="toggleAction(i)" 
        />
        <div class="dropdown" [ngClass]="{'active': activeIndex === i}">
          <small
            class="body-3-regular delete clickable"
            (click)="openConfirmModal(course)"
            >Delete</small
          >
        </div>
      </td>
    </tr>
  </table>
</div>
