<!-- Alert message -->
<app-alert-popup *ngIf="isAlert" [alertMessage]="alertMessage" [alertColor]="alertColor"></app-alert-popup>

<div class="modal">
  <div class="modal_area" [class.remove-padd]="billingId == 'single'">
    <span class="modal_area_close" (click)="closeAddChildToProgramModal()">
      <i class="bx bx-x icon clickable"></i>
    </span>

    <div class="enroll auth_content">
      <h4 class="text-primary-color enroll_title" [class.add-padd]="billingId == 'single'">
        Add student(s) to this program
      </h4>
      <form class="enroll_form auth_content_form">
        <!-- Tabs starts -->
        <div class="form-field col-2" [class.add-padd]="billingId == 'single'">
          <label for="">Select an enrollment method</label>
          <!-- enroll-mtd tabs -->
          <div class="enroll-mtd_tab">
            <div class="enroll-mtd_tab_wrapper">
              <span class="tab" [class.active]="billingId == 'single'" (click)="tabChange('single')">Select student(s)
              </span>
              <span class="tab" [class.active]="billingId == 'batch'" (click)="tabChange('batch')">Upload students
              </span>
            </div>
          </div>
        </div>
        <!-- Tabs starts -->

        <!-- Single enrollment starts *ngIf="billingId == 'single'" -->
        <div class="col-2" *ngIf="billingId == 'single'">
          <div class="table-container">
            <div class="table-container_header dis-flex">
              <div class="input_field dis-flex">
                <img src="../../../../../../assets/img/svg/Search.svg" alt="image" />
                <input type="text" placeholder="Search by Name" name="search" [(ngModel)]="studentName"
                  (input)="search()" />
              </div>

              <div class="grouping dis-flex">
                <!-- Filter -->
                <div class="filter s-f">
                  <div class="captions-regular dis-flex">
                    <span class="title">Filter:</span>
                    <span class="dropdown-btn dis-flex clickable">All programs <i class="bx bx-chevron-down"></i></span>
                  </div>
                </div>
                <!-- Sort -->
                <div class="sort s-f">
                  <div class="captions-regular dis-flex">
                    <span class="title">Sort:</span>
                    <span class="dropdown-btn dis-flex clickable">Last modified <i
                        class="bx bx-chevron-down"></i></span>
                  </div>
                </div>
              </div>
            </div>
            <div style="overflow: auto; max-height: 300px;">
              <table>
                <tr class="table-header">
                  <th>Student name</th>
                  <th>Username</th>
                  <th class="dis-flex actions">
                    <!-- Mark all <input type="checkbox" name="" id="" /> -->
                  </th>
                </tr>
                <ng-container *ngIf="students?.length > 0">
                  <tr class="table-body" *ngFor="let student of students">
                    <td>{{student.fullname}}</td>
                    <td>{{student.username}}</td>
                    <td><input type="checkbox" name="student" [id]="student.id"
                        (change)="selectStudent($event, student)" /></td>
                  </tr>
                </ng-container>
                <ng-container *ngIf="students?.length === 0">
                  <p style="text-align: center">No learner!</p>
                </ng-container>
              </table>
            </div>
          </div>

          <!-- Submit Button -->
          <div class="form-btns dis-flex">
            <span class="grey_btn clickable" (click)="closeAddChildToProgramModal()">Cancel</span>
            <div class="continue">
              <button class="btn prim_btn clickable" [disabled]="loading" (click)="addLearners()">
                <span *ngIf="!loading">Add</span>
                <span *ngIf="loading">Processing...</span>
              </button>
            </div>
          </div>
        </div>
        <!-- Single enrollment ends -->

        <!-- Batch enrollment starts *ngIf="billingId == 'batch'" -->
        <div class="batch-enroll col-2" *ngIf="billingId == 'batch'">
          <div class="form-field col-2">
            <label for="">
              <p>
                <small>
                  Upload an excel sheet containing a list of the pupils you want to enroll into this program.
                  This excel sheet should contain details of pupils previously added to this account from your
                  students'
                  page.
                </small>
              </p>
              <br />
              <p>
                <small>You can download the <strong>template</strong> with a list of your students </small>
                <strong><a [href]="'https://dev.dumena.com/schools/' + user.id + '/download-students-list'"
                    class="text-primary-color hover-1 clicakble">here</a></strong>
              </p>
            </label>
            <div class="form-field select-image clickable" (click)="fileInput.click()" appDragDrop
              (fileDropped)="uploadFile($event)">
              <input type="file" #fileInput hidden accept=".xlsx" (change)="uploadFile($event)" />
              <p>{{ selectedFileName }}</p>
              <p class="body-3-regular">
                Drag your file here or
                <span class="text-primary-color">browse</span>
              </p>
              <p class="body-3-regular">Max file size 4MB</p>
            </div>
          </div>
          <!-- Submit Button -->
          <div class="form-btns col-2 dis-flex">
            <span class="grey_btn clickable" (click)="closeAddChildToProgramModal()">Cancel</span>
            <div class="continue">
              <button class="btn prim_btn clickable" [disabled]="loading || learnersList === undefined"
                (click)="batchAddLearners()">
                <span *ngIf="!loading">Continue</span>
                <span *ngIf="loading">Processing...</span>
              </button>
            </div>
          </div>
        </div>
        <!-- Batch enrollment ends -->
      </form>
    </div>
  </div>
</div>

<!-- <div class="single-enroll col-2" *ngIf="billingId == 'single'">
  <div
    class="form-field col-2"
    [ngClass]="{
      'is-invalid': isFormSubmitted && userForm.controls.fullname.errors
    }"
  >
    <label for="fullname">Full Name</label>
    <div class="input-field">
      <input
        type="text"
        id="fullname"
        name="fullname"
        formControlName="fullname"
      />
      <i class="bx bx-error-circle icon info-icon"></i>
    </div>

    <div *ngIf="isFormSubmitted && userForm.controls.fullname.errors">
      <p
        class="body-3-regular error-msg"
        *ngIf="userForm.controls.fullname.errors.required"
      >
        Fullname is required
      </p>
    </div>
  </div>
  <div
    class="form-field"
    [ngClass]="{
      'is-invalid':
        isFormSubmitted && userForm.controls.parent_email.errors
    }"
  >
    <label for="parent_email">Parent Email</label>
    <div class="input-field">
      <input
        type="email"
        id="parent_email"
        name="parent_email"
        formControlName="parent_email"
      />
      <i class="bx bx-error-circle icon info-icon"></i>
    </div>

    <div
      *ngIf="isFormSubmitted && userForm.controls.parent_email.errors"
    >
      <p
        class="body-3-regular error-msg"
        *ngIf="userForm.controls.parent_email.errors.required"
      >
        Parent Email is required
      </p>
      <p
        class="body-3-regular error-msg"
        *ngIf="userForm.controls.parent_email.errors.email"
      >
        Invalid email address
      </p>
    </div>
  </div>
  <div
    class="form-field"
    [ngClass]="{
      'is-invalid': isFormSubmitted && userForm.controls.grade.errors
    }"
  >
    <label for="grade">Grade</label>
    <div class="input-field">
      <input
        type="text"
        id="grade"
        name="grade"
        formControlName="grade"
      />
      <i class="bx bx-error-circle icon info-icon"></i>
    </div>

    <div *ngIf="isFormSubmitted && userForm.controls.grade.errors">
      <p
        class="body-3-regular error-msg"
        *ngIf="userForm.controls.grade.errors.required"
      >
        Grade is required
      </p>
    </div>
  </div>
  <span class="message col-2" *ngIf="showError">{{
    errorMessage
  }}</span>
  <div class="form-btns col-2 dis-flex">
    <span
      class="grey_btn clickable"
      (click)="closeAddChildToProgramModal()"
      >Cancel</span
    >
    <div class="continue">
      <button
        class="btn prim_btn clickable"
        [disabled]="loading"
        (click)="addLearner()"
      >
        <span *ngIf="!loading">Continue</span>
        <span *ngIf="loading">Processing...</span>
      </button>
    </div>
  </div>
</div> -->