<!-- Alert message -->
<app-alert-popup
  *ngIf="isAlert"
  [alertMessage]="alertMessage"
  [alertColor]="alertColor"
></app-alert-popup>

<section class="ds-head dis-flex">
  <h2 class="ds-head_title clickable" routerLink="/admin/class-templates">Class Template</h2>
  <i class="bx bx-chevron-right icon"></i>
  <p>
    Add Class Template
  </p>
</section>


<section class="set-info">
  <div class="set-info_header">
    <h3 class="text-primary-color">Set the Class Template Information</h3>
    <p>
        This information will be displayed to the learners when they are added to the class
    </p>
  </div>
  <form [formGroup]="classTemplateForm">
    <div class="form_control_container">
      <div class="form_control">
        <label for="title">Title <strong class="label-required">*</strong></label>
        <div class="form_control_field">
          <input
            type="text"
            id="title"
            name="title"
            placeholder="Type here"
            formControlName="title"
          />
        </div>
      </div>
      <div class="form_control syllabus">
        <label for="syllabus">Syllabus <strong class="label-required">*</strong></label>
        <div class="form_control_field">
          <textarea
            name="syllabus"
            id="syllabus"
            cols="30"
            rows="5"
            placeholder="Type here"
            spellcheck="true"
            formControlName="syllabus"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="form_btns dis-flex">
      <ng-container *ngIf="!loading">
        <button class="btn grey_btn" routerLink="/admin/classrooms">Cancel</button>
        <button class="btn prim_btn" (click)="createClassTemplate()">Save</button>
      </ng-container>
      <button
        class="btn prim_btn"
        [disabled]="loading"
        *ngIf="loading"
      >Processing...</button> 
    </div>
  </form>
</section>