<div class="courses_dislist" style="overflow-x: auto">
    <ng-container *ngIf="(users || []).length > 0">
    <table>
      <tr class="table-header">
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Status</th>
        <th>Date Enrolled</th>
        <th *ngIf="loggedInUserData.admin_role === 'super'"></th>
      </tr>
        <tr class="table-body" *ngFor="let item of users; let i = index">
          <td class="name">
            <div class="dis-flex">
              <img
                src="../../../../../../assets/img/children-avatar/child-avatar-1.png"
                alt=""
              />
              <div>
                <p>{{ item.fullname | titlecase }}</p>
              </div>
            </div>
          </td>
          <td class="contact-info">
            <p>{{ (item.email | lowercase) || '-' }}</p>
          </td>
          <td>
            <p>{{ (item.role | titlecase) || '-' }}</p>
          </td>
          <td class="grade">
            <p [className]="item.status === 'active' ? 'success-status' : 'error-status'">{{ item.status === "active" ? "Active" : "Inactive" }}</p>
          </td>
          <td class="dateEnrolled">
            <p>{{ item.createdAt | date: "mediumDate" }}</p>
          </td>
          <td class="actions" *ngIf="loggedInUserData.admin_role === 'super'">
            <img src="../../../../../../assets/img/action.svg" alt="" class="clickable" (click)="toggleAction(i)" />
            <div class="dropdown" [ngClass]="{'active': activeIndex === i}">
              <small
                class="body-3-regular item clickable"
                (click)="openConfirmModal(item)"
                [ngClass]="{
                  'danger': item.status === 'active',
                  'success': item.status === 'inactive'
                }"
              >
                {{ item.status === 'active' ? 'Deactivate' : 'Activate' }}</small
              >
            </div>
          </td>
        </tr>
      </table>
    </ng-container>
  </div>
 
 <!-- Delete confirmation -->
 <app-confirm-delete 
  *ngIf="confirmModal" 
  (confrimModal)="closeConfirmModal()" 
  [confirmMessage]="confirmMessage" 
  [confirmUrl]="confirmUrl" 
  [confirmMethod]="'put'"
  (reloadData)="getReloadData()"
></app-confirm-delete>