<!-- Alert message -->
<app-alert-popup
  *ngIf="isAlert"
  [alertMessage]="alertMessage"
  [alertColor]="alertColor"
></app-alert-popup>

  <!-- Delete confirmation -->
  <app-confirm-delete *ngIf="deleteModal" (deleteModal)="closeDeleteModal()" [itemName]="teacherName" [deleteUrl]="deleteUrl" [deleteRoutePath]="deleteRoutePath"></app-confirm-delete>

<section class="new_data">
  <div class="blank-item_btn">
    <button class="btn prim_btn" (click)="openAddTeacherModal()">
      Add Teacher
    </button>
  </div>
</section>

<section class="grouping dis-flex">
  <!-- Filter -->
  <div class="filter s-f">
    <div class="body-3-regular dis-flex">
      <span class="title">Filter:</span>
      <span class="dropdown dis-flex clickable"
        >All Teachers <i class="bx bx-chevron-down"></i
      ></span>
    </div>
  </div>

  <div class="right dis-flex">
    <!-- Sort -->
    <div class="sort s-f">
      <div class="body-3-regular dis-flex">
        <span class="title">Sort:</span>
        <span class="dropdown dis-flex clickable"
          >Last modified <i class="bx bx-chevron-down"></i
        ></span>
      </div>
    </div>
  </div>
</section>

<section class="programs">
  <app-loader *ngIf="dataLoading"></app-loader>
  <div class="courses_dislist" style="overflow-x: auto" *ngIf="!dataLoading">
    <ng-container *ngIf="(teachers || []).length > 0">
    <table>
      <tr class="table-header">
        <th>Name</th>
        <th>Email</th>
        <th>Status</th>
        <th>Date Enrolled</th>
        <th></th>
      </tr>
        <tr class="table-body" *ngFor="let teacher of teachers">
          <td class="name">
            <div class="dis-flex">
              <img
                src="../../../../../../assets/img/children-avatar/child-avatar-1.png"
                alt=""
              />
              <div>
                <p>{{ teacher.fullname | titlecase }}</p>
              </div>
            </div>
          </td>
          <td class="contact-info">
            <p>{{ teacher.email | lowercase }}</p>
          </td>
          <td class="grade">
            <p [className]="teacher.isUserOnboarded ? 'success-status' : 'error-status'">{{ teacher.isUserOnboarded ? "Onboarded" : "Not Onboarded" }}</p>
          </td>
          <td class="dateEnrolled">
            <p>{{ teacher.createdAt | date: "mediumDate" }}</p>
          </td>
          <td class="actions">
            <img src="../../../../../../assets/img/action.svg" alt="" class="clickable" (click)="actionBtn.click()" />
            <input
                type="checkbox"
                name="action-btn"
                id="action-btn"
                style="display: none"
                #actionBtn
              />
              <div class="dropdown">
                <small
                  class="body-3-regular delete clickable"
                  (click)="openDeleteModal(teacher)"
                  >Delete</small
                >
              </div>
          </td>
        </tr>
      </table>
    </ng-container>
    <!-- <div style="text-align: center; padding: 1rem;" *ngIf="teachers?.length === 0">
      <span>No Teachers found</span>
    </div> -->
  </div>

  <!-- Blank -->
  <div class="dis-flex" *ngIf="teachers?.length === 0">
    <div class="blank-item">
      <img
        src="../../../../../assets/img/undraw_empty_street_sfxm 1.svg"
        alt=""
        class="blank-item_image"
      />
      <div class="blank-item_details">
        <h2 class="text-primary-color">No Teachers</h2>
        <!-- <p>
          Numquam quasi et sit earum. Culpa dicta quod officia doloribus animi
          fuga voluptatem. Iure vel hic et porro sequi.
        </p> -->
      </div>
    </div>
  </div>
</section>
